[2018-06-25 22:38] zcalusic commented on #540
Hello @ipapapa and thanks for fixing the bug!

Unfortunately, dynomite has an important role right now, so I can't easily test, atm. But, might be able to do it in the future, if I do, I'll let you know the results.

[2018-06-25 22:47] zcalusic commented on #540
One more thing, I'm already running v0.6.7 and have been for some months. I don't see that PR #562 is included in that version, being commited only some weeks ago? I suppose you will release new version with the fix?

[2018-06-26 00:41] binbowang1987 commented on #570
I do not how this issue arise, after I change conf file to the dynomit.pem file in dynomite repository, this issue looks like gone away. When the issue arising, I am using a pem file generated by myself, maybe the pem is not valid.
So, what is the correct way to generate a pem file ?

[2018-06-26 00:47] binbowang1987 commented on #571
## my environment
OS: CentOS 6.5
dynomite configuration:
[code]

and ,here is the ulimits, I don't know if this will cause this issue
[code]

[2018-06-26 02:29] venendroid commented on #572
I found the issue on my config settings for dc2: which has a typo of dc1. After I fixed the file it started working.

[2018-06-26 02:29] #572 closed, assigned to nobody

[2018-06-26 04:52] tolikr commented on #565
So it seems like Redis merged values incorrect?

[2018-06-26 09:11] binbowang1987 opened #573 "[question] ERR Dynomite: Failed to achieve Quorum"
Version: dynomite-0.6.7
configuration:
[code]

[code]

I execute the simple redis hash command, but it report error as follow, but the value has been set in two DC:
[code]

[code]

I don't know what's wrong with my dynomite cluster instance, please help me ,thank you all!

[2018-06-26 15:30] shailesh33 commented on #573
Do you have logs from the node 172.19.3.113?

On Tue, Jun 26, 2018 at 2:11 AM, Binbowang <notifications@github.com> wrote:

[2018-06-26 15:31] shailesh33 commented on #565
Dynomite will not merge values on a network disconnect. But you can use
quorum settings to get better consistency in the system.

On Mon, Jun 25, 2018 at 9:52 PM, Anatolii Botov <notifications@github.com>
wrote:

[2018-06-26 21:35] venendroid opened #574 "Redis Command echo is not working on dynomite"
Hi All,

  Redis command "ECHO" is not working on dynomite. Is this a known bug?

![image](https://user-images.githubusercontent.com/40550326/41940547-1078c65e-7967-11e8-9736-6f064ba308e9.png)

I don't see any issue running this command on REDIS directly.
![image](https://user-images.githubusercontent.com/40550326/41940593-3adf409e-7967-11e8-9ffa-bd5f39898a72.png)

Please help.

[2018-06-27 00:38] binbowang1987 commented on #573
@shailesh33 thank you for reply, here is the log from 172.19.3.113 when I run the redis command.
[code]

[2018-06-27 00:41] shailesh33 commented on #573
You can have DC_ONE as the consistency setting since you have only 1 node
per region

On Tue, Jun 26, 2018 at 5:38 PM, Binbowang <notifications@github.com> wrote:

[2018-06-27 01:39] binbowang1987 commented on #573
I used 4 nodes per region before, but it report the same error. So, I changed to use 1 node per region. I think the node number may not effect the consistency.

[2018-06-27 03:52] tolikr commented on #565
Ok, i understand. Thanks.

[2018-06-27 03:52] #565 closed, assigned to nobody

[2018-06-27 16:20] #573 closed, assigned to nobody

[2018-06-28 07:19] binbowang1987 opened #577 "[question] Why two dynomite node connection timedout ?"
Dynomite version: v0.6.7
Configuration:

[code]

[code]

dc-cq log:
[code]

dc-wx log:
[code]

Please help me , thank you!

[2018-06-28 19:07] srivikarthik opened #578 "Dynomite rack nodes always slave to another redis cluster ?"
1. We have a set of "standalone" redis instances as a cluster (consider it as a rack outside dynomite). Is it possible to slave all the rack nodes to these instances all the time ? I am thinking of using the dynomite racks only for replication and not for direct application write use case. Your thoughts on this ? .

2. Also is it possible to create more replication racks and serve traffic without

[2018-06-29 04:40] anujwalia opened #579 "Dynomite Integration with AppDynamics [Question]"
Hi All,

I am planning to use Dynomite for one of my service. However i need to understand if i can integrate it with AppDynamics(https://www.appdynamics.com) for performance monitoring.
I know Dynomite have Atlas for this, but as per my limited understanding according to this article (https://github.com/Netflix/atlas/wiki/Overview), very few features are open source.

If someone can throw some li

[2018-06-29 07:10] binbowang1987 commented on #577
I find out the problem now. There is a firewall between two DC, and the inactive connection will be removed after 5 minutes. So, I set the `net.ipv4.tcp_keepalive_time`  smaller than 5 minutes. The connection is normal now.

[2018-06-29 07:10] #577 closed, assigned to nobody

[2018-06-30 13:26] #579 closed, assigned to nobody

[2018-06-30 20:40] mcouillard commented on #579
Dynomite can output metrics to a page (defaults to port 22222) and that's what I use in conjunction with a custom scraper that takes the data and inserts it into a time series database for Grafana visualization. If AppDynamics supports custom ingestion like that then it could be fine.

Plus the usual Redis stats is still output to a page could also be ingested. I think some like Datadog support th

[2018-07-07 06:31] ipapapa commented on #569
For example, in host A 216.11.111.1, you seem to have two Dynomite configurations. One that listens to 8102 and one that listens to 8104. For us, we have at least one host per rack. See an example: https://github.com/Netflix/dynomite/blob/dev/conf/redis_rack1_node.yml

[2018-07-07 06:41] marimcmurtrie commented on #569
I understand your example. The example has only 1 node per rack - there are 3 racks, each rack has 1 node.
Mine here is, 1 rack with 2 nodes, and those 2 nodes are hosted in the same server (host 216.11.111.1). That is why I have 2 configurations in the same IP. Is it wrong or not expected? Maybe I am confused (sorry).

[2018-07-09 10:46] KowalczykBartek commented on #574
echo is not supported https://github.com/Netflix/dynomite/blob/dev/notes/redis.md

[2018-07-09 19:10] marimcmurtrie commented on #569
So you know, I am not familiar with those racks, nodes, etc. But now I think, you named these from real physical "racks" etc. Then I think "node" refers to a server in a "rack"?
If so, then I think you guys think it is a common sense that each node should be hosted its own server. Is it your assumption?
If so, then I lack the knowledge (sorry). I am just reading Dynomite configuration only to see

[2018-07-09 22:26] marimcmurtrie commented on #569
Ok, so I changed my Dynomite cluster. I have
- 1 data center
- 2 racks
- Each rack has 1 node

So total 2 nodes in the datacenter. I host each node in own server. Below is config. It is working.

**redis_rack1_node_mari.yml**
[code]
**redis_rack2_node_mari.yml**
[code]

[2018-07-09 22:28] marimcmurtrie commented on #569
I still want to know only 1 thing for clarity - I wrote that in my comment above but here, in short:
Should we host each node separately?
Thanks

[2018-07-11 05:15] ipapapa commented on #569
You can do whatever works for you. As I mentioned above, the configuration that you had above was working so it was OK. My comment was more about failure scenarios that you may see later on. For example, if you have a "server" with two hosts, and the server has a connectivity issue, then both hosts would have a connectivity issue, then you will have a network partition in more than one Dynomite pr

[2018-07-11 06:07] marimcmurtrie commented on #569
I understand what you mean @ipapapa, thank you so much for your patience. I've been an app developer so I have not worked on backend data storage design. Apology for my lack of knowledge.
But yes, as you said, if I have multiple nodes hosted in 1 server, then if the server failed, then i lose multiple nodes. I know you guys have at least 2 racks per data center for high availability. That is not m

[2018-07-11 06:07] #569 closed, assigned to nobody

[2018-07-14 22:02] KowalczykBartek commented on #550
@shailesh33 sorry for update almost after one month :D
I was not able to reproduce my Redis fail.
But be back to memcached, this is state in GDB
[code]
because peer is uninitializedpoints to NULL) it causes SIGSEGV

btw, I started to play with GDB and Dynomite, and I found first problem  ( there was used property peer instead of selected_rsp) - of course I can be wrong (I didn't deep into source c

[2018-07-15 19:13] axelc opened #580 "Support for redis streams (XADD / XREADGROUP / XRANGE...)"
Are redis streams in the roadmap for Dynomite at some point?

[2018-07-17 14:57] JeremyHutchings opened #581 "External PDF link issue in docs"
I found on this wiki page :
 - https://github.com/Netflix/dynomite/wiki/Membership-protocols
A link to a PDF :
 - https://www.cs.cornell.edu/~asdas/research/dsn02-swim.pdf

Which is a 404.

Is this the document linked to ?
- http://www.cs.cornell.edu/projects/Quicksilver/public_pdfs/SWIM.pdf

[2018-07-24 20:10] yura415 opened #582 "How to generate RSA private key (.pem) to use with Dynomite?"
I've tried to use openssl tool from libssl and aes128 algorithm to generate encrypted key and then remove password from it:

[code]

Dynomite boots normally with this key provided but it disconnects client on first write. I've tried to replace my generated key with default key from conf/dynomite.pem and it worked.

The question is - how the original key from conf dir was generated? Can someone pro

[2018-07-25 13:45] sheldon-sminq opened #583 "Question regarding replication"
I have single node on 2 different servers, and want the data replicated between the 2 redis instances.

My current config is below, but data is not replicated.

[code]
[code]

[2018-07-26 04:42] rajangamsj opened #584 "How to add new node without restarting dynomite"
To add a new node, I update the dyn_seeds in .yml file and it is required to restart the dynomite to again read the seed node information from the yml file.

Is there a way to do this without the requirement to restart (any APIs which would trigger dynomite to read the yml file again or just to send the new node information without the need to restart?)

[2018-07-27 01:21] mcouillard commented on #583
I think you'll want each server to handle all tokens - so set both to the max. Right now it looks like each are handling only half the data, so nothing is replicated. When both handle all data it should be replicated.

[2018-07-27 01:22] mcouillard commented on #584
I second this idea! Would love to skip the (quick) disruption of a restart when scaling up/down by adding nodes.

[2018-07-27 07:03] sheldon-sminq commented on #583
Not really clear with the max token setup, is it possible to give and example config?

[2018-08-02 11:04] rajanarayan92 opened #585 "Does "florida_provider" way of finding seed nodes require gossip to be enabled?"
When dyn_seed_provider is set to florida_provider in yml file, do we need to enable gossip in dynomite?

The fact is that, when I run the dynomite server, I cannot add "-g" option, it doesn't understand this option. As per the wiki, it says to enable gossip by providing "-g" option

-g, --gossip            : enable gossip (default: disabled)

Also the document states that gossip is in experimental

[2018-08-03 08:49] rajanarayan92 opened #586 "Dynomite is not sending HTTP REST Request towards florida server"
I am running two test cases and the description is as follows.
1) Florida server is running on local host
2) Florida server is running on some specific IP, let's say "192.168.219.133"

In the case 1)
I do not set any environment variables for DYNOMITE_FLORIDA_REQUEST, DYNOMITE_FLORIDA_IP and DYNOMITE_FLORIDA_PORT, so by default it will take the below request as per the source code

#define FLORIDA

[2018-08-03 10:50] rajanarayan92 commented on #585
Can some one also provide the information on what is the role of gossip in dynomite with some examples?

[2018-08-03 20:17] shailesh33 commented on #585
If you have a seeds provider set, then you do not need gossip. And We
recommend you use a seeds provider. Look at
https://github.com/Netflix/dynomite-manager/ for more details.
It is a sidecar for managing Dynomite.

On Fri, Aug 3, 2018 at 3:50 AM, rajanarayan92 <notifications@github.com>
wrote:

[2018-08-04 01:03] mcouillard commented on #583
I've seen some use a real high value, but I just use zero. So in dyn_seeds after the last colon of each server goes a 0. Then down below, tokens: '0'. That means each node has all data, not a sharded subset.

[2018-08-08 05:42] #585 closed, assigned to nobody

[2018-08-08 05:43] rajanarayan92 commented on #585
Thank you Shailesh.

[2018-08-08 06:19] rajanarayan92 opened #587 "Dynomite "writes_only" state throws error "ERR Storage: Datastore refused connection" when write request is issued"
Hi,

I'm trying to understand the behavior of dynomite's "writes_only" state. To achieve this I executed below mentioned steps,

1.  Run the command curl 'http://localhost:22222/state/writes_only' -> moves the dynomite to write only mode.
2. Test any read requests and it fails as the dynomite is in writes_only mode.
((error) ERR Dynomite: Dynomite's current state does not allow this request)

3. B

[2018-08-10 02:55] stephennyu commented on #587
I got the same issue with dynomite v0.5.9
Anyone has idea of whether this a bug or just a missing configuration ?

[2018-08-10 08:03] sheldon-sminq commented on #583
I created these new ymls, 2 nodes in same datacenter want to replicate all data between 2 redis nodes running on port 6379 and 6380. Currently no luck with the master master replication.

[code]

[code]

[2018-08-10 17:04] zcalusic commented on #540
OK, with v0.6.8 released, I will now test for this bug again and report back. Stay tuned...

[2018-08-12 01:10] mcouillard commented on #583
Configs seem to look OK, though the consistency should probably be DC_ONE. Otherwise, perhaps it's something more basic: are your clients using the dynomite port to interact with redis, 8103/4? If you use the redis backend port, 6379/80, nothing will be replicated.

[2018-08-13 04:57] sheldon-sminq commented on #583
@mcouillard thanks for the update, my bad was using the redis client directly with the original ports. Replication seems to work now using the dynomite ports.

[2018-08-13 04:57] #583 closed, assigned to nobody

[2018-08-13 08:29] sheldon-sminq opened #588 "GEOADD, GEORADIUS support Redis"
We are testing replication between 2 redis nodes using dynomite, the replication is working fine but we came across an issue while using geo commands of redis.

Does dynomite support these commands?

[2018-08-13 17:50] shailesh33 commented on #588
Hi
Dynomite does not support Geo commands yet. But I do not see why it cannot
be done. It is just like other single key commands.
Do you want to give it a stab?
Check proto/dyn_redis.c

On Mon, Aug 13, 2018 at 1:29 AM, sheldon-sminq <notifications@github.com>
wrote:

[2018-08-14 06:37] sheldon-sminq commented on #588
Hi @shailesh33

Had a look at the code and it was pretty simple to add support for GEOADD and GEORADIUS, how do i go about adding this contribution here?.

[2018-08-14 09:55] sheldon-sminq commented on #588
pull request added for the same.

https://github.com/Netflix/dynomite/pull/589

[2018-08-14 09:55] #588 closed, assigned to nobody

[2018-08-16 05:42] sheldon-sminq commented on #588
After adding the support we could use the commands as expected, but now have come across a blocker that prevents us from using dynomite for now. We use Redisson as our java client and make use of the Batch commands there. According to the doc Redisson uses multi/exec for batch operations which is not supported in dynomite.

[2018-08-16 15:32] shailesh33 commented on #588
Hi
Yes we do not support radisson yet. We just use 'dyno' client and do not
support transactions.

On Wed, Aug 15, 2018 at 10:42 PM, sheldon-sminq <notifications@github.com>
wrote:

[2018-08-19 09:48] zcalusic commented on #540
23 dynomite instances,running for more than a week and not a single crash.

I consider this case closed, good job @shailesh33!

[2018-08-19 09:48] #540 closed, assigned to nobody

[2018-08-21 14:12] kylegato commented on #510
I was able to compile/get past this problem on Debian (9.5) by installing `libssl1.0-dev` instead of `libssl-dev`

[2018-08-21 21:52] blueben opened #591 "Use of AES key as IV will leak the key"
https://github.com/Netflix/dynomite/blob/f59986bac5e6c7ec81f5b92209f5d65e5b7ab2a3/src/dyn_crypto.c#L265

EVP_EncryptInit_ex is being called with arg_aes_key as the IV. This is a problem as an IV must be both unique (used only once) and random when used in a CBC mode (as is the case here). This means that the IV is easily recovered and because the IV  is the key, it means that attackers can recover

[2018-08-21 22:48] smukil opened #592 "Dynomite may crash in req_forward_error() if msg_get_error() returns NULL"
https://github.com/Netflix/dynomite/blob/dev/src/dyn_client.c#L420-L421

msg_get_error() may return a NULL pointer for a few reasons.
https://github.com/Netflix/dynomite/blob/df884c0dde610d2e85aed2b9f18bcf8d7ebebd7b/src/dyn_message.c#L512-L550

If this happens, we would dereference a NULL pointer leading to a crash. I still don't have a clean fix in mind since the req_forward_error() function retu

[2018-08-24 17:53] smukil opened #595 "Get rid of all compiler warnings and enable '-Werror' flag"
This is a larger effort, but let's fix all the compiler warnings and enable the '-Werror' to treat all warnings as errors, so that all future code cannot get checked in unless they have no warnings as well. This may help us to avoid accidentally introducing bugs like data loss during implicit casts, etc.

[2018-08-30 16:18] smukil opened #599 "Allow Dynomite to be built using ASAN"
Dynomite may a few memory leaks, invalid memory accesses, etc. We can use AddressSanitizer (much faster and more efficient than Valgrind) to create debug builds which can help us catch all these issues and fix them, thereby making Dynomite much more stable.

https://github.com/google/sanitizers/wiki/AddressSanitizer

[2018-08-30 22:46] jhsolor opened #600 "Dynomite REST API on Alpine 3.8 segmentation fault"
Building and running dynomite on alpine:3.8 in Docker, any REST API call hits a segmentation fault. Example:

[code]

I receive this for any API call.

Sample `Dockerfile`:

[code]

Running dynomite.yml:
[code]

On a hunch, I tried lowering the char array size on [dyn_stats.c#L984](https://github.com/Netflix/dynomite/blob/ac2d8a23c2a87dcd95a80dcd6331ef2d155c5ec7/src/dyn_stats.c#L984) to 65535 in [

[2018-08-30 23:35] ipapapa commented on #600
I was wondering if you have seen our Docker images: https://github.com/Netflix/dynomite/tree/dev/docker

[2018-08-31 01:21] smukil commented on #600
@jhsolor From googling, it seems like Alpine Linux uses musl libc.

https://wiki.musl-libc.org/functional-differences-from-glibc.html#Thread_stack_size

Musl libc has a default thread stack size of 80k, so since the 'max_buf_size' exceeds that, when we do the memset call, it buffer overflows the call stack of the function, most likely overwriting the return addresses and stack base pointers causin

[2018-08-31 15:48] jhsolor commented on #600
Thank you, @smukil and @ipapapa! I appreciate the quick response and good info.

On my fork I'm considering a quick fix like:
[code]
Would you be averse to something like this?

[2018-08-31 16:53] smukil commented on #600
@jhsolor We can reduce the 'max_buf_size' to 65536 as well, since that's the simplest fix. I think 99999 was chosen arbitrarily. Would you like to submit a PR to change the default size? Then you wouldn't need to maintain a fork for this small change as well.

[2018-08-31 17:18] jhsolor commented on #600
Perfect, will do.

[2018-08-31 17:23] jhsolor commented on #600
PR created: https://github.com/Netflix/dynomite/pull/602

Thanks!

[2018-08-31 17:43] #600 closed, assigned to smukil

[2018-09-12 10:30] Felixoid commented on #436
Hello. I've done my best to implement the functionality from the topic without a backward compatibility breaking in #604. Could you take a look, please, @ipapapa or @smukil ?

[2018-09-13 15:40] ipapapa commented on #587
The comment from @timiblossom on what should happen is correct. If we do not see this behavior then something is off. Note that we use the `write-only` state in the warm-up process extensively: https://github.com/Netflix/dynomite-manager/wiki/Cold-Bootstraping

[2018-09-15 17:12] jonathanleang commented on #503
its been a year and no one bother to answer 👎

[2018-09-15 20:55] mcouillard commented on #503
I'm no expert, but I've been using Dynomite for a few months. I think this wiki page outlines the topology and answers most of your questions:
https://github.com/Netflix/dynomite/wiki/Topology

Yes,  I think 1 dynomite per redis instance.

I've never used the 3 connection configs before in my 2-3 node/rack setups. Some are discussed here: https://github.com/Netflix/dynomite/issues/368

[2018-10-01 12:03] rcmorano opened #611 "Some commands not going thru dynomite"
Aloha,

I'm facing some weird connectivity problems and maybe someone can bring some light to the problem or help me to debug further.

I'm currently running a dynomite cluster inside Docker containers and everything is working as expected.

I wanted to try the cluster behind a [F5 BIG-IP LTM](https://www.f5.com/products/big-ip-services/local-traffic-manager) and I haven't been able, for example,

[2018-10-01 14:30] rcmorano commented on #611
I've just compiled dynomite with _--enable-debug=full_ (I thought I read somewhere that verbosity=11 gives the same output but it seems it doesn't) and now I have some more insight.

I did a quick _telnet_ test on _localhost_ and I got the same results (connection drop), so I can discard any "outside world" network issue by the moment, as it remains the same if I _telnet_ dynomite directly.
Of cou

[2018-10-08 12:26] duraisridhar opened #613 "Connection refused error between dynomite nodes"
Hi ,
Running dynomite-0.6.7 in two nodes(dc1,dc2)  for testing .  Using redis_dc1.yml (dc1 node)  and redis.dc2.yml (dc2 node)  to start dynomite in corresponding nodes. The dynomite ports up in both noes , but continously getting below error in both nodes .
[2018-10-08 17:27:16.460] core_close:417 close <CONN_REMOTE_PEER_SERVER 0x221c6e0 18 to '192.168.212.216:8101:rack2:dc2:1383429731'> on event

[2018-10-08 16:56] smukil commented on #613
Hi @duraisridhar , could you post logs with higher verbosity? You can increase the log level by running dynomite with (-v 11).

[2018-10-11 05:50] duraisridhar commented on #613
Hi Mukil,
Thanks for your reply.
Issue resolved after configuring IP address . Closing the ticket.

[2018-10-11 05:50] #613 closed, assigned to nobody

[2018-10-13 14:14] kallaballa opened #615 "Support for kyoto tycoon"
I'd like to ask if there are any plans to support kyoto tycoon as a backend. And if not, I'd like to find out what it takes to implement it, since i might do it.

[2018-10-14 13:33] kallaballa commented on #615
@ipapapa stated on gitter that he (nor anyone else i guess) hasn't looked into it. I will try to find out what it takes to implement kyoto tycoon support. Btw. the main protocol (it also support others) is a TSV-RPC implementation: http://fallabs.com/kyototycoon/spex.html#protocol

[2018-10-14 13:54] ipapapa commented on #615
Some good information can also be found in #310. I specifically describe the Mongo work which can be used as a driver for this work. Adding a parser first requires adding a protocol parser in [proto](https://github.com/Netflix/dynomite/tree/dev/src/proto). Currently, there is Memcached and Redis, with Redis being the one we use in production.

[2018-10-15 10:31] kallaballa commented on #615
Ok.. I did read through the whole wiki and i tried to wrap my had around code in proto. But there is something i really don't understand and that is the msg struct. Could you eloborate on it?

[2018-10-15 17:38] smukil commented on #615
@kallaballa The msg struct comes as part of the fork from twemproxy. The best way to analyze the struct is to look at it under GDB to see how it's accessed/modified during a query.

Some of the important fields are:
struct mhdr mhdr;
This is the 'mbuf' header and is initialized here:
https://github.com/Netflix/dynomite/blob/dev/src/dyn_mbuf.h#L47
It contains a list of 'mbuf'(s) which are the buffe

[2018-10-16 17:16] kallaballa commented on #615
I started on implementing the parsing code: https://github.com/kallaballa/dynomite/commit/8b20830834f65c1a339f8edc2054a8fd70abf536

The code compiles but it is completely untested. Also please note that I'm a C++ dev and don't know my way around C well. Am i going somewhere with this?

[2018-10-17 12:56] ipapapa commented on #615
You also need to add `data_store` number so that one can choose your proto and I assume there are more changes to be made. In the end, it would be nice to expand the testing framework to add some unit/functional testing.

[2018-10-18 17:25] kallaballa commented on #615
Ok. i've got it to the point where dynomite is able to forward messages between a single node and a single client: https://github.com/Netflix/dynomite/compare/dev...kallaballa:dev
But the parser code is error prone and cumbersome. Would it be acceptable if i used https://github.com/h2o/picohttpparser for parsing?

[2018-10-19 08:38] kallaballa commented on #615
I completed the parser code and it works fine. dynomite is forwarding messages correctly. how do i proceed? e.g.: how do i make dynomite aware of keys.

[2018-10-19 12:36] ipapapa commented on #615
I am not following your question. If Dynomite is doing what it is supposed to do, what do you mean by Dynomite being aware of the keys?

[2018-10-19 12:55] kallaballa commented on #615
I thought that following functionality needs dynomite to be aware of what keys are present in which node.

[2018-10-19 17:33] kallaballa commented on #615
Let me phrase it more precise. At the moment all the kyoto tycoon code does is parse the message and discard keys and values. I can see that the redis code and the memcached code does more than that.
e.g. they manipulate msg->keys and msg->token. What do those fields do. Are there other fields i have to setup?

[2018-10-19 18:17] smukil commented on #615
@kallaballa 'keys' basically holds the array of all keys mentioned in the query.
Eg: The Redis query 'smembers myset', would have mean that the 'keys' array has one element called 'myset'.

It's then used in other places for additional verification. Eg: We check the 'keys' array here to make sure that all the keys accessed for an EVAL query are on the same node:
https://github.com/Netflix/dynomite

[2018-10-19 18:21] kallaballa commented on #615
thank you so much. I think i got enough to continue on.

[2018-10-20 16:01] kallaballa commented on #615
is msg->pos always a null terminated string or is there another way to determine its length?

[2018-10-21 07:49] kallaballa commented on #615
I found the answer, the length can be determined by: b->last - b->pos.
e.g: https://github.com/kallaballa/dynomite/blob/aab424f44f8b43d51083ad735834d1f4dd513128/src/proto/dyn_tycoon.c#L283

[2018-10-22 12:40] kallaballa commented on #615
I've successfully implemented parsing of set, get and remove command. Additionally keys are parsed and added to the msg. Now i have 2 questions:

1. What else is there to do to integrate kyoto tycoon?
2. I would like to implement cursor based KT commands. Which means that first a cursor will be created, returning a descriptor for the cursor, followed by a series of commands which use the descripto

[2018-10-24 18:05] ipapapa commented on #615
For (1): Do you have a functional prototype? It would drive you through what is needed. You can deploy a single node Dynomite with a Kyoto Tycoon backend to figure out what is missing. Eventually, we might want to add some more [testing scripts](https://github.com/Netflix/dynomite/tree/dev/test) for Kyoto Tycoon so changes made at Dynomite are properly supported by the data stores (we usually try

[2018-10-24 18:08] ipapapa commented on #611
Yes, it should. What version of `redis-cli` are you using? In which part of the syntax have you observed a divergence?

[2018-10-24 18:11] kallaballa commented on #615
1. Yes: https://github.com/kallaballa/dynomite
2. Thanks, I'll check it out.

[2018-10-28 10:55] kallaballa commented on #615
I have implemented all commands my application needs (including cursor based commands) and it works in a single node setup _if_ i turn the dynomite verbosity level to 8 or more. Else it breaks. Any idea what might cause this?

[2018-10-28 12:12] kallaballa commented on #615
OK, i found the bug that broke the parser, though i still have no clue why behavior changed with verbosity level. How would i test a mutli node setup? e.g. How do i test if conflict resolution and sharding does work?

[2018-10-29 12:31] kallaballa commented on #615
I created a 3 nodes in one rack setup by using following conf files:
https://github.com/kallaballa/dynomite/blob/dev/conf/tycoon_rack1_node1.yml
https://github.com/kallaballa/dynomite/blob/dev/conf/tycoon_rack1_node2.yml
https://github.com/kallaballa/dynomite/blob/dev/conf/tycoon_rack1_node3.yml

Replication doesn't seem to work. When i set a key on node1 that key doesn't exist on node2 and node3.

[2018-10-29 15:42] smukil commented on #615
Hi @kallaballa . It may be the case that some debug/higher verbosity statements may have some implicit behavior changing effects which are definitely bugs, and if you find them, including a fix for that would be a great idea as well.

The best way to simulate a cluster is to look at the script in test/cluster_generator.py. That is a test script that sets up a simulated multi-node Dynomite backed b

[2018-10-29 22:33] numberten commented on #591
Openssl isn't appending the iv to the ciphertext for use in decryption, which is why it's required for decryption. Since the iv isn't being sent over the wire, the only side effect of making the iv equal to aes_key is that encryption is now deterministic.

Since there is no encryption oracle, an attacker isn't able to guess plaintexts either (the advantage gained by determinism).

[2018-10-30 09:27] kallaballa commented on #615
Well i think we are not there yet. The code I've written is full of guesses since all I did is trying to mimic what other parsers do. I'm pretty sure the code is missing out on a lot that goes on in dynomite. It would be really nice if someone could look at the code and guide me. I will still look into creating a cluster generator.

[2018-10-30 10:59] rcmorano commented on #611
Hi @ipapapa, thanks for your reply!

I'm, using "redis:4" docker image. It's version 4.0.11 to be exact **[1]**.

The divergence I appreciate is that _redis_ itself recognizes a raw "info" sent via _telnet_ (without the extra bytes I explained in my last reply **[2]**), but when you try to send it to _dynomite_, it does not recognize the command.

_ping_ command works, though.

**[1]**

**[2]**
-

[2018-10-30 16:42] smukil commented on #615
@kallaballa I can have a look at it, but my review might be slow since I don't have too much context on Kyoto Tycoon yet. I would suggest that if you make improvements, you can continue to add them. Additionally, documenting non-trivial parts of the code would be very helpful.

[2018-10-31 18:43] smukil commented on #591
@numberten You bring up a fair point, however, even though there isn't an encryption oracle, snooping traffic for long periods of time could give an attacker _some_ insight into the data due to the determinism. It definitely would be a hard attack to carry out, but we should still fix it nonetheless.

[2018-10-31 21:17] numberten commented on #591
@smukil

I agree!

I tried to keep my original comment succinct with the intention of explaining why I didn't think dynomite's crypto scheme was "completely ineffective". I'm definitely not advocating for deterministic encryption!

[2018-11-30 16:24] topilski opened #621 "Dynomite and Redis integration driver for FastoNoSQL"
Hi, i found here https://github.com/Netflix/dynomite/blob/dev/notes/redis.md commands which dynomite support in Redis, i think i can implement driver for dynomite to show Redis content. is it a good idea? do you have some use cases when needed GUI for this solution?

[2018-12-01 19:25] ipapapa commented on #621
Dynomite supports a subset of the vanilla Redis commands. What type of driver do you have in mind?
We have an internal GUI that we have not yet open sourced (and we are not sure when). You can find some more information at this [video](https://youtu.be/MPrJIFVgy6g?t=1118). However, we would love to help you out if you want to create an OSS GUI.

[2018-12-01 19:26] ipapapa commented on #615
@kallaballa how far are you in filling a PR?

[2018-12-01 19:28] ipapapa commented on #611
Yeah, it may be some commands in the Redis cli. I feel I have seen that with somebody else. Please feel free to file a PR to fix this misalignment. It should not be a big change to support the extra strings. FWIW we are currently running Redis 3.2.x so we have not seen a lot this issue but we will upgrade to Redis 4.x soon.

[2018-12-01 19:34] topilski commented on #621
Hi @ipapapa thank you for reply, we have 10 database drivers (FastoNoSQL slang, common interface wrap DB api) here sources https://github.com/fastogt/fastonosql_core/tree/master/src/core/db , in your case i think driver can be inharitance from https://github.com/fastogt/fastonosql_core/tree/master/src/core/db/redis_compatible which based on hiredis with ssh support , but commands count will be les

[2018-12-01 20:13] ipapapa commented on #621
Correct. Note that Sentinel and Cluster commands are not relevant to us because Dynomite is multi-master and does not require external management systems.

[2018-12-03 08:30] topilski commented on #621
Hi @ipapapa , i added DynomiteDB driver into FastoNoSQL here screenshot:

![dynomitedb](https://user-images.githubusercontent.com/4686379/49362069-c60a1900-f6ee-11e8-9229-1e1af8e4a0a0.png)

It will be very cool if DynomiteDB have AUTH, SELECT, and DBSIZE implementation.

[2018-12-03 20:37] ipapapa commented on #621
Awesome looks good. Note that `DynomiteDB` is a private company not currently associated with the project. Our OSS solution is called `Dynomite`. Currently, we only allow single DB that is why the `SELECT` command is not there. At some point, we are thinking of adding AUTH.

[2018-12-04 00:21] topilski commented on #621
Hey @ipapapa thank you for reply, i will rename. Can i use this logo or need to change? Also how can i see DBSIZE not implemented?

[2018-12-04 14:27] ipapapa commented on #621
I think the logo is not correct. You can find Dynomite's logo under [images](https://github.com/Netflix/dynomite/tree/dev/images). I do not see any issue in adding `DBSIZE`. It should be fairly simple but would return the local copies size.

[2018-12-04 16:15] topilski commented on #621
Hi @ipapapa , thank you for feedback, i updated resources and renamed driver. I will release FastoNoSQL on next Monday, also i will add links to Dynomite on our websites. Dynomite is very interesting solution, thank you for you job.

[2018-12-04 16:15] #621 closed, assigned to nobody

[2018-12-24 17:53] posix4e opened #622 "Coldstarting dynomite"
As much as I appreciate dynomite-manager, we don't run a production cassandra installation so it's not very useful for us. I'm curious what my other options are for cold starting a dynomite server, without dynomite-manager

- [ ] We only use one set of shards. Our datasizes are relatively small we just want to write them anywhere
- [ ] We are using this as a cache, and all the data gets flushed in

[2018-12-25 13:47] ipapapa commented on #622
You do not need to use Cassandra to leverage Dynomite-manager. We are only using Cassandra for token management. Since DynamoDB now supports global tables and transactions, I think it should be a great option to store the tokens.

The Cold Bootstrapping process is explained [here](https://github.com/Netflix/dynomite-manager/wiki/Cold-Bootstraping). As you can see the only thing that is needed is t

[2018-12-25 13:51] ipapapa commented on #586
It sounds like a configuration issue. I am curious what are you trying to achieve? What is the role of the environmental variables?

[2018-12-25 13:56] ipapapa commented on #584
Yes, Dynomite gets the updated tokens through a REST call. You do not need to restart Dynomite for it to get the tokens updated. Dynomite would to that for you in the background. This is effectively how it gets the tokens updated once a node dies and a new one comes up.

The YAML file is only used to bootstrap Dynomite, and it does not get used later on. Hence, that is why you do not see the topol

[2018-12-25 13:59] ipapapa commented on #580
We do not have a use case right now so not in our roadmap. Things change though quarter by quarter. If you are up to contributing the commands it should be fairly simple.

[2018-12-25 18:13] posix4e commented on #622
let’s discuss this script, as i’d like to make a guide to use it this way... with enough help. just a hostname - token mapping?

[2018-12-25 22:27] mcouillard commented on #622
Here's the basic steps of an Ansible script we use to add new nodes to a cluster; may be of use:

systemctl stop dynomite
redis-cli -p {{ redis_port }} SLAVEOF {{ master_node }} {{ redis_port}}
pause seconds: '{{ sleep }}'
redis-cli -p {{ redis_port }} info replication
redis-cli -p {{ redis_port }} SLAVEOF NO ONE
systemctl start dynomite

My situation is a bit more simple in that every node contai

[2018-12-26 18:49] ipapapa commented on #622
There are a few details that you are missing in the script (1) monitor the offset to make sure it is small enough. Sometimes you may not achieve the perfect offset; (2) set Dynomite in write-only, so even if there is an offset then you can flush it then and then enable Dynomite to accepts reads as well. These circumstances are useful in a high write scenario, but if you have low traffic, you can p

[2018-12-26 19:40] posix4e commented on #622
what happens if you have write only and slave mode activated? double writes? that’s probably fine for a lot of use case.

[2018-12-27 13:40] ipapapa commented on #622
If Redis is in Slave mode, it cannot accept writes and therefore Dynomite will return exceptions to the client. There is no reason to be in that mode.

[2018-12-27 17:44] posix4e commented on #622
ipapapa, so does that mean when transitioning there's  write hole?

[2018-12-27 19:07] ipapapa commented on #622
That is why I mentioned above: `(2) set Dynomite in write-only, so even if there is an offset then you can flush it then and then enable Dynomite to accepts reads as well.`. Then you disable the slave mode (I am sorry I forgot that). Hence, Dynomite will buffer the writes and flush them once you switch.

[2018-12-27 19:08] posix4e commented on #622
Ooh nice! We should really make it explicit that this is what is going on

[2019-01-03 13:36] ipapapa commented on #432
Apparently, this has been resolved but it has been an open issue for some time. I am closing it.

[2019-01-03 13:36] #432 closed

[2019-01-03 13:37] ipapapa commented on #581
Thank you for the note. We have taken care of this documentation issue.

[2019-01-03 13:37] #581 closed, assigned to nobody

[2019-01-03 13:39] ipapapa commented on #542
This question seems to have been answered. I am therefore closing this issue. If you have any further questions, please open a new issue.

[2019-01-03 13:39] #542 closed, assigned to nobody

[2019-01-03 13:40] ipapapa commented on #523
This issue has been answered.

[2019-01-03 13:40] #523 closed, assigned to shailesh33

[2019-01-03 13:45] ipapapa commented on #580
This question has been answered. If you wish to have a discussion please add your response in this issue and we can re-open it.

[2019-01-03 13:45] #580 closed, assigned to ipapapa

[2019-01-08 01:14] blueben commented on #591
Fair enough. Completely ineffective is a bit hyperbolic. Still, I'm glad this is on the docket to fix.

[2019-01-08 03:29] numberten commented on #591
https://github.com/Netflix/dynomite/pull/618 is my proposed solution for this issue. Probably worth keeping this ticket open, or creating a new one making note of the deterministic encryption, until a fix (#618 or otherwise) is merged into a stable branch.

[2019-01-09 12:41] duraisridhar opened #625 "dynomite server Connection closing issue"
Hi ,

Connection is closed intermittently   between my application and dynomite. Dynomite running in VMware system .

I see below logs in dynomite

`[2019-01-09 16:30:45.999] proxy_accept:214 <CONN_PROXY 0x1ae9db0 260 listening on '172.17.247.114:8102'> accepted <CONN_CLIENT 0x21a1060 6406 from '172.17.247.114:5866 '>
[2019-01-09 16:31:01.579] core_close:417 close <CONN_CLIENT 0x21a1060 6406 from

[2019-01-09 22:28] smukil commented on #625
Hi Sridhar,

What HostSupplier are you using in Dyno?
https://github.com/Netflix/dyno/wiki/Configuration#hostsupplier

[2019-01-10 04:13] numberten opened #627 "Encryption is deterministic"
The problem of deterministic encryption was originally brought up in [this issue](https://github.com/Netflix/dynomite/issues/591) (now closed).

[2019-01-18 11:54] duraisridhar commented on #625
Hi  Sailesh,
Thanks for your reply.  Issue resolved after increasing the MaxConnsPerHost . Earlier default MaxConnsPerHost value 3 is used.

Below host supplier is used

`public HostSupplier getHostSupplier() {

		         hostSupplier = new HostSupplier() {

		            @Override
		            public List<Host> getHosts() {

		                return Collections.singletonList( new Host('localhos

[2019-01-18 11:54] #625 closed, assigned to nobody

[2019-01-24 03:10] 52tt opened #630 "Need help -- sharding not working"
[ The title should be updated to "what is the hash algorithm for the key", however I didn't find a way to update it. Please directly go to the "Update" section. ]

Hi,

I have a cluster with 1 dc, 2 racks, 4 nodes, running on 2 physical boxes:

rack-2000:
    * node-2000@box0: listens on box0:2000, backend redis listens on same box port 2300;
    * node-2000@box1: listens on box1:2000, backend red

[2019-01-26 03:22] 52tt commented on #584
What is the REST call to update the tokens?
I can not find that call from https://github.com/Netflix/dynomite/wiki/REST :-(

[2019-01-28 07:20] rajangamsj commented on #584
We ran the Florida server (https://github.com/Netflix/dynomite/tree/dev/scripts/Florida) and updated the seeds.list file.  Dynomite is able to get the updated seeds information through the Florida server.

[2019-01-28 07:20] #584 closed, assigned to ipapapa

[2019-01-28 13:37] ipapapa commented on #584
In addition, if you are using Dynomite-manager see the listed REST endpoints including `get_seeds`: https://github.com/Netflix/dynomite-manager/wiki/REST-API

[2019-01-28 13:39] ipapapa commented on #591
@numberten see my comments on the PR on why #618 has not moved forward. I also do not feel we should be closing this issue until it is fixed.

[2019-01-28 13:41] ipapapa commented on #627
To avoid back and forth between tickets, I reopened the other one.

[2019-01-28 13:41] #627 closed, assigned to nobody

[2019-02-01 00:57] 52tt commented on #630
Already found answers to my questions. This ticket can be closed. Thanks.

- The hash algorithm for a key is implemented in [hash_murmur()](https://github.com/Netflix/dynomite/blob/dev/src/hashkit/dyn_murmur.c).
- Hash to token:  Comment of vnode_dispatch() says "if token falls into interval (a,b], we return b.".

Hints:
[code]

[2019-02-02 05:27] ghost opened #631 "Dynomite cluster does not respond when peer node is stopped"
Hi
I build the dynomite cluster in datacenter1 and in rack1 with 3 nodes . I got the issue  **peers not connected while I performing SET/GET operation**, if one of the node is stopped . please give the solution How can I will make it work , eventhough one of the node is stopped

[2019-02-02 05:28] ghost commented on #631
Please give the solution as early as possible

[2019-02-13 06:45] binooetomo opened #634 "Replication not working ?"
dear all

I have 2 centos7 box, each with ip address 192.168.5.81 and 192.168.5.82
Curently there is redis on each box (no clustering, no Sentinel).

Dynomite config yaml of 192.168.5.81 is :

dyn_o_mite:
    datacenter: ncdc-yk
    rack: rack-4
    dyn_listen: 192.168.5.81:6371
    listen: 192.168.5.81:6370
    dyn_seed_provider: simple_provider
    dyn_seeds:
    - 192.168.5.82:6371:rack-4:ncdc-

[2019-02-13 12:06] dicebattle commented on #630
i think dynomite need explain more description about dynomite's hash algorithm.

some of dynomite peer finder such as dagota(https://github.com/Smile-SA/dagota ) implemented wrong method to create dynomite token.

anyway, thanks to your research. i confused same thing as you, and i found answer at this issue thread :)

[2019-02-16 07:50] gauxs opened #635 "Memory leak in dynomite?"
I have take two machines and ran dynomite in them using below config yaml:

DC-1 yaml file-
dyn_o_mite:
  datacenter: VCS2112
  rack: rack1
  dyn_listen: 10.5.95.140:7379
  dyn_seeds:
  - 10.5.75.45:7379:rack1:VCS2887:0
  listen: 0.0.0.0:8379
  servers:
  - 127.0.0.1:6379:1
  tokens: '0'
  data_store: 0

NOTE: The text is getting formatted here but assume yaml format is correct.

DC-2 yaml file:
d

[2019-02-16 08:03] gauxs commented on #635
I ran again with mbuf_size: 16384 and max_msgs: 300000, but see the same problem of memory consumption increasing. Shouldn't the memory be free after the delete happens?

Also i see this message in logs:
![image](https://user-images.githubusercontent.com/5405553/52896526-70261700-31ef-11e9-8480-ce5088652bb9.png)

[2019-02-17 05:32] gauxs commented on #635
ran it with max_msgs:100000 still memory only shoots up.

[2019-02-18 07:39] ping2balaji opened #636 "Dynomite Assert while trying redis-benchmark with default settings"
Hi,

I bought Dynomite cluster with 2 racks each in 2 datacenters.

configuration file:
dyn_o_mite:
  datacenter: dc-rdb1
  rack: rack1
  dyn_listen: 172.16.0.15:8101
  listen: 172.16.0.15:8102
  servers:
   172.16.0.15:6379:1
  dyn_seeds:
   172.16.0.15:8111:rack2:dc-rdb1:0
   172.16.0.8:8101:rack1:dc-rdb2:0
   172.16.0.8:8111:rack2:dc-rdb2:0
  tokens: '0'
  secure_server_option: datacenter
  pem

[2019-02-20 11:37] ping2balaji commented on #636
Can anyone pls help me with some pointers about this issue?

[2019-02-28 02:07] zhjs0523 opened #638 "directive "stats_listen" is unknown"
I started 3 nodes(node1.yml.node2.yml,node3.yml).When I configure on 'stats_listen'，it prints directive "stats_listen" is unknown,but when I droped the setting,it said 'Address already in use'.
node1.yml:
`dyn_o_mite:
  datacenter: dc1
  rack: rack1
  dyn_listen: 127.0.0.1:8101
  dyn_seeds:
  - 127.0.0.1:8201:rack1:dc1:1431655765
  - 127.0.0.1:8301:rack1:dc1:2863311530
  data_store: 0
  listen: 12

[2019-02-28 06:50] Ronniexie opened #639 "Can Dynomite complete the backup redis center?"
We want to deploy a redis DC in HK.the data center that just synchronizes we master redis DC, and The HK redis DC does not need to become master and write data, just read data.

[2019-03-01 03:51] ipapapa commented on #639
The question above does not make sense.

[2019-03-01 03:52] ipapapa commented on #638
Did you check if when you do not add it if it defaults to a port that is already in use by another process?

[2019-03-01 03:56] ipapapa commented on #634
This is apparently a misconfiguration or a network problem, not a software issue. See the configuration folder for some examples: https://github.com/Netflix/dynomite/tree/dev/conf

[2019-03-01 03:56] #634 closed, assigned to nobody

[2019-03-01 04:00] ipapapa commented on #630
Good point above, I have added more information in https://github.com/Netflix/dynomite/wiki/Replication

[2019-03-01 04:00] #630 closed, assigned to nobody

[2019-03-01 06:32] zhjs0523 commented on #638
No another process is using the port.I changed a few ports,but it always said that.Even if I start one node with the configuration,it also throws the error "stats_listen is unknown".

[2019-03-04 21:17] ankur-aggarwal opened #640 "Dynomite only setting values to 1 redis server behind dynomite"
I have the following configuration:

dyn_o_mite:
  listen: 0.0.0.0:8102
  timeout: 150000
  servers:
    - 127.0.0.1:22122:1
    - 127.0.0.1:22123:1
    - 127.0.0.1:22124:1
    - 127.0.0.1:22125:1
  dyn_seed_provider: simple_provider
  dyn_port: 8101
  dyn_listen: 0.0.0.0:8101
  datacenter: default_dc
  rack: rack1
  tokens: 1073741823
  dyn_seeds:
    - 172.19.0.120:8101:rack1:default_dc:21474836

[2019-03-05 01:47] smukil commented on #640
@ankur-aggarwal: You need to create one YAML file per server. Try running "./test/start_cluster.py" from the top level dynomite directory. It will create a folder called "test_run.<some_string>". Under that, have a look at the "conf/" directory to see how to setup a cluster.

Closing this. Please reopen if you still have issues.

[2019-03-05 01:47] #640 closed, assigned to nobody

[2019-03-05 02:03] smukil commented on #638
@zhjs0523 Your YAML file _may_ be improperly formatted if you're getting the "stats_listen is unknown" error.

You can check which process is using the default port by running:
`netstat -tulpn | grep 22222`

[2019-03-05 02:05] smukil commented on #636
@ping2balaji Sorry for the slow reply. I hadn't noticed this issue. What version of Dynomite are you running? This seems like an old bug that has already been fixed.

[2019-03-05 02:10] smukil commented on #635
@gau0522 Sorry for the slow reply. Didn't notice the issue notifications. Dynomite follows a "allocate once and don't free" principal. So, once MBUFs are allocated, they're not freed so that future queries can run faster by not allocating memory again.

We don't consider this a problem as we cap the amount of memory that dynomite can use, so that dynomite does not starve the other processes on the

[2019-03-05 02:10] #635 closed, assigned to nobody

[2019-03-05 02:13] smukil commented on #631
@chinmayvenkat Sorry for the slow response. Can you paste the actual error message? Also, can you paste your conf files?

[2019-03-05 03:01] zhjs0523 commented on #638
Thanks for your answer.I have solved this question with the another way to start.I deleted this configuration in my YAML file .Instead of that,I added "-s" to specify the port on startup like './dynomite -c node1.yml -s 22222 -d --output=../logs/node1.log'.

[2019-03-05 14:19] #638 closed, assigned to nobody

[2019-03-05 14:19] ipapapa commented on #639
I am closing this issue since there has been no further answer. Please feel free to reopen it if you have any further questions.

[2019-03-05 14:19] #639 closed, assigned to nobody

[2019-03-08 12:14] khanu opened #641 "Dynomite not replicating"
I am trying to set up Redis on 2 nodes in 2 different DCs. Redis and Dynomite service is up and running, however keys do not get replicated across even though dynomite logs show that peer connections are made. Am I missing something here :

[code]

Any help would be appreciated.

Thank you.

[2019-03-08 16:57] smukil commented on #641
@khanu Can you show the conf files you used to setup the cluster? Also, are you sending the commands to the dynomite port (as opposed to sending it to Redis directly)?

[2019-03-08 20:12] khanu commented on #641
These are the dynomite.yml files :

[code]

[code]

I'm connecting to the redis-cli on port 22122 from one of these servers to set keys and trying to get it from the other redis.

[2019-03-08 22:54] smukil commented on #641
@khanu You need to talk to the Dynomite port for replication to work, which is the port that "listen:" points to, which is 8102 in your case.

[2019-03-08 22:55] smukil commented on #641
Closing this as solution is provided. Please reopen if you have further questions.

[2019-03-08 22:55] #641 closed, assigned to nobody

[2019-03-11 11:43] khanu commented on #641
Tried a telnet to the seed node on port 8102 and issued a get command :

[code]
The dynomite logs on the other node shows :

[code]

But what is confusing me is what port should we try to connect to, from the client (PHP in our case). The dynomite port 8102? Or the normal redis port ?

[2019-03-11 15:15] khanu commented on #641
Please disregard my earlier comment.

I tried telnet from a separate client node to one of the dynomite nodes on port 8102 and issued a new set command, which shows up only on the dynomite logs of that specific node, but not on the other seed nodes:

[code]

I do not see any entries in the dynomite logs on the other nodes.

Please help.

[2019-03-20 17:25] tannh opened #642 "Logging and heath check ?"
With run on production. How to can u view logging and healcheck metrics dynomitedb?

[2019-03-20 20:17] mcouillard commented on #642
Metrics are exposed over an HTTP endpoint:
https://github.com/Netflix/dynomite/wiki/FAQ#how-can-we-monitor-a-dynomite-process

Logs can be written to a file:
https://github.com/Netflix/dynomite#help

[2019-03-22 03:41] nghialt commented on #226
hi everyone, any update on this?

[2019-03-22 09:41] nikitinvasily commented on #477
@codophobia to speedup dynomite in docker you need decrease log level in startup.sh to 5 or below (-v11 => -v5)

[2019-03-23 14:46] ipapapa commented on #226
Any update on what client? We will Open Source soon our Dynomite-Explorer (UI) that will showcase some of the things we have done for Node.js. I do not have an estimate for that right now.

[2019-03-26 14:28] leonardodavinte commented on #631
Hello brother,

I'm having the same problem. If my node01 is out of service I get the error:
NODE 01 Down
"127.0.0.1:8102> get KEYTEST
(error) ERR Peer: Peer Node is not connected "

But if my node02 and node03 are out of service, this does not impact the service.

NODE 02 or NODE 03 Down - OK
127.0.0.1:8102> get KEYTEST
"TESTE01"

I'm still learning about Dynomite, but apparently Node01 is a kind

[2019-03-26 15:42] smukil commented on #631
@leonardodavinte This is because you are specifically talking to Node 1 using the redis-cli. i.e. 127.0.0.1:8102 is your node 1's address:port. If you connect to Node 2 or Node 3's address:port, you will still be able to use the cluster.

If you want a client that can automatically detect node failures and fallback to a different node, you will need to use our Dyno Java client:
https://github.com/

[2019-03-26 15:45] smukil commented on #642
@mcouillard Thanks for helping with this issue!

@tannh In addition to what @mcouillard mentioned above, you may also want to have a look at the Dynomite-manager:
https://github.com/Netflix/dynomite-manager

[2019-03-26 15:45] #642 closed, assigned to nobody

[2019-03-26 15:46] smukil commented on #636
Closing since it points to an already fixed issue. Feel free to reopen if you have further queries.

[2019-03-26 15:46] #636 closed, assigned to smukil

[2019-03-26 15:46] ghost commented on #631
Hi
which property we need to set for it. is dyno client supports single ton
mapping
. I am using pool. please give any examples.
Thanks in advance

On Tue, Mar 26, 2019, 9:13 PM Sailesh Mukil <notifications@github.com>
wrote:

[2019-03-26 15:51] smukil commented on #631
@chinmayvenkat A property for what specifically? There is a demo implementation for Dyno here. Hopefully that helps:
https://github.com/Netflix/dyno/blob/master/dyno-demo/src/main/java/com/netflix/dyno/demo/redis/DynoJedisDemo.java

[2019-03-26 15:55] ghost commented on #631
I implemented singleton implementation model for dyno client. if one of the
node cluster was down. it is giving errors. if we re established the
connection when the node get down. it is working fine.
How can we handle this?

On Tue, Mar 26, 2019, 9:21 PM Sailesh Mukil <notifications@github.com>
wrote:

[2019-03-26 17:24] leonardodavinte commented on #631
Hello @smukil

Not exactly. I turned off node 01, and I try to connect to node 02 or node 03.

But with node 01 turned off, both node02 and node03 have errors:
"127.0.0.1:8102> get KEYTEST
(error) ERR Peer: Peer Node is not connected "

In this case, I'm connected via localhost on node02 and getting the error "Node is not connected".

Do you have any examples to configure
1 Datacenter
1 Rack
3 Nod

[2019-03-26 17:53] smukil commented on #631
@chinmayvenkat How many replicas do you have in your configuration?

[2019-03-26 17:55] smukil commented on #631
@leonardodavinte Ah my bad, I misunderstood your previous post. So based on your configuration, you have only 1 replica for each key. And you have 3 shards.

So, this means that the key KEYTEST probably lives in the Node01 shard, and since that node is down, it cannot access that key. If you add 2 more racks, then you should be able to fallback to another replica even if Node01 is down in one rack

[2019-03-26 20:52] leonardodavinte commented on #631
@smukil Thanks for the explanation.

[2019-03-26 21:48] balajivenki commented on #46
Any update here? Will dynomite support Redis auth?

[2019-03-27 07:21] ghost commented on #631
@smukil 3 replicas I have
I had 3 racks consists of two servers in each rack
read and write consistency levels are dc_quorum

[2019-03-27 07:24] ghost commented on #631
@smukil can you please tell me. how to see how many read/requests coming to dynomite per second
I used curl http://localhost:22222/info but I cannot understand how to see

[2019-03-27 08:10] axelfauvel commented on #46
The PR is still open here : https://github.com/Netflix/dynomite/pull/576

[2019-03-28 06:44] ghost opened #644 "Dynomite cluster throwing PoolOfflineException some times when connecting with dyno client"
hi
I build a dynomite cluster with 3 racks which consists of 2 nodes. both reads and write consistency are dc_one. using dyno client. I am getting some times Pool offline exceptions and after some time again working fine .
Please give any clue why I am getting whether I am missing configuration like number of connections per host through dyno client . I have also confusion how we can decide the nu

[2019-03-28 10:45] ramuvistara commented on #644
I observed connections are dropping in between my host server to the dynomite cluster. I build a cluster of 3racks and each rack contains 2 nodes. if I require 9000 connections. how can I set setMaxConnsPerHost

[2019-03-29 18:27] smukil commented on #631
@chinmayvenkat If you're using the Dyno client, then it should automatically fallback to a different replica. Have you made sure that your configuration is correct? You can check your topology with:
http://localhost:22222/cluster_describe
Also make sure that your HostSupplier has the right hosts:
https://github.com/Netflix/dyno/wiki/Configuration#hostsupplier

http://localhost:22222/info does have

[2019-03-30 03:49] ghost opened #645 "Number of connections in dynomite is not same as Redis"
I gave number of connections per host is 10 connections , I observed dynomite taking 10 connections and when I check redis it is taking only 2 connections

[2019-03-30 03:57] balajivenki commented on #645
Yes that's expected. The clients connect to dynomite and not to redis. Only dynomite connects to redis. This is expected behavior

[2019-03-30 04:06] ghost commented on #645
@balajivenki . Generally based on requests. we configured the number of connections per host. Each request coming to dynomite in a node must and should goes to redis. Is wont be a issue at all ?
I had anthor doubt @balajivenki  please clarify. I build 3 racks and each rack consists two nodes. if I will need 9000 connections. How can I configure number of connections per host.

[2019-03-30 04:30] ghost commented on #631
@smukil . yes dyno client is handling the things. but it is not worked when I implement it for dyno in singleton implementation. please go through
https://github.com/Netflix/dyno/issues/258
@smukil please give response to the
https://github.com/Netflix/dynomite/issues/644
as early as possible. it is painful point to me

[2019-03-30 04:38] balajivenki commented on #645
Yes dynomite acts as a proxy here and get the response from redis and pass it along. Not sure why you would need 9k connections here but connection are per client and if you are using dyno Java client then it has maxConnectionsPerHost option as connection pool and you can use that. Please note that each connection is a fd and olif you do not close it properly and soon you will end up fd limit exce

[2019-04-01 03:27] kmurthy7 opened #646 "Dyno client requests are not getting load balanced to all available racks in dc"
We have a dynomite cluster with 2 racks ( 5 nodes in each rack ) in one datacenter. I am using dyno client with token aware strategy. When i try to connect to the dyno client always requests are forwarded to rack2 , rack1 is idle. Am i missing any configuration why dyno is not using rack1 at all.

Below is the code we are using.

DynoJedisClient dynoClusterClient	= new DynoJedisClient.Builder()

[2019-04-02 13:49] quah6o opened #647 "SELECT index predis"
Hi,

we played around with dynomite and would like to use it in our application.
We are using the predis client. Predis sends a initial SELECT 0 which breaks the connection to dynomite. Our application only uses the redis database 0 and we would like to return OK / ignore the select and continue. I am not that familiar with C. Can anyone give me a hint what we have to change to achieve that?

Best

[2019-04-05 02:26] sekhrivijay opened #649 "Data out of sync issue"
Data sync between nodes and constancy is managed by dynomite and is configurable using Consistency options.
There is an auto warming option if the node is down and does not have all the correct data that can be rebuild for other cloud providers.

However, even if a node is not down , a network failure (or some other failure) can occur. Dynomite asyc tries  to sync data across nodes and retries on

[2019-04-05 10:24] nicolacontu opened #650 "Dynomite - Redis session for PHP"
Hello,
I am trying to use dynomite to geo replicate redis sessions.

These are the versions I am using :

[code]

I have 6 nodes, 3 racks and 3 datacenters.

Here is the config I have for one node :
[code]

In my php.ini I have

[code]
So in each webserver per DC I am pointing the local dynomite servers.

If I try to login to my I see this in the logs :

[code]

In PHP I have the redis pecl extens

[2019-04-06 16:19] mcouillard commented on #647
Yeah, Lettuce does this, too, I'm afraid. More about it here: https://github.com/Netflix/dynomite/issues/551

[2019-04-10 08:12] ivancoppa opened #651 "memory usage higher than expected"
Hi,
I'm testing dynomite (v0.7.0) with the goal of having all the data written across 3 datacenters without any sharding.

What I'm experiencing is a massive amount of memory usage and I'm trying to understand what I'm missing.

I did not change the default values for mbuf_size and max_msgs so what I was expecting was something like 3.05GB of memory usage top consindering the dafault values.
[code

[2019-04-15 11:28] chinazhenzhen opened #652 "(error) ERR Dynomite: Failed to achieve Quorum"
I have two working Nodes(Nodes belong to different data centers), but they don't work when I set consistency to DC_SAFE_QUORUM( DC_SAFE_QUORUM and DC_ONE are working normally.).
How should I solve this mistake?

[2019-04-16 02:45] #652 closed, assigned to nobody

[2019-04-16 02:46] chinazhenzhen commented on #652
I found the explanation from issure#573.

[2019-04-16 13:56] kanagasabai-karunanithy opened #654 "DynomiteDB & REDIS - Need help to create a docker image"
Hi Team,

As of now in my environment, I am using REIDS Memcache. I wish to build a docker image for DynomiteDB separate and REDIS separate.

I have gone through multiple git repos for docker image. I am not getting anything useful, Need help to find the good or right git repo for DynomiteDB build and REDIS build.

I am planning to have 2 racks in each DC and each rack will have 5 nodes each. need

[2019-04-18 16:21] smukil commented on #649
@sekhrivijay We're working on natively including a repair process. The following PR is the first step towards that. It's still unsupported so it does have limitations, but over time, we will make it part of the normal Dynomite deployments:
https://github.com/Netflix/dynomite/pull/653

Eventually, Dynomite will offer support to self heal across replicas within a region and over time even across reg

[2019-04-18 18:51] smukil commented on #646
@kmurthy7 Each rack is an entire token ring, i.e. a full replica. The client always forwards requests to its local rack, which in your case is rack 2. We load balance across racks when there are multiple client instances, by having each client instance talk to servers in its local rack.

A client will talk to a different rack as a fallback mechanism when there is a connection error while talking t

[2019-04-24 20:19] ipapapa commented on #654
We have documentation on containers and Dynomite in the Docker folder. Does this help?

[2019-04-24 20:24] ipapapa commented on #650
Correct, the log message `parsed unsupported command 'COMMAND'` indicates that Dynomite does not support this command.

Moreover, the problem above seems to be a mismatch of the port numbers. I think you are trying to access `8379` but you have set the `dyn_listen` as `7379`.

[2019-04-24 20:27] ipapapa commented on #647
You could just add the `SELECT` command in the following [parser](https://github.com/Netflix/dynomite/blob/dev/src/proto/dyn_redis.c) and should be fine. If you plan to do that just add a comment with the corresponding limitations.

[2019-04-25 01:03] balajivenki opened #655 "Question on Replication back to Primary"
We have two racks, rack01 and rack02. rack01 is our primary and rack02 is our another dc(logical) and replica of rack01. When any node in primary rack goes down the client will route the read and writes to corresponding token node in rack02. When all working all writes to rack1 node is replayed on rack2 but when rack1 goes down all writes go to rack2.

So far the HA or fallback works great, when r

[2019-04-25 09:43] lhucinequr commented on #651
![dynomite_mem](https://user-images.githubusercontent.com/35261260/56726910-33baee00-673f-11e9-8bfd-c460ac2f3b88.png)
We are experiencing the same issue, we have configured dynomite to use the following config:
MAX_MSGS: 100000
MBUF_SIZE:  8192
According to our calculations, dynomite should not consume more than ~800 MB of RAM, but in reality it does consume a lot more than that(1.4Go) and countin

[2019-04-26 06:37] maksimlikharev opened #656 "Dyno cluster behind Network LB"
This is a question.

I suppose nothing prevents me to have cluster, let say 3 nodes with the same token range ( 3 copies ), behind LB and use resulting DNS as an access point.

Trying to understand if this is something sane to do, also could it be used as drop in Redis replacement,  assuming restricted commands availability from Dyno.

[2019-04-26 13:45] nicolacontu commented on #650
No i tried with both ports and it does not work.
I guess it is just not compatible with redis 5 and php

________________________________
Da: Ioannis Papapanagiotou <notifications@github.com>
Inviato: mercoledì 24 aprile 2019 22:24
A: Netflix/dynomite
Cc: nicolacontu; Author
Oggetto: Re: [Netflix/dynomite] Dynomite - Redis session for PHP (#650)

Correct, the log message parsed unsupported command

[2019-04-26 18:12] smukil commented on #656
@maksimlikharev Yes this is something you can do assuming you're working within the supported command set in Dynomite, and if it's for the purpose of load balancing across replicas.

Note however, that we run our replicas across AZs (on AWS), so having a single load balancer to balance across AZs might add some latency, which is why we go with the smart client route (Dyno).

However, if the archit

[2019-04-26 18:17] smukil commented on #655
@balajivenki Are you using Dynomite-manager to manage these racks? If you are, when rack01 comes back up, the dynomite-manager sidecar process will forklift data from the rack02 replica back to rack01. The data you may miss is the in flight writes that are happening during the forklift.

To fix this, we're currently working on a repair process. The first draft of repairs (currently unsupported) is

[2019-04-26 18:18] #649 closed, assigned to nobody

[2019-04-26 18:18] smukil commented on #646
Closing, please reopen if you have further requests.

[2019-04-26 18:18] #646 closed, assigned to nobody

[2019-04-26 18:21] smukil commented on #645
Thanks for helping with the issues @balajivenki !

@chinmayvenkat To reiterate what @balajivenki said, Dynomite maintains a fixed number of connections to Redis regardless of how many clients are connected to Dynomite.

Closing this, please reopen if you have further questions.

[2019-04-26 18:21] #645 closed, assigned to nobody

[2019-04-26 18:26] maksimlikharev commented on #656
AWS Network LB clams to be "rack" or in this case AZ aware.
My real usecase is to migrate existing Redis clients, that can be migrated, specifically on other runtimes ( js / lua / python ).

For one client I want to go even further, setup DM in muli region, and connect clients using LB per region, want to see if this will fly, attempt to have the same replicated data across all regions, assuming a

[2019-04-26 18:35] smukil commented on #644
@chinmayvenkat & @ramuvistara It depends on how you've configured discovery for the instances, i.e. what HostSupplier are you using?
https://github.com/Netflix/dyno/wiki/Configuration#hostsupplier

If your HostSupplier tells the client that a node is down, that connection pool will be torn down.

Also, a recent bug fix that went in to address more connection issues is here:
https://github.com/Netf

[2019-04-26 18:35] #644 closed, assigned to nobody

[2019-04-26 19:08] smukil commented on #631
Closing this, addressed the comment in:
Netflix/dyno#258 and #644

[2019-04-26 19:08] #631 closed, assigned to nobody

[2019-04-26 19:09] smukil commented on #611
@rcmorano Please feel free to send any patches our way.

Closing this, please reopen if you have further questions.

[2019-04-26 19:09] #611 closed, assigned to nobody

[2019-04-26 19:10] smukil commented on #586
Closing due to inactivity.

[2019-04-26 19:10] #586 closed, assigned to nobody

[2019-04-26 20:27] smukil commented on #651
@ivancoppa @lhucinequr I will investigate this and get back.

[2019-04-30 20:00] smukil commented on #69
Closing since it's dated.

[2019-04-30 20:00] #69 closed

[2019-04-30 20:00] smukil commented on #96
Closing since resolved

[2019-04-30 20:00] #96 closed

[2019-04-30 20:04] smukil commented on #134
Closing since dated.

[2019-04-30 20:04] #134 closed

[2019-05-01 06:21] elfring commented on #134
How do you think about to avoid that this software [depends on undefined behaviour](https://www.securecoding.cert.org/confluence/display/c/CC.+Undefined+Behavior#CC.UndefinedBehavior-ub_106 "Avoiding undefined behaviour?")?

[2019-05-02 06:38] shivambansal2222 opened #657 "not able to build dynomite"
HI ,
      I am getting following error while running autoreconf -fvi to build dynomite as mentioned :
autoreconf  -fvi:
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force -I m4
autoreconf: configure.ac: tracing
autoreconf: configure.ac: adding subdirectory contrib/yaml-0.1.4 to autoreconf
autoreconf: Entering directory `contrib/yaml

[2019-05-06 09:24] lhucinequr commented on #651
A quick update concerning this issue:
We have done few more tests:
We are running dynomite( v0.7.0) in simple 3 node configuration cluster with the following configuration in each node:
[code]
According to the documentation, dynomite should not use more than 4096*100000 bytes =  390.625 MB of memory, but after running the cluster for 2 days, each node now uses  roughly 655300 KB = 639.94140625 MB

[2019-05-12 11:24] Scriptkiddi commented on #367
any updates on this? Any way I can help?

[2019-05-14 05:28] srirama-rayaprolu commented on #124
@shailesh33

We are using the Dyno java client for connecting. However the fail over for two racks in same DC is not working.  Our setup is having two racks in same data center and each rack is having single node.
 It is discussed here https://github.com/Netflix/dyno/issues/231

[2019-05-14 16:14] smukil opened #660 "Support read repairs in Dynomite"
The first Beta version is here:
https://github.com/Netflix/dynomite/pull/653

We need to add support for the following before it becomes a full supported feature:

- [x] Create repair framework based on Lua scripts.
- [x] Add support for point lookups for primary keys, sets, hash maps.
- [ ] Modify parser to support commands with optional fields and extent support for ZSETs.
- [x] Allow requests/r

[2019-05-16 05:26] khanu opened #661 "Dynomite: ERROR - Command failed (ERR Peer: Peer Node is not connected)"
Hi,

I am using a 4 node cluster in 2 DCs, with 2 racks in each DC with 1 server each. Here is my dynomite config from one of the nodes :
[code]
Redis runs on port 22122 and Dynomite on port 6379.

I have an F5 load balancer in front of the cluster, that looks at both these ports and does not send traffic to any node that has redis or dynomite service not running on them.

PHP code talks to the F5

[2019-05-16 11:08] rajangamsj opened #662 "Encryption between client and Dynomite"
How to encrypt communication between the client and Dynomite. I see that dynomite supports encryption between nodes in a rack using secure_server_option. But not sure how to secure the initial communication from the client  and Dynomite.

[2019-05-16 11:32] rajangamsj opened #663 "Are Dynomite versions backward compatible."
How/where  to check the backward compatibility of different dynomite version. Should I expect a downtime when upgrading from one version to another?

[2019-05-18 03:50] maksimlikharev opened #665 "consider supporting SELECT 0 as noop"
anything other than 0 ( default ) should return error, but it will help to support "stupid" redis clients that tend to do "SELECT 0" even for default connection.

[2019-05-28 09:00] jkimalane opened #668 "Dynomite and Redis streams"
I'm wondering, are there any major show stoppers why streams commands can't be handled by dynomite? Maybe someone who is more deeply involved with dynomite and has deep understanding of dynmoite internals can elaborate this bit more. If it's not that hard and does not require massive amount of changes, I could try to implement those X<commands> for adding support for streams data type.

[2019-05-29 04:10] smukil commented on #665
@maksimlikharev Good point. Would you like to submit a patch that does the above?

[2019-05-29 04:10] smukil commented on #663
@rajangamsj Dynomite has historically been backwards compatible and will continue to be so. If there are any breaking changes, accompanying documentation will follow.

[2019-05-29 04:10] #663 closed, assigned to nobody

[2019-05-29 04:13] smukil commented on #661
@khanu Dynomite currently does not support dynamic configuration of cluster membership. There is some gossip code that attempted to do this, however, it is not supported. We will be looking into supporting it in the future.

[2019-05-29 04:15] smukil commented on #657
@shivambansal2222 You're missing dependencies. Such errors can usually be googled easily. Installing these deps should unblock you:

sudo apt-gen install autogen autoconf libtool

[2019-05-29 04:15] #657 closed, assigned to nobody

[2019-05-29 17:41] maksimlikharev commented on #665
sure, we can do it, not immediately but in short reasonable future, dev branch?

[2019-05-30 13:48] silviucpp opened #669 "Replication clarifications"
Hello,

I'm using the following config on the nodes (of course tokens are different and some ip's):

[code]

I have the following scenario: 1 DC and 2 racks, each one having 3 nodes.

Let's suppose key X is distributed to node 2 on each rack.

Doing the following test:

1. Stop the redis process on the node2 rack1
2. Send the request: `SET X value1` on node2 rack2 will succedd
3. Start back the re

[2019-05-31 07:12] silviucpp commented on #669
Ohh so my problem is similar with https://github.com/Netflix/dynomite/issues/655 . Seems using DM is mandatory for this use-case.

[2019-05-31 10:01] silviucpp commented on #669
I tried another scenario:

I blocked the connection in firewall between 2 peer nodes that stores the same token range . Node A in rack 1 and node B from rack 2.

Then I write a key on rack1 node . and read from both nodes. node from rack 1 has the last value the other one no. Expected.

If I remove the firewall restrictions in less than 25 seconds or something like this. The value is replicated al

[2019-06-03 12:19] jkimalane commented on #668
I'm bit stuck as I can't figure out how multibulk responses are forwarded from redis server through dynomite proxy to redis client. Commands like XINFO STREAM or XRANGE return multibulks and according to comments in dyn_redis.c only commands SSCAN/HSCAN/ZSCAN are handled. To me it seems that recursion  is needed to handle this case.

[2019-06-03 12:58] khanu commented on #661
I was using versin 0.7.0. Reverting back to 0.5.9 fixed the issue.

[2019-06-03 12:58] #661 closed, assigned to nobody

[2019-06-04 10:29] #669 closed, assigned to nobody

[2019-06-04 20:43] maksimlikharev commented on #665
PR created: https://github.com/Netflix/dynomite/pull/670

unfortunately, PR build failed: `redis.exceptions.ResponseError: hash value is not an integer`

this error seems preexisted as previous PR failed on the same line.

[2019-06-09 08:00] alochym01 opened #671 "Request a RPM dynomite file for installation"

[2019-06-09 12:55] daflip opened #672 "long running dynomite results in hundreds of inter dynomite connections?"
Hi

We are observing that long running dynomite instances build up hundreds of established inter-dynomite connections. We run 2 DC's with 3 racks in each. In all of our long running (say, a month or so) dynomite instances I find hundreds of established inter-dynomite connections.   An example netstat output is below, this is just an excerpt, the total number of established connections for port 810

[2019-06-09 13:09] daflip commented on #672
Closing issue - it appears to be a problem with the host machines not killing off uncleaning closed remote connections. Sorry for the noise.

[2019-06-09 13:09] #672 closed, assigned to nobody

[2019-06-17 18:43] jakelima18 opened #676 "peer node is not connected"
Hello Everyone, I have a question about architecture. If you can help me, I thank you. I have 3 nodes with dynomite and redis. they see each other and replicate themselves perfectly. But if a node falls, the entire cluster goes down. my application client can not connect to the application any more. my application is in python and I'm using the same redis library.

[2019-06-17 19:10] #676 closed, assigned to nobody

[2019-06-18 07:24] jkimalane commented on #668
There is a pending pull-request #675 which provides basic streams support. Although there is a timing issue but in general, all streams related commands are supported.

[2019-06-21 14:14] arocki7 commented on #492
We are having similar issues. Tried to use Dynomite along with 3Scale and Select Index failed.

[2019-06-21 14:15] arocki7 commented on #647
We are having similar issues. Tried to use Dynomite along with 3Scale and Select Index failed.

[2019-06-27 11:52] ipapapa commented on #671
We do not have an RPM produced because we use Ubuntu for our deployments. However, there are many folks that have successes producing RPMs. See https://github.com/Netflix/dynomite/issues/352. If you are interested in publishing an RPM for other folks to use that would be awesome.

[2019-06-27 11:55] ipapapa commented on #668
@smukil was working on some changes in this area. I will let him handle this issue.

[2019-06-27 13:27] rajangamsj opened #677 "Data sync strategy between Data centers on link failure"
I have 2 Datacenters - DC1 and DC2 and each have 3 Racks and 1 node in each of the rack. If for some reasons the link between the Data centers goes down and comes back up. I see that any writes (at DC1) during the time the link is down is not replicated to DC2.  Is there any configuration that could be used which would enable dynomite to keep track of unsynced data and try it again after the link

[2019-06-28 14:15] jkimalane commented on #671
Few weeks ago I created a rpm SPEC file for more convenient installation of dynomite daemon. I can share if you are still interested.

[2019-07-01 04:20] ipapapa commented on #671
Absolutely!

[2019-07-01 04:24] ipapapa commented on #677
For cross-region traffic, it is currently fire-and-forget. We do not currently support Tombstones but there is a small buffering (if the connection though goes down the data are not replicated). To avoid inconsistencies inside the same region, we provide [Consistency](https://github.com/Netflix/dynomite/wiki/Consistency) guarantees. There is a lot of work we are now doing to support Read Repairs:

[2019-07-01 14:45] jkimalane commented on #671
No problem, here it is. Rather hackish implementation but it does its job and fits my needs.
[https://github.com/jkimalane/dynomite-rpm](url)

[2019-07-01 21:25] mattsdevop opened #678 "dynomite crashing when a peer node goes down"
I am experiencing an issue in any version other than dynomite-v0.5.9-5_MuslCompatiblity.
OS: centos-release-7-6.1810.2.el7.centos.x86_64

This is what I was used to seeing in the log when not building with --enable-debug=yes in v0.6.14, v0.6.9, and 0.7
[code]

I rebuilt with `CFLAGS="-ggdb3 -O0" ./configure --enable-debug=full` and use gdb to retrieve the following:
[code]

Config file:
[code]

To

[2019-07-02 17:24] emiteze opened #679 "Dynomite local cluster with docker compose"
Hi guys,

First of all thanks for the great work that has been done here! We met Dynomite after started using Conductor and we decided to use it as database for our application as well, to avoid installing another database and to enjoy the advantages of Dynomite :)

I'm currently running some tests with a Dynomite cluster locally using docker compose and I'm facing some strange issues which I don'

[2019-07-04 10:17] thias commented on #671
I'm also testing dynomite at the moment, and since it's on RHEL, I created my own rpm package:
https://github.com/thias/rpm-dynomite

[2019-07-05 05:39] ipapapa commented on #671
Would it make sense to do a PR for a folder called `RPM`? Moreover, we might need some way to test it when an RPM is created that it works and the changes do not break the building (maybe by adding some part in the tests?).

[2019-07-05 06:06] YeChuang opened #680 "Use 'ssh-keygen-t rsa-f' to generate the 'dynomite. Pem' file. Once the password is set, the startup fails"
system info : centos 6.5  dynomite 0.5.9

Use 'ssh-keygen-t rsa-f' to generate the 'dynomite. Pem' file. Once the password is set, the startup fails and the error message is as follows:

-----------------------
[2019-07-05 11:35:29.249] conf_datastore_transform:188 Created <DATASTORE 0xc0c520 110.80.141.51:9856:1>
[2019-07-05 11:35:29.249] load_private_rsa_key_by_file:57 Error: could NOT read RSA

[2019-07-05 18:57] mcouillard commented on #650
We use PHP 7 and Redis 3.2 OK, but only specify a single node on save_path. Does that work for you?

[2019-07-05 19:09] nicolacontu commented on #650
Nope, also with a single node, it does not work.

Ottieni Outlook per Android<https://aka.ms/ghei36>

________________________________
From: Michael <notifications@github.com>
Sent: Friday, July 5, 2019 8:57:54 PM
To: Netflix/dynomite
Cc: nicolacontu; Author
Subject: Re: [Netflix/dynomite] Dynomite - Redis session for PHP (#650)

We use PHP 7 and Redis 3.2 OK, but only specify a single node on sav

[2019-07-05 19:10] nicolacontu commented on #650
I have redis 5

Ottieni Outlook per Android<https://aka.ms/ghei36>

________________________________
From: Nicola Contu
Sent: Friday, July 5, 2019 9:09:51 PM
To: Netflix/dynomite; Netflix/dynomite
Cc: Author
Subject: Re: [Netflix/dynomite] Dynomite - Redis session for PHP (#650)

Nope, also with a single node, it does not work.

Ottieni Outlook per Android<https://aka.ms/ghei36>

_________________

[2019-07-08 12:17] ivancoppa commented on #651
@smukil Any updates? Did you had time to investigate the issue?

[2019-07-08 16:24] thias commented on #680
I think you should be creating the pem file without a passphrase (just press enter when prompted).

[2019-07-08 16:40] thias commented on #582
This seems to have worked for me with 0.5.9 (the latest 0.6 releases seem to start without the file): `ssh-keygen -t rsa -f dynomite.pem`

[2019-07-09 06:31] rajanarayan92 opened #681 "Dynomite coredumps when pem_key_file configuration is missing in yaml file for secure_server_option"
Dynomite core dumps when pem_key_file configuration is missing in yaml file for secure_server_option. I think the software should terminate gracefully with appropriate error message instead of a crash.
Here is the yaml file configuration-
[code]
Dynomite version is (Issue is also seen in v0.7)
`This is dynomite-v0.6.14-2-g354c755`

Logs
[code]

Back trace
[code]

[2019-07-09 06:59] YeChuang commented on #680
Thank you very much! Thisa.

Redis sets the connection password. How does dynomite set the corresponding password?

[2019-07-09 07:09] YeChuang commented on #680
By the way, through the dynomite operation redis (with the password set), the error is reported as follows:

[2019-07-09 14:53:52.470] proxy_accept:213 <PROXY 0x1c70420 8 listening on '10.0.2.15:8102'> accepted <CLIENT 0x1c726c0 12 from '10.0.2.15:54180'>
[2019-07-09 14:53:52.470] redis_parse_req:1232 parsed unsupported command 'AUTH'
[2019-07-09 14:53:52.470] redis_parse_req:1836 parsed bad req 5

[2019-07-09 07:42] alochym01 commented on #671
+1 to do PR for this issue :)

[2019-07-09 15:42] smukil commented on #680
@YeChuang The AUTH command is in review. Once it's merged, it will be supported.
https://github.com/Netflix/dynomite/pull/576

[2019-07-09 15:53] smukil commented on #681
@rajanarayan92 Thanks for raising this. This is a known issue, and we will be fixing it soon.

[2019-07-09 16:32] smukil commented on #678
@mattsdevop Let me try to repro this and get back.

[2019-07-10 01:30] YeChuang commented on #680
That's great!
thanks！

[2019-07-10 01:30] #680 closed, assigned to nobody

[2019-07-10 07:02] rajanarayan92 commented on #681
Thanks for the response @smukil

[2019-07-11 06:45] rituparnopal opened #682 "make command fails from"
Got the issue logged below while running "make" command after running the following steps-
$ git clone git@github.com:Netflix/dynomite.git
$ cd dynomite
$ autoreconf -fvi
$ ./configure --enable-debug=yes
$ make
$ src/dynomite -h

make[3]: Entering directory '/home/user/dynomite/src/hashkit'
gcc -DHAVE_CONFIG_H -I. -I../..  -I ../../src -I ../../contrib/murmur3  -Wall -Wshadow -Wpointer-arith -Winl

[2019-07-12 17:52] smukil commented on #678
@mattsdevop I've finally figured out the bug and fixed it. Will merge after review shortly. Thanks for raising the issue.

https://github.com/Netflix/dynomite/pull/683

[2019-07-12 18:02] smukil commented on #682
You need the OpenSSL dev dependency in your system.

`sudo apt install libssl-dev` (on Ubuntu)

[2019-07-12 18:02] #682 closed, assigned to nobody

[2019-07-12 18:04] smukil commented on #679
@emiteze Sorry for the slow response. Let me have a look at this and get back to you.

[2019-07-12 18:06] smukil commented on #142
This doesn't seem to be an issue any longer. Closing.

[2019-07-12 18:06] #142 closed

[2019-07-12 18:09] smukil commented on #471
We fixed a few decryption issues since, and haven't seen an error like the one mentioned here. Closing.

[2019-07-12 18:09] #471 closed

[2019-07-12 18:10] smukil commented on #464
Closing as we've not seen such an issue, and it's dated. Please reopen if you still see it.

[2019-07-12 18:10] #464 closed

[2019-07-12 18:24] smukil commented on #503
PR for adding documentation:
https://github.com/Netflix/dynomite/pull/684

[2019-07-12 18:24] #503 closed, assigned to nobody

[2019-07-12 18:26] smukil commented on #534
This is fixed here:
https://github.com/Netflix/dynomite/commit/0e0db801571b2d42eac405b448717136b6b3191f

[2019-07-12 18:26] #534 closed, assigned to nobody

[2019-07-12 18:29] smukil commented on #561
@sisfm Is this still an issue?

[2019-07-12 18:31] smukil commented on #566
@AlvaroBro This is fixed here:
https://github.com/Netflix/dynomite/commit/2b50e89498b8cf5ee2803b5bacd4215094da449d

[2019-07-12 18:31] #566 closed, assigned to nobody

[2019-07-12 18:35] smukil commented on #570
@binbowang1987 It's basically a RSA key. You can generate them using the standard OpenSSL tools.

[2019-07-12 18:35] #570 closed, assigned to nobody

[2019-07-12 18:36] smukil commented on #571
@binbowang1987 This has been fixed since. Please reopen if you're still seeing this issue.

[2019-07-12 18:36] #571 closed, assigned to nobody

[2019-07-12 19:36] smukil commented on #582
Thanks for answering @thias :)

[2019-07-12 19:36] #582 closed, assigned to nobody

[2019-07-16 10:11] guruprasadb80 opened #685 "Dynomite Log File Grows Indefinitely"
I am seeing an issue in our production setup where Dynomite Log file grows indefinitely while printing the logs and system eventually reaches disk full condition and services are impacted.

[2019-06-19 09:51:01.905] dnode_accept:157 Accepting client connection from 10.237.85.33:40460 on sd 1023
[2019-06-19 09:51:01.905] dnode_accept:145 accept on <CONN_PEER_PROXY 0xd54260 9 listening on '10.237.92

[2019-07-17 04:27] smukil commented on #651
@ivancoppa I was unable to track down any leaks. I'll get back to it in a bit and try to have an update soon.

[2019-07-17 15:29] sisfm commented on #561
Yes, still having this issue

[2019-07-17 15:29] sisfm commented on #561
[2019-07-17 11:20:35.447] dnode_accept:302 Accepting client connection from 10.20.12.163/53452 on sd 44
[2019-07-17 11:20:35.447] stats_http_rsp:1157 send stats on sd 43 failed: Broken pipe
[2019-07-17 11:20:35.447] proxy_accept:330 set nonblock on CLIENT 43 from p 9 failed: Bad file descriptor
[2019-07-17 11:20:35.447] client_close:264 close c 43 failed, ignored: Bad file descriptor
[2019-07-17 1

[2019-07-18 21:11] effnnn opened #687 "Dynomite SIGSEGV signal 11"
We are getting the following error running dynomite-v0.6.14 and redis. The redis logs show no indication that it went down.

Can anyone give us any input as to what can be done to avoid these errors?

[2019-07-19 15:56] smukil commented on #687
Hi @effnnn ,

These errors are very likely fixed by the following commit:
https://github.com/Netflix/dynomite/commit/813c289787b367053d876bf6f20e35174ad71415

I will make a release shortly so that you can move to that.

[2019-07-19 17:01] smukil commented on #687
@effnnn v0.6.15 has the fix. Please reopen if you continue to see issues.

https://github.com/Netflix/dynomite/tree/v0.6.15

[2019-07-19 17:01] #687 closed, assigned to nobody

[2019-07-19 17:02] smukil commented on #678
@mattsdevop v0.6.15 has the fix:
https://github.com/Netflix/dynomite/tree/v0.6.15

Closing this.

[2019-07-19 17:02] #678 closed, assigned to nobody

[2019-07-19 17:04] smukil commented on #561
What's the user visible impact? Is the cluster functioning correctly?

[2019-07-19 18:39] sisfm commented on #561
Dynomite port come down

On Fri, 19 Jul 2019 at 14:05 Sailesh Mukil <notifications@github.com> wrote:

--
Saludos / Best Regards,

*Martin Gustavo Fernandez*
Mobile: +5491132837292

[2019-07-24 10:41] reoxey commented on #635
@smukil So, how do we cap the amount of memory used by dynomite?

[2019-07-25 13:19] iTosun opened #689 "redis lua script hangs infinitely"
Hi,

First of all want to thank you all for this amazing project, really like dynomite! Right now i'm trying to do more advanced stuff with dynomite & redis and lua scripting. But i'm getting some weird results, a particular script is hanging infinitely till i exit it with ctrl+c. The config ```lua-time-limit``` is still default on 5000, so it should time-out after 5 seconds but it does not.

My c

[2019-07-25 14:25] iTosun commented on #689
i've narrowed the problem down to the return section of the script. Looking at the logs the scripts seems to run fine until it answers back to dynomite.
[code]
watch for the RSP_REDIS_MULTIBULK and look at the next line, the client connections seems to be removed before the data is returned to the client

[2019-07-25 17:46] sisfm commented on #561
here we go again
[2019-07-24 11:42:04.581] dnode_accept:302 Accepting client connection from 10.102.49.21/34570 on sd 26
[2019-07-24 13:18:43.136] dnode_accept:302 Accepting client connection from 10.11.160.170/50334 on sd 23
[2019-07-24 19:20:52.387] core_core:433 conn err on dnode EVENT_READ: 32
[2019-07-24 19:25:58.834] dnode_accept:302 Accepting client connection from 10.11.161.100/52919 on sd

[2019-07-29 06:50] rajanarayan92 opened #690 "Does dynomite support redis-cli --pipe option?"
Assume there are 2 dynomite nodes, one in each datacenter with token "0".

I'm trying to load the redis AOF file in node-1 using below command. But the data is not written into redis, hence no replication as well.

Whereas I can execute this directly on redis server.

My question here is whether dynomite currently support such use cases?

[2019-07-30 19:40] balajivenki opened #691 "Connection leak or connections not closing/released/recycled when client app is down"
Hi @shailesh33  and @ipapapa

I am running dynomite vdynomite-v0.6.11-dirty and my dynomite conf is

`
 dyn_o_mite:
  auto_eject_hosts: true
  data_store: 0
  datacenter: DC2
  dyn_listen: 0.0.0.0:50555
  dyn_seed_provider: simple_provider
  dyn_seeds:
  - dynomit02.*****.com:50555:rack02:DC2:858993459
  - dynomit04.*****.com:50555:rack02:DC2:1717986918
  - dynomit06.*****.com:50555:rack02:DC2:257

[2019-07-30 22:41] balajivenki commented on #691
We also found that the connections made from client doesnt have keepalive and it is off. That makes sense why the connections are not closed on the server side. Is it a bug ? Typically the client connections should have keepalive right? Please suggest if I am missing anything here.

[2019-08-05 12:52] guruprasadb80 commented on #685
Below logs are seen continuously.

[2019-08-05 16:48:53.637] client_unref_internal_try_put:94 <CONN_CLIENT 0x2299b20 -1 from '10.227.92.111:40284'> unref owner <POOL 0x222b0e0 'dyn_o_mite'>
[2019-08-05 16:48:53.637] client_unref_internal_try_put:94 <CONN_CLIENT 0x229a330 -1 from '10.227.92.111:40286'> unref owner <POOL 0x222b0e0 'dyn_o_mite'>

[2019-08-16 00:29] jokecamp commented on #449
On my mac in `master` branch I had the same error. I believe this fixed it

`export PKG_CONFIG_PATH="/usr/local/opt/openssl/lib/pkgconfig"`

[2019-08-19 03:12] bylijinnan commented on #535
Seeing the same here running Dynomite 0.6.15 and redis storage:

[code]

[2019-08-19 03:27] bylijinnan commented on #344
I still get the same error. dynomite v0.6.15, redis storage.
the log is :
[code]
The redis command is 'set a a'.

thanks

[2019-08-19 16:04] smukil commented on #691
https://github.com/Netflix/dynomite/pull/692 is merged. Closing this.

[2019-08-19 16:04] #691 closed, assigned to smukil

[2019-08-19 17:47] smukil commented on #690
@rajanarayan92 We don't support the --pipe mode at the moment. You're welcome to submit a patch to support it if you like.

On another note, to load from an AOF file, you can make the node load from the file on redis-server startup by putting the file in a pre-determined path:

http://download.redis.io/redis-stable/redis.conf
_AOF and RDB persistence can be enabled at the same time without problem

[2019-08-19 17:54] smukil commented on #689
@iTosun I will debug with your script and get back with what I find.

[2019-08-19 17:58] smukil commented on #679
@emiteze The node03.yml 'rack:' field points to 'dc1-rack1'. You'd need to change it to 'dc1-rack2', right? Right now, it thinks all 3 nodes are part of the same rack and 2 nodes are overlapping on the token range.

[2019-08-19 18:02] smukil commented on #685
@guruprasadb80 We use internal tooling at Netflix to do log rotation, and that's why it's not implemented as part of Dynomite. It's fairly easy to set up yourself however.

Eg: https://linux.die.net/man/8/logrotate

[2019-08-19 18:02] #685 closed, assigned to nobody

[2019-08-19 18:02] smukil commented on #690
Closing this. Please reopen if you have more questions.

[2019-08-19 18:02] #690 closed, assigned to nobody

[2019-08-19 18:05] smukil commented on #662
@rajangamsj The dyno client has support for SSL. The server does not understand encrypted client connections at the moment however. We get around this by using ghost-tunnel on the server-side to do TLS termination:
https://github.com/square/ghostunnel

We will work on adding it natively as part of Dynomite in the future. You may also feel free to submit a patch if you want it sooner.

[2019-08-19 18:05] #662 closed, assigned to nobody

[2019-08-20 15:41] rmalenko opened #695 "Question: Important metric for monitoring"
Hello,

Could someone prompt me, please? What are the Important metrics for monitoring Dynomite?
I am going to prepare a template for Zabbix.

Thanks.

[2019-08-21 02:31] bylijinnan opened #696 "dynomite crash"
connect to dynomite and execute simple redis command "set a a", then dynomite crash:
[code]
The core dump file is
[core-2.zip](https://github.com/Netflix/dynomite/files/3523326/core-2.zip)

The dynomite nodes and redis nodes are in the same machine whose os is  CentOS Linux release 7.6.1810.

redis ports: 6xxx
dynomite ports 7xxx
dynomite listening port 8xxx

Here is my config files:
[code]

Besid

[2019-08-21 12:19] rmalenko opened #697 "OOM on first nodes in racks"
Hello,

We have OOM on first nodes in racks.
Our configuration is 3 nodes each has 3 GB RAM for Redis in one rack and we have 2 racks.

[code]

When we insert data these nodes become mirrored dc01-r01-01 and dc01-r02-01
We can insert a lot of data until these nodes will use all of allowed RAM and responds OOM but the number of keys is no more 1000

What we have.
Two nodes without free RAM dc01-r01

[2019-08-22 08:25] naveenNTP opened #698 "Persistent Storage for DataStore Redis"
Hi I'm trying to setup kubernetes cluster with netflix/conductor Dynomite and ElasticSearch

However i have options to provide volume mounts for Elastic Search , But I dont see an option to have the volume mount for dynomite , This way I can ensure that updates / container disposal doesnt affect the workflow storage ,
Such that the workflow  ( redis - storage )  is preserved and also is scalable

[2019-08-22 17:55] arun11299 opened #699 "Some doubts on the use case"
Hello folks,
I have few doubts on the use case of Dynomite. I have following scenario:
1. Two Redis instances are running in two different geographic locations. Running on Openstack Kubernetes cluster (two different clusters), if thats important.
2. I want them to be in ACTIVE-ACTIVE mode instead of MASTER-SLAVE because I want the instances to be writable on both locations.

Now I came across Dyno

[2019-08-31 04:27] #671 closed, assigned to nobody

[2019-09-08 10:30] Scriptkiddi opened #703 "yaml parser"
So I'm trying to package dynomite for NixOS and stumbled upon the incompatibility, with the YAML 1.2 spec (mainly being compatible with JSON), this is caused by
https://github.com/yaml/libyaml/issues/20
Just wanted to document this, maybe somebody is willing to add this to libyaml or switch the parser to something else

[2019-09-09 17:38] mkumar87 opened #705 "Dynomite API calling is taking time to respond ( ~ 35 second)"
Hi, I have a cluster running with Dynomite and when we trying to check for node status ( whether it is alive) using this API : /api/management/node/stop , It takes at least 35 seconds to get the response back..

Is that because Dynomite is effectively stopping the process which is taking time?

[2019-09-09 17:52] mkumar87 commented on #475
I have seen similar issue too.. We see a increase in CPU ~90% and CPU usage to 5000MHz and the VM crashes.

I dont see any suspicious logs, but below are the server logs i saw just before the VM crash :

Sep  6 22:16:15  nm-dispatcher: Dispatching action 'dhcp4-change' for ens192

Sep  6 22:16:15  systemd: Started Network Manager Script Dispatcher Service.

Sep  6 22:16:15  dbus-daemon: dbus[6062]

[2019-09-09 17:53] mkumar87 opened #706 "Dynomite CPU usage is increased and VM crashed/stopped responding"
We see a increase in CPU ~90% and CPU usage to 5000MHz and the VM crashes.

I dont see any suspicious logs, but below are the server logs i saw just before the VM crash :

Sep 6 22:16:15 nm-dispatcher: Dispatching action 'dhcp4-change' for ens192

Sep 6 22:16:15 systemd: Started Network Manager Script Dispatcher Service.

Sep 6 22:16:15 dbus-daemon: dbus[6062]: [system] Successfully activated serv

[2019-09-09 18:52] mkumar87 commented on #705
Never mind.. It is internal issue!

[2019-09-09 18:52] #705 closed, assigned to nobody

[2019-09-10 18:36] leonardodavinte opened #707 "Data consistency failure between 3 nodes."
Data consistency failure between 3 nodes.

Please can anyone help me?
Should all nodes have the same number of Keys?

I have 3 nodes and 3 racks. Each rack has only 1 node. 1 data center.
But my data has no consistency.

Below is the configuration of my 3 nodes. What am I doing wrong in my setup?

My data:
My keys are thousands of IPs. (Examples: 10.0.0.1, 10.0.0.2, ... 10.255.255.255)

redis-cli

[2019-09-10 18:53] #707 closed, assigned to nobody

[2019-09-10 18:56] leonardodavinte opened #708 "Data consistency failure between 3 nodes. [Question]"
Data consistency failure between 3 nodes.

Please can anyone help me?
Should all nodes have the same number of Keys?

I have 3 nodes and 3 racks. Each rack has only 1 node. 1 data center.
But my data has no consistency.

Below is the configuration of my 3 nodes. What am I doing wrong in my setup?

My data:
My keys are thousands of IPs. (Examples: 10.0.0.1, 10.0.0.2, ... 10.255.255.255)

redis-cli

[2019-09-11 18:49] effnnn opened #709 "Redis Timeout and Crash"
Hi,

Current setup is 2 DC, 1 rack with 1 node each. We are using 0.6.15 and we started noticing the following issue when there is a spike in activity in our service connected to dynomite/redis.

[code]

The timeout could be understandable, but not sure why the 'No such file or directory' error or the failed to forward request to local datastore which never recovers. This causes our service to cra

[2019-09-26 16:09] kjlaw89 commented on #651
Hey all - we just started using dynomite and ran into this issue as well. I was able to track it down and put in a PR #710 to get it resolved.

[2019-09-29 14:05] iTosun commented on #689
Any progress with debugging?
I've also did some debugging, it seems that running the LUA script is no problem. The queries within the script are getting executed with no problem. Except the return trough the dynomite layer seems to be a problem if the response is too big.

[2019-10-01 14:08] havlan commented on #708
@leonardodavinte they all have the same tokens? Look at examples in https://github.com/Netflix/dynomite/tree/dev/conf

[2019-10-02 07:49] ivancoppa commented on #651
Thanks @kjlaw89, I will try your patch

[2019-10-02 11:58] rnz opened #712 "Crush when redis-benchmark ping"
On remote host:
[code]
On dynomite host:
[code]
Config:
[code]

[2019-10-04 10:14] jkimalane commented on #668
any news about this one?

[2019-10-04 22:46] smukil commented on #668
@jkimalane We're strapped for bandwidth at the moment unfortunately, but we're in the process of on-boarding more developers on Dynomite, so we should be able to move faster in the coming weeks and get the patch in.

[2019-10-07 09:06] vengomatto commented on #651
We tested dynomite with version 0.6.15 and with branch rel_0.6_prod and we experienced this issue as well.
with mbuf_size: 16k  max_msgs: 100000 dynomite went over 2GB of memory usage. More than that, mem consumption slightly increased even at rest.
![image](https://user-images.githubusercontent.com/18739232/66298562-47739e80-e8f2-11e9-824b-c5eb7c49b238.png)

Now we are starting a new test with th

[2019-10-07 10:38] mmriis opened #714 "Azure TCP timeout"
This took a while to figure out.

DC 1 is a VM on Azure.
DC 2 is an on-prem VM.

After a little while they got out of sync and connection timeouts occured.

This is due to the way Azure handles TCP connections. All VMs are NATted 1:1 and TCP connections are silently dropped (no TCP RST) after 4 minutes of inactivity.

Dynomite respects Linux tcp keepalive values. But these keepalive probes start a

[2019-10-10 17:19] gustavoantao opened #718 "Release v0.6.16 does not show version"
Hello there!
This is more a report than an issue, but here we go.
Until yesterday I was suffering with the memory leak mentioned in this pull request: https://github.com/Netflix/dynomite/pull/710. So I've upgraded 2 of my servers with **v0.6.16**, but after this my dynomite returns an empty string in the REST API (http://hostname:22222/info) and when I run `dynomite --version` also.

Here is an ex

[2019-10-10 23:43] anujphadke commented on #665
@maksimlikharev - Are you still working on it? Do you mind if I take over this patch, if you are not actively working on it?

[2019-10-12 02:05] maksimlikharev commented on #665
we created pr for this, but we running dyno from our fork, so I'll confirm on Monday if we done anything more to that.

[2019-10-14 18:18] maksimlikharev commented on #665
we've done different code for v5.9 because of the changes in Info command, this is what we going to deploy in our environment. please check PRs in out fork: 3,4,5
https://github.com/ThomsonReuters-IPS/dynomite/pulls?q=is%3Apr+is%3Aclosed

[2019-10-17 15:54] fabio-lapolla opened #727 "Log flooded with client_unref_internal_try_put:95... messages"
Dynomite log gets flooded with the following messages:

`[2019-10-17 17:29:41.494] client_unref_internal_try_put:95 <CONN_CLIENT 0x562116106bc0 -1 from 'localhost:'> unref owner <POOL 0x5621160f9510 'dyn_o_mite'>
[2019-10-17 17:29:41.498] client_unref_internal_try_put:95 <CONN_CLIENT 0x562116106bc0 -1 from 'localhost:'> unref owner <POOL 0x5621160f9510 'dyn_o_mite'>
[2019-10-17 17:29:45.002] clien

[2019-10-25 13:49] fengchangfight opened #733 "How does dynomite handle rehashing?"
for example there are previously 3 servers in a single rack, now I'm doing linear scalabiliy, scale UP, make it 6 server in this rack, I guess there must be some data migration happen from the previous 3 servers to the newly added server right? even could be very little keys, since consistent hashing is not perfect. So how does dynomite handle this case by design?

[2019-11-11 14:11] Domineer-Long opened #743 "Can I use system environment variables instead of config files when starting dynomite?"
Can I use system environment variables instead of config files when starting dynomite?

I use it in k8s and docker.

There are many environment, and only one config file in docker image can be used when starting.

Then I want to use system environment variables instead of config file

[2019-11-18 21:43] kanagasabai-karunanithy opened #744 "Dyno / DynomiteDB Haproxy setup"
Hi All, I am new to DynomiteDB, As of now, I have set up two racks in the same DC.

rack1 ( 3 nodes )
rack2 ( 3 nodes )

Dynomite DB is working good, I see replication is happening, Now my Question here is, How to setup Haproxy or Dyno.

How clients need to hit a single IP where that should take care of which rack is active and send traffic to that rack.

can you explain how to setup Dyno step by

[2019-11-18 21:45] kanagasabai-karunanithy commented on #695
http://localhost:22222/info

this will be configured under yaml file

[2019-11-18 21:49] kanagasabai-karunanithy commented on #656
@smukil There is any place where i can see step by step procedure to setup DYNO for my env. I have two racks in the same DC. each rack has 3 nodes.

dc:rack1 -3 nodes
dc:rack2 - 3 nodes

i am stuck on setting up dyno clients for clients to hit dynomite. Kindly help me with step by step procedure for setting up Dyno.

[2019-11-19 21:23] kanagasabai-karunanithy commented on #733
@fabiokung Quick Question, How clients will hit to DynomiteDB? like we have 2 racks in each DC

DC- Rack1 - 3 nodes
DC - Rack2 - 3 nodes

like there is any HAPROXY setup in front of this racks? can you share with me the step by step config for this Haproxy or Dyno setup?

[2019-11-19 22:45] maksimlikharev commented on #656
@kkarun004c - have you checked: https://github.com/Netflix/dyno/wiki/Configuration

is it not enough?

I do understand that you have functioning dyno cluster and straggle with client ?

[2019-11-19 22:46] fabiokung commented on #733
@kkarun004c hey, not sure why I was at-mentioned. Typo?

[2019-11-20 01:50] kanagasabai-karunanithy commented on #733
Hi,

Yes Iam sorry I mean to mention fengchangfight.

Regards
Sabai

On Tue, Nov 19, 2019 at 5:46 PM Fabio Kung <notifications@github.com> wrote:

[2019-11-20 21:39] kanagasabai-karunanithy commented on #656
Hi @maksimlikharev, Thanks for your reply, I have gone through this page "https://github.com/Netflix/dyno/" to set up Dyno, after that,

I have gone through this page "https://github.com/Netflix/dyno/wiki/Configuration" it's not clear to me, means, I am not a java background person.

I am looking, under which path what config file needs to be there and how to start Dyno and how clients cant connec

[2019-11-21 02:30] maksimlikharev commented on #656
check if this makes sense for you:

[dyno-example](https://github.com/maksimlikharev/dyno-example)

should be public repo, just a simple example.

[2019-12-01 20:06] abdulrahman004 commented on #547
Can somebody elaborate how quorums can substitute for transactions

[2019-12-12 14:30] yuluoqianmu opened #747 "Dynomite support redis version"
Dose  Dynomite  support all the redis version？ Or Dynomite have no relate with the version of redis?

[2020-01-22 13:09] jhsware commented on #744
Just use a standard HAProxy setup. In this case I have installed it locally on the machine that wants to access the Dynomite cluster. Then you add a listener in tcp-mode:

[code]

Details on what the config means: http://cbonte.github.io/haproxy-dconv/2.2/configuration.html

[2020-01-23 20:21] mcouillard commented on #718
That's an odd one. We just upgraded from 6.12 to 6.20 and the version continues to show fine. We re-ran the entire configure/build process as seen in the readme.

[2020-01-30 01:32] mforti opened #761 "Replication in Dynomite"
In our company, we will use dynomite in production, where we will have two data centers, each with 3 redis servers. Our initial configuration was made with 1 rack for redis server, with a token equal to 4294967295 in all dyn_seeds declared in both data centers( 3 racks/ 3 redis for dc). However, we noticed that data is not always being replicated on all servers. Could you give an example of config

[2020-02-14 14:29] nonamewolf opened #762 "Suggestion: create a troubleshooting section in README for macOS dynomite installation"
(e.g - macOS):
1) Create a section with installation steps:
 - `brew install cmake autoconf libtool gcc automake openssl`
 - `export PKG_CONFIG_PATH="/usr/local/opt/openssl/lib/pkgconfig"`
2) Update README.MD
3) Update build.sh(force linking openssl doesn't work anymore)

I've wasted a lot of time trying to resolve openssl dependency issue, by applying solutions which are not relevant anymore. Hop

[2020-03-12 15:12] joakimortbrant opened #764 "Is number of racks in SAFE_QUORUM limited to 3 per DC?"
Planning to extend our current 3 rack in 1 DC to 5 racks but looks like the code evaluating DC_SAFE_QUORUM responses is hardcoded to expect 3 racks.
I see nothing documented regarding this limitation so can you please verify if this is the case or not please.

[2020-04-12 07:44] aratik711 opened #765 "Replication not working for Redis"
Hi,

I have setup Dynomite for Redis, with 3 nodes per DC and 2 DCs.
The 3 nodes per DC are in a cluster.

But the replication doesn't seem to be happening from dc1 to dc2.
If I set a record in DC1 doesn't seem to be added in DC2.

Below is a sample yml for node1 dc1:

[code]

The token formula is (nodeIndex is 0-based):
`token = (4294967295 / numberOfNodesInRack) * nodeIndex`

Dynomite version: v

[2020-04-14 09:05] qippur commented on #431
Just a ping: Still no plans to implement it?

[2020-04-14 13:39] mcouillard commented on #747
We've used it with v3 and v5 without issue. I don't know if there are specific version requirements. Guessing anything >= 3 is fine.

[2020-04-17 12:17] rbansal-lp opened #766 "Support BLPOP BRPOP with single Key"
This is very much required when we are dealing with redis queues. Can we work on it to support it?

[2020-04-30 15:38] mzubairsaleem opened #767 "make Comamnd fails"
Hi,

While Installing Dynomite On Linux Server
Ubuntu: 16.04 x86_64 GNU/Linux

Having This Error.

`make[2]: Entering directory '/root/dynomite/src/hashkit'
gcc -DHAVE_CONFIG_H -I. -I../..  -I ../../src -I ../../contrib/murmur3  -Wall -Wshadow -Wpointer-arith -Winline -Wunused-function -Wunused-variable -Wunused-value -Wno-unused-parameter -Wno-unused-value -Wno-missing-prototypes -Wno-missing-dec

[2020-05-01 08:55] m-ueberall commented on #767
@mzubairsaleem: Are you sure you have installed `libssl-dev`?

[2020-05-01 08:56] mzubairsaleem commented on #767
Yes I did Install but doesn’t work.

[2020-05-01 08:59] m-ueberall commented on #767
Which branch are you on? I successfully compiled branches v0.6/v0.7 on Xenial.

[2020-05-06 08:14] madhurid-91 commented on #698
I have the same problem. Did you find a solution to this issue?

[2020-05-08 16:33] netoe05 opened #768 "Netflix"

[2020-05-08 16:34] #768 closed, assigned to nobody

[2020-05-19 19:44] brody2consult opened #769 "InfoQ talk"
I think this one by @smukil belongs on the Wiki Video pages: https://www.infoq.com/presentations/netflix-crdt-entropy/

[2020-06-09 10:11] titasbose1 opened #770 "Redis-Dynomite HA Configuration and testing Not able To achieve HA"
Hi All,
i have created a cluster using Redis-dynomite with below configurations.

**ServerA Configuration dyn.yml**

dyn_o_mite:
  datacenter: dc-b
  rack: rack1
  dyn_listen: x.x.x.152:7379
  dyn_seeds:
  - x.x.x.152:7380:rack1:dc-a:2147483647
  - y.y.y.69:7379:rack1:dc-b:0
  - y.y.y.69:7380:rack1:dc-b:2147483647
  listen: 0.0.0.0:8379
  servers:
  - 127.0.0.1:22122:1
  tokens: '0'
  secure_serve

[2020-06-09 11:23] titasbose1 commented on #197
Hi @ipapapa  @timiblossom .
im working on  redis dynomite clustering , facing a scenario like this.
currently im having 2 servers serverA & serverB ,2DC in 2 servers  . my serverA went down .
all read write request came to serverB and got stored .now i manually made serverA up with redis nodes . i want to replicate serverB whole data in serverA .basically i want rebalancing between 2 DC .
How do i

[2020-06-09 11:30] titasbose1 commented on #770
Hi @ipapapa  @timiblossom  please help me with this .

[2020-06-15 10:38] gaultier commented on #762
Thanks, it helped. Not sure if cmake is required though.
I for my part made it work by doing:

[code]
because openssl headers and libraries could not be found (because Apple ships an old version of openssl in the default paths, so when doing `brew install openssl` to get a newer version, this is not put in the default search paths to avoid overriding the Apple version).

[2020-06-17 14:40] ipapapa commented on #769
Added https://github.com/Netflix/dynomite/wiki/Videos-and-Presentations

[2020-06-17 14:40] #769 closed, assigned to nobody

[2020-06-25 19:48] Kashif-S opened #771 "MSET for multi-datacenter clusters"
It seems that according to #49 mset should be supported for local clusters. From my experience, it doesn't seem to replicate between racks in different data centers. Is there any reason why it was implemented to only support local replication?

Also, it seems that mset is still marked as unsupported in https://github.com/Netflix/dynomite/blame/dev/notes/redis.md

[2020-07-02 04:51] ipapapa commented on #770
I am not following what you mean you are not achieving HA although you are achieving replication. By default, once you have many replicas if a replica is lost then you have another replica to failover. To bring the data back, you need a feature to do a warmup. This is part of Dynomite-manager.

[2020-07-05 19:15] titasbose1 commented on #770
Hi @ipapapa  Thanks for the response . we are using normal linux machine .I have installed redis,dynomite and dynomite-manger .as this link https://github.com/Netflix/dynomite-manager says we have to implement some interfaces to run dynomite-manager .

1. can you provide me some example of implemented interfaces for normal linux machine ?

 2.can we use couchbase/mysql for token management ? if ye

[2020-07-08 08:28] Wlitsoft opened #772 "Help is needed for failover problems"
hi,
I'm using dyno to concurrently request Dynomite
Environment configuration: Three racks with three tokens （One of the hosts simulates a rack with three port ）
1. Hard shut down the local rack to simulate the failure, and found that the cluster returned to normal in about 80 seconds.

2. Hard shut down any remote rack and some errors caused the dynomite instance to exit.
   _MSG_GET :302 Escort

[2020-07-09 05:29] ipapapa commented on #770
1. See the [AWS bindings](https://github.com/Netflix/dynomite-manager#howto) for the interfaces for what you need to implement
2. It depends on whether you are deploying Dynomite in a single region or many regions. For many regions, you need a system that would do global replication. For local region, you should be OK with MySQL/Couchbase. More info [here](https://github.com/Netflix/dynomite-manag

[2020-07-09 05:32] ipapapa commented on #771
It is a multi-key command so you will have consistency issues if another client is trying to make a mutation in a remote node at the same time.

[2020-07-09 05:35] ipapapa commented on #767
Correct, this is a dependent library missing.

[2020-07-09 06:19] ipapapa commented on #766
If you are interested in contributing this command, please feel free to file a PR, and someone will review and provide feedback.

[2020-07-10 12:47] titasbose1 commented on #770
Hi @ipapapa @diegopacheco  , im trying to implement IMembership interface .
Followed AWSMembership class and trying to implement methods . So these are methods i need to implement and im neither using Amazon nor AWS . What exact implementation should i provide for these methods ? what is expected from this methods without Amazon and AWS ?for normal linux machine
currently its giving me this except

[2020-07-13 12:49] Kashif-S commented on #771
Why isn't this an issue for replication within local racks?

[2020-07-22 13:34] zhaidongbo opened #773 "How to resolve the conflict in Dynomite when clients write in 2 Data Centers?"
Hi,
How to resolve the conflict in Dynomite when clients write in 2 Data Centers simultaneously?
I can't find any information, Could you help me?
Thank you

[2020-07-30 19:20] rsms commented on #767
I'm seeing the same result on macOS 10.14 with 46c75201bfaca02b656c44bcf39ca68bba3a54c7 — I have openssl@1.1 installed via Homebrew.

[code]

Note that I do have `openssl/bio.h`:

[code]

Note: I've also tried running configure without the `--with-openssl` with the same result. Is it possible that the make setup does not honor the autoconf `with` flag? I don't see it for `-I` to gcc: (line from ma

[2020-07-30 19:37] rsms commented on #767
Here's how I got it to compile on macOS 10.14: (bash, in the dynomite source root directory)

[code]

The issue seems to be that the build relies on the compiler's built-in search paths for headers and libraries, ignoring `--with` arguments to the `configure` script.

[2020-08-05 18:51] anujphadke commented on #766
@ipapapa  - I can work on this enhancement. Can you assign this to me?

[2020-08-24 16:43] xwiz commented on #456
In my case I keep getting whenever I issue any command via redis-cli

dn_assert:301 assert 'ncontinuum != 0' failed @ (dyn_vnode.c, 129)
dn_assert:301 assert 'idx < a->nelem' failed @ (../dyn_array.c, 135)

While using php-redis client leads to:

redis_parse_req:1583 parsed unsupported command 'COMMAND'
redis_parse_req:2383 parsed bad req 1 res 1 type 0 state 5

This is on Ubuntu Focal Fossa.
Dyna

[2020-08-25 16:20] smukil commented on #773
Hi @zhaidongbo As per the wiki, last writer wins in this case, i.e. which ever client's write was last written in a quorum number of replicas.

[2020-08-25 16:32] smukil commented on #772
That seems like a very old error message. What version of Dynomite are you using? The latest version is `v0.6.21-rc2`.

[2020-09-11 13:10] ballisticpotato opened #778 "Problems Building on Ubuntu 18.04 in WSL"
Hello,

I'm having some difficulty building Dynomite v0.6.21-rc2 inside Ubuntu 18.04 in WSL on Windows 10, version 1803. Running `autoreconf -fvi` completes successfully, but I get several warnings about 'subdir-objects' is disabled. The problem is when I run `./configure --enable-debug=yes`, I get the following error:

[code]

In terms of tools installed, I am running:
- automake 1.15.1
- autorec

[2020-09-11 14:03] ballisticpotato commented on #778
Solved the problem by building in an actual Linux VM. I was able to build successfully on Red Hat Enterprise Linux Server release 7.8 (Maipo) after installing autoconf, libtool, gettext, and openssl.

[2020-09-11 14:03] #778 closed, assigned to nobody

[2020-09-14 10:08] rnz commented on #707
@leonardodavinte Hi! Can you share right dynomite config for redis cluster?

[2020-09-16 12:59] mek-omkar commented on #226
I'm looking for Go lang dynomite client. is it available?

[2020-09-16 18:39] TwoUnderscorez opened #779 "Non-java clients"
Am I missing something or is the only available client is for java?
I couldn't even find a python client on PyPI.
Is there maybe a way to use an existing client for Redis for C# or Python to interface with Dynomite (with a Redis backend)?

Thanks in advance!

[2020-09-17 13:07] ipapapa commented on #226
You can use the vanilla Go Redis client but you may miss some of the above features. You do not need a special client to use Dynomite. We currently do not provide a specialized client for Go.

[2020-09-17 13:09] ipapapa commented on #771
Correct, the same issue may appear in a local datacenter but at least you have quorum guarantees on writes within a local Datacenter.

[2020-09-17 13:12] ipapapa commented on #197
Please take a look at the [Cold Bootstrapping](https://github.com/Netflix/dynomite-manager/wiki/Cold-Bootstraping) process. The process is fairly simple.

[2020-09-17 13:13] ipapapa commented on #779
Yes, you can use an existing Redis client with Dynomite. There is more information in the [Polyglot section](https://github.com/Netflix/dynomite/projects).

[2020-09-17 13:15] ipapapa commented on #761
There are several exemplar YAML configurations in this [folder](https://github.com/Netflix/dynomite/tree/dev/conf).

[2020-09-17 15:13] TwoUnderscorez commented on #779
I see, thanks!
But I couldn't find any documentation on how I should connect to Dynomite with the Redis (or Memcached) client.
I tried to connect to 8102 but that didn't work. Is connecting to 22122 the way to do it?

[2020-09-18 14:55] ipapapa commented on #779
Depends on the configuration on the YAML but if you use the default one you should be connecting to 8102 go through Dynomite. 22122 is directly Redis which the clients should not be using.

[2020-09-19 13:48] TwoUnderscorez commented on #779
Finally got it to work. Thanks for your help!
My problem was the client. I was trying to connect to DB 1 (for whatever reason) with all kinds of configurations and with all kinds of clients for C# and Python when it hit me that I should try to connect to DB 0.Then it finally worked.
The problem is in `StackExchange.Redis` which basically did not work for me with Dynomite. The only library that I g

[2020-09-19 13:48] #779 closed, assigned to nobody

[2020-09-20 14:59] mek-omkar commented on #226
@ipapapa  thanks for the information.

[2020-09-21 06:18] gitcatrat opened #780 "This vs ElastiCache?"
Sorry about the question but what's the difference with AWS ElastiCache? When should I use this instead of ElastiCache?

[2020-09-21 06:23] gitcatrat commented on #780
I looks like this project was created before some of the ElastiCache features and slowly becomes less useful in AWS?

I guess it could still be used in client datacenter or across AWS and datacenter.

[2020-09-24 14:40] ipapapa commented on #780
My understanding of AWS ElastiCache is that it is a Redis deployment (probably with Redis Cluster). High availability by Redis Cluster is achieved by a primary/secondary deployment. Once your primary has an issue the secondary is elected to serve the traffic. In other words, per the CAP theorem the system is CP. Dynomite provides active-active and focuses on the AP. If a node goes nodes, there is

[2020-09-24 14:41] #773 closed, assigned to nobody

[2020-09-24 16:59] gitcatrat commented on #780
@ipapapa Thanks for insights!

[2020-09-24 16:59] #780 closed, assigned to ipapapa

[2020-09-26 09:34] m-ueberall opened #781 "Please identify latest stable release (v0.6.20 or v0.6.21?)"
I for one find it quite difficult to identify the latest stable release:
- Under *"Releases"*, you see `v0.6.21` published on the 4th of November, followed by `v0.6.21-rc2` published on the 21st of the same month.
- Unter section *"Workflow"*, it is stated that *"[e]very branch numbered like v0.5.9, v0.5.8 etc is stable and safe to use in production unless marked as pre-release."*
- There are lots

[2020-10-06 14:29] ipapapa commented on #781
`v0.6.21` is the stable one that we use in production. Anything that uses `-rcN` is a Release Candidate (not stable). Hence the stable version of `v0.6.21-rc2` will be `v0.6.22` (once released).

The branch `v0.6` is continuously updated and from that, the releases of `v0.6.x` are being produced. Once it is in a good state and tested, there is an RC release. The branch `v0.7` was supposed to conta

[2020-10-19 23:37] dreusel opened #782 "Documentation mentions wrong operations not-checked for quorum?"
The documentation page about consistency (https://github.com/Netflix/dynomite/wiki/Consistency) mentions a list of Redis operations for which there is no quorum check. However two of these commands (MKEYS, MHKEYS) don't seem to exist in the Redis documentation but I do suspect that this limitation applies to the actual HKEYS command, which is not mentioned?

[2020-11-30 10:27] ankane commented on #781
fwiw, I was confused about the first point as well (a release candidate coming after a release). Typically, `v0.6.21-rc2` will come before `v0.6.21`.

[2021-02-01 18:19] palateo93 opened #788 "Forward errors and unref owner"
Hi,
I'm having problems with Dynomite cluster.
The cluster is composed by one dc and 2 racks with 1 server each.

From Grafana I see a lot of errors as reported below:
<img width="791" alt="grafana_redis_errors" src="https://user-images.githubusercontent.com/43958921/106498370-8d794c00-64bf-11eb-879c-415736060a63.png">

From the logs:
[code]

Here the nodes configurations:
[code]
[code]

I've alre

[2021-02-16 00:00] paulolellis commented on #767
Thanks RSMS, you're a saviour!  :)

[2021-02-19 17:22] padmanabane opened #789 "REDIS Clusters are not replicating"
Hi I have two REDIS cluster(each has 6 nodes : 3 master and 3 replica) are up and running without any issue

I have created below configuration file for Data Center SPCO and TPFL.. same dynomite.yml for all 6 nodes in the clusters... spco_dynomite.yml for SPCO cluster and tpfl_dynomite.yml for TPFL cluster so that they can replicate any change on SPCO to TPFL and same way TPFL to SPCO, they are st

[2021-03-08 11:36] venkatasivamadala opened #790 "dynomite cluster is not replicating between two data centers"
I have 10 nodes per rack and one rack per dc.

dc_east4 - rack1 - 10 nodes
dc_central1 - rack2 - 10 nodes

Replication is not happening between datacenters. Please tell if I am doing anything wrong with the configuration.
dyn_o_mite:
  data_store: '0'
  datacenter: dc_east4
  dyn_listen: 0.0.0.0:8101
  dyn_port: 8101
  dyn_seed_provider: simple_provider
  dyn_seeds:
  - 100.148.52.69:8101:rack1:dc

[2021-03-08 12:30] venkatasivamadala commented on #790
@ipapapa  Can you help?
Working with two nodes per DC, but replication is not working with similar configuration with 10 nodes per DC.

[2021-03-10 14:00] abhinav0101 commented on #124
Hi there,

We are using dyno client for connecting to our 4 dynomite instances placed on one rack each in a single dc setup. In the case where all the redis are up , the system works fine, but in case of any redis node going down it is not failing over to another node and throwing exception

com.netflix.dyno.connectionpool.exception.FatalConnectionException: FatalConnectionException: [host=Host [h

[2021-03-10 14:08] abhinav0101 commented on #323
hi @ipapapa

we are not using any discovery service as yet. this is how I set up dyno.

public void setUpDyno() {

        try {
            final List<Host> hosts = new ArrayList<Host>();
            hosts.add(new HostBuilder().setHostname("box2")
                    .setIpAddress("127.0.0.1")
                    .setPort(8104)
                    .setRack("rack2")
                    .setDatacen

[2021-03-12 06:55] abhinav0101 commented on #767
real life legend right here

[2021-03-12 16:00] ipapapa commented on #767
Since others may have the same problem, why don't you folks open a PR to briefly update the documentation?

[2021-03-12 16:04] ipapapa commented on #323
What happens if there is a failover? How is the topology being updated? There has to be some ERROR or log information. It has been a few years since I touched this code. @smukil may remember something or someone else.

[2021-03-12 16:53] abhinav0101 commented on #323
@ipapapa, @smukil I resolved the issue. Basically I wasnt updating Host Status in the client side when a host was going down.

What I understood from the netflix dyno code is the getHosts() function is called before every read and write. So, everytime getHosts is called, it has to update the Status of hosts as UP or Down. Currently, I am pinging the redis instances with Jedis  every 500 ms and upd

[2021-03-16 16:46] padmanabane commented on #789
@smukil @ipapapa @sghill @bryanck Any suggestion or configuration(files) I have to correct to work between cross data center replication. Each DC running with 6 node replication(3- master 3-replica)

I can replicate single node to single node it is working fine but not as a REDIS Cluster.

[2021-03-16 18:38] ipapapa commented on #790
From what I see you are using 1 per datacenter. I do not see any major issues. A few things to keep an eye on:

- You can change `secure_server_option: all` to `secure_server_option: datacenter` as it does not play any role.
- You can update `listen: 0.0.0.0:8102` to `listen 127.0.0.1:8102`

I would recommend increasing the verbosity level and see what are the printed errors that cause the issue.

[2021-03-16 18:41] ipapapa commented on #789
If I recall correctly, Dynomite does not support the client to server Redis encryption but encrypts replicated data. The assumption is that your client and server are on the same virtual private cloud. I am also not understanding what you are trying to achieve with both Redis Cluster and Dynomite. Redis Cluster is a CP system for Redis, Dynomite is an AP system for Redis.

[2021-03-16 18:44] ipapapa commented on #782
That is correct, there is a typo. `HMKEYS` and `HKEYS`. @smukil can you please update the wiki?

[2021-03-16 21:16] padmanabane commented on #789
Thanks @ipapapa.

I am going to have a REDIS cluster in 2 Data Center(East and Central US) and we want to replicate redis data between these DCs. Especially we care about Pub/Sub. When we switch between DCs normally you lose all the data in one DC will not be migrated and we are fine, the Cache will be get build up once started. But that is not a case for Pub/Sub, it will be lost if switch DCs. Th

[2021-03-17 05:59] venkatasivamadala commented on #790
@ipapapa Thanks for the update. Replication was not working for few nodes. Found out the issue is with encryption, so taken out the pem_key_file and it worked.

[2021-03-17 12:58] #790 closed, assigned to nobody

[2021-03-17 14:47] ipapapa commented on #789
Makes sense as a use case. Note that Dynomite does not provide **guaranteed** replication across DCs, so you may have a dropped messages that can affect the Pub/Sub. Secondly, pub/sub is not supported by Dynomite.

[2021-05-04 12:50] jyriok opened #793 "Dynomite project is dead ?"
hello,

We use Dynomite here  but we don't see any major upgrade since 2019 (except one little bugfix this january)
Netflix use another technologies than Dynomite with Redis  ? what is the futur for Dynomite ?

thanks for your answers :)

[2021-05-31 12:07] Carson220 commented on #727
Does your problem solve? I've been in this situation, too. What does this log entry mean?

 client_unref_internal_try_put:95 <CONN_CLIENT 0x562116106bc0 -1 from 'localhost:'> unref owner <POOL 0x5621160f9510 'dyn_o_mite'>

[2021-05-31 12:09] Carson220 commented on #685
Does your problem solve? I've been in this situation, too. What does this log entry mean?

client_unref_internal_try_put:94 <CONN_CLIENT 0x2299b20 -1 from '10.227.92.111:40284'> unref owner <POOL 0x222b0e0 'dyn_o_mite'>

[2021-06-06 12:01] morganbst commented on #793
+1 to this question.  I've been shopping around for something that can handle global replicate full-active (on all nodes - which counts out a lot of great solutions for which a single region is the "writer" per each record.

Would people still suggest looking at this for a distributed caching solution (basically an in-memory dynamodb from my understanding) The fact that it supports Redist with CRD

[2021-06-09 02:12] kiddingl opened #794 "I create 2 dcs， 2 rack2 in every dc， 1 redis server in every rack， the dc2 data will recover from dc1 if dc1‘rack restart？"

[2021-06-13 06:22] Amritanshu02 commented on #550
Hi! I would like to work on this issue.Can you suggest me where to start ?

[2021-06-14 11:11] guru1306 opened #795 "Dynomite cluster without using dynomite-manager"
Hi All

We are trying to build a highly available Dynomite+Redis Cluster (for Conductor persistence) on native Linux machines.

We want basic failure handling when Dynomite+Redis server nodes go down and come back. Does the support exist out of the box ? In some discussions, it was suggested that Dynomite-manager is mandatory for Dynomite cluster to operate, and that Dynomite-manager currently is

[2021-06-15 06:29] SaiKiranMarineni opened #796 "Dynomite-Redis master-master cluster - Flush cache"
Hi Team,

I am running dynomite-v0.6.21-rc2-19-gb56cf6a with redis 6.2.4 with master-master configuration in 2 different servers
as a Memory Datastore cache on CentOS Linux release 7.9.2009 (Core).

Here we are required to flush cache. i  have tried below steps

1) redis-cli -h ipaddress  -p 8379
2) flushall

and i am getting  " Error: Server closed the connection "  and in  dynomite service statu

[2021-06-16 12:03] kaplingat commented on #795
+1. We too are looking for the same.

The discussion [here](https://github.com/Netflix/dynomite-manager/issues/52) seems to indicate that dynomite-manager is required for implementing a highly available Dynomite cluster (i.e. where nodes can go down and rejoin). Is this still true? The docs do not seem to be very clear on this.

[2021-06-21 16:42] abhidutz opened #797 "Does dynomite work with redis-graph?"

[2021-06-25 06:39] abhinav0101 opened #798 "Dynomite log meaning"
Can someone explain what do these logs mean? Specially the  "on event 00FF eof 1 done 1 rb 3536 sb 1221" part ?

proxy_accept:220 accepted CLIENT 14 on PROXY 8 from '10.150.114.162:54142'
[2021-06-24 13:22:14.032] core_close_log:343 close CLIENT 166 '10.150.114.144:41368' on event 00FF eof 1 done 1 rb 3536 sb 1221

[2021-06-25 06:39] abhinav0101 commented on #798
@ipapapa @diegopacheco

[2021-06-25 07:00] abhinav0101 opened #799 "proxy_accept:173 accept on PROXY 8 failed: Too many open file"
Please help with this error

[2021-06-25 15:24] ipapapa commented on #797
I can only assume Redis-graph uses more advanced APIs than the ones Dynomite supports: https://github.com/Netflix/dynomite/blob/dev/notes/redis.md

If that is the case, then the answer is no. Please check the supported APIs by Dynomite and the APIs needs by redis-graph to validate my hypothesis.

[2021-06-25 15:27] ipapapa commented on #795
Dynomite-manager is not needed to run Dynomite. Dynomite can run standalone. However, if you are thinking of a system that provides the features listed in the [readme](https://github.com/Netflix/dynomite-manager ) you will need Dynomite manager. Dynomite provides a number of Rest APIs to create your own lighweight sidecar.

[2021-06-25 16:11] guru1306 commented on #795
Thanks @ipapapa . Does this mean when a  server in a rack restarts it can catch the lost writes without Dynomite manager?

[2021-06-25 17:31] shailesh33 commented on #798
proxy_accept : function name
CLIENT: type of connection
PROXY: (if my memory serves me well) type of listener in dynomite (there is PROXY for listening on 8102 and peer proxy for listerning on 8101 for talking to other dynomite nodes)
166: every connection is given an internal identifier for debugging purpose in the logs
00FF: I think this is the events received by select call.
eof 1 : received EO

[2021-06-25 18:55] abhinav0101 commented on #798
Hey @shailesh33 Thanks a lot for the quick reply. Support from you guys would ensure that this community keeps growing.

I would really like some help with the below questions.

1.) What do the codes "220" & "343" in the above logs mean?
2.) Recently we experienced an issue with our dynomite setup. We are running 3 racks 1 dc dynomite cluster with RF = 3. One of the 3 dynomite.yml files looks like

[2021-06-26 16:40] lakshmansai commented on #733
any updates here?

[2021-06-30 00:52] 1fragment opened #800 "TEST: Redis Commands Supported"
Do you need to test
cover all redis commands currently supported by dynomite? 108
use junit5+jedis
[https://github.com/1fragment/DynomiteRedisTest](https://github.com/1fragment/DynomiteRedisTest) Take a look if you need to

[2021-06-30 01:08] 1fragment commented on #800
I was the 800th,
Let me ease the tension,
Introduce a Chinese tongue twister related to 800
八百标兵奔北坡，炮兵并排北边跑。炮兵怕把标兵碰，标兵怕碰炮兵炮 :)

[2021-07-03 17:22] mcouillard commented on #793
I've been watching https://keydb.dev/ for a while now. It looks like a solid alternative to redis+dynomite for multi-master. But we haven't taken a deep dive to try it yet.

[2021-09-02 09:10] abhinav0101 opened #801 "Dynomite logs missing"
hi we have been using dynomite in our production environment and today it crashed for some reason which I will mention further. But, I checked that we don't have logs of a few days in dynomite since last 1 month. something is off and I want to understand what please find the ss below
u can see we dont have logs of many days in between
we have not experienced down time in those days

Till 16th Augu

[2021-09-02 09:17] abhinav0101 commented on #801
Also, what about this unknown client in the below log

```[2021-08-16 16:44:39.567] core_close_log:343 close CLIENT 785 ‘unknown’ on event FF00FF eof 0 done 0 rb 187896 sb 65022: Connection timed out```

also this

```[2021-09-02 10:17:51.108] core_close_log:343 close CLIENT 319 'unknown' on event FF00FF eof 0 done 0 rb 84760630 sb 29332529: Connection reset by peer```

[2021-09-02 09:19] abhinav0101 commented on #801
@smukil

[2021-09-10 11:21] aarninkron opened #802 "Make error in Debian 11: multiple definition of C2G_OutQ"
I want to install Dynomite on Debian 11 but i get the following errors when i run the make command.  Is there a solution?

I'm working with the branche v0.7

**Commands i used**:
$ git clone -b v0.7 https://github.com/Netflix/dynomite.git
$ cd dynomite
$ autoreconf -fvi
$ ./configure --enable-debug=yes
$ make

**Error with make**

libtool: link: gcc -Wall -Wshadow -Wpointer-arith -Winline -Wunused

[2021-09-10 13:28] aarninkron commented on #802
I found the solution on: https://github.com/dmolik/dynomite/commit/303d4ecae95aee9540c48ceac9e7c0f2137a4b52
patch the files src/dyn_ring_queue.c and src/dyn_ring_queue.h and it works perfectly

[2021-09-10 13:29] aarninkron commented on #802
I found the solution on: https://github.com/dmolik/dynomite/commit/303d4ecae95aee9540c48ceac9e7c0f2137a4b52
patch the files src/dyn_ring_queue.c and src/dyn_ring_queue.h and it works perfectly

[2021-09-10 13:29] #802 closed, assigned to nobody

[2021-09-22 03:15] BaoHuaWang opened #803 "unsupported command 'SELECT'"
Jedis jedis = new Jedis(r.getAddr(), r.getPort());
jedis.select(1);

error:
redis_parse_req:1583 parsed unsupported command 'SELECT'

[2021-09-22 08:20] BaoHuaWang commented on #803
@smukil

[2021-10-05 02:05] nothinux commented on #803
Dynomite doesn't support `SELECT` command, you can see full list in [here](https://github.com/Netflix/dynomite/blob/dev/notes/redis.md)

[2021-10-25 08:52] ihsinme opened #804 "Incorrect Privilege Assignment"
https://github.com/Netflix/dynomite/blob/b56cf6a0e51a3c1941359da44af9e432c64b2f90/src/dynomite.c#L151

Good afternoon.
I noticed that your code uses umask (0) with calls to open files without setting permissions.
then your program will work with files with wide enough permissions and can, which can lead to security problems.
I suggest to restrict access rights.

[2021-12-13 21:42] ankane opened #806 "brew install dynomite"
Hi, thanks for this project! Just wanted to share that it's now available on Homebrew, so Mac users can install it with:

[code]

The sample config files are in `/usr/local/etc/dynomite` by default on Mac x86, and I believe `/opt/homebrew/etc/dynomite` on Mac ARM.

Ref: https://github.com/Homebrew/homebrew-core/pull/91186

[2022-02-08 03:11] #806 closed, assigned to nobody

[2022-03-10 12:26] m-ueberall commented on #793
@mcouillard Thanks a lot for the link! Did you manage to try it in the meantime?

[2022-03-10 13:59] mcouillard commented on #793
@m-ueberall We haven't had the need to just yet. And honestly, reading the open Issues on KeyDB today has me a bit worried about their active/active master/master replication. A move to KeyDB likely needs extra thorough testing all the way through real world load testing over time.

Dynomite, while older and not frequently updated, seems to be perfectly simple enough to just plain work reliably fo

[2022-03-11 19:20] m-ueberall commented on #803
@BaoHuaWang: For the record, [there is a patch that supports a `SELECT 0` command](https://github.com/Netflix/dynomite/commit/6edd0ff5fc528ec684db6a6006f7af8d077da790) (which needs to modified slightly in order to apply to [v0.6.22](https://github.com/Netflix/dynomite/releases/tag/v0.6.22)).

[2022-04-23 15:06] Dwijad opened #808 "Replication is not working from appication/client side"
Hi
I have three node dynomite cluster setup in VMWARE along with Redis server running in each of those three nodes. The replication is working fine if i use redis-cli. However one of the application that i am trying to integrate with dynomite is unable to read/write to the cluster.

[code]

Node 1: 172.16.10.242

[code]

Node 2: 172.16.10.48

[code]

Node 3: 172.16.10.48

[code]

The replication i

[2022-04-25 04:08] Dwijad commented on #808
It was an issue within the application which was unable to write to the dynomite. Dynomite is working fine.

Also, It looks dynomite is not updating its codebase from last few years. After exploring alternatives to master-master redis cluster, i have found [keydb](https://keydb.dev/) a better option for my requirements.

[2022-04-25 04:08] #808 closed, assigned to nobody

[2022-05-10 12:19] #622 closed, assigned to ipapapa

[2022-07-22 17:20] yurivict opened #810 "Build breaks on armv6, armv7"
[code]

clang-11
FreeBSD 13.1

[2022-08-05 20:37] Ilke-dev commented on #709
I've got the same issue

[2022-10-28 16:12] WenningQiu opened #813 "Warning messages when building from source"
When I build Dynomite from source on my RHEL 7 (see detail below) I am getting some warning messages that are concerning. I am attaching the entire make output if that helps.

My question is if there is any way to get a clean build, such as additional options/switches, an optimal platform on which to do the build or enhancing the source to suppress the warnings?

'''
qiuwen01-pa@accdevxacpx0001> u

[2022-10-28 22:00] WenningQiu opened #814 "AUTH command not supported"
I am looking into using Dynomite to replicate data between Redis clusters, but running into the roadblock of authenticating users via Dynomite proxy. It appears that Dynomite does not support AUTH command.

Dynomite version: v0.8
Redis version: 6.2.6

Has anyone run into the same situation and how to get around it?

[code]

[2022-10-31 13:48] WenningQiu commented on #814
https://github.com/Netflix/dynomite/issues/46
https://github.com/Netflix/dynomite/pull/576
https://github.com/Netflix/dynomite/pull/748

[2022-10-31 13:48] #814 closed, assigned to nobody

[2022-11-09 17:01] WenningQiu opened #815 "Dynomite POC question"
OS: RHEL7
Redis: 6.2.6
Dynomite: https://github.com/Netflix/dynomite/tree/v0.8 with AUTH changes in https://github.com/reimannf/dynomite/tree/redis-auth applied to support AUTH command.

My application currently uses Redis Open Source as distributed cache. I am trying to use Dynomite to replicate data between Redis clusters running in different data centers so that the application can fail over to

[2022-11-23 05:58] venkatchinmay opened #816 "ERR Storage: Datastore refused connection"
Hi @ipapapa @smukil
we created dynomite cluster with 6 nodes , each rack contains 3 nodes. we observed dynomite connections on 8102 and redis connections on 6379 of each node is working fine.
we received **ERR Storage: Datastore refused connection** randomly for valid commands. if we used same command every time we received data and some times it is giving **ERR Storage: Datastore refused connecti

[2022-11-23 09:44] danlabici opened #817 "DEL/HDEL commands return (nil)."
Hello everyone,
This is a similar issue to https://github.com/Netflix/dynomite/issues/523, but we are using the expected commands.

We are currently encountering a strange issue with Dynomite returning `(nil)` when trying to delete an existing key from the Redis Server.
During the debug, we have tried with only 1 redis server in the configuration but also two of them, and we see the same behaviour

[2022-11-24 12:02] venkatchinmay commented on #816
Hi @ipapapa @smukil
we identified it is causing due to EVENTUAL CONSISTENCY between the two racks, we already know that dynomite is having high AVAILABILITY AND PARTITION TOLERANT.
did we have repairs mechanism like cassandra to achieve immediate consistency, if it have please share the doc.
we observed dynomite manager is with AWS configuration, if there is flexibilty with LOCAL ENVIRONMENTS plea