[2016-12-13 04:04] ipapapa commented on #368
@akbarahmed completed `mbuf_size` and `alloc_msgs_max` https://github.com/Netflix/dynomite/pull/387 Feel free to do any other YAML changes.

[2016-12-14 06:47] upcloud opened #390 "entropy init"
i have read through the source code of  dynomite ,but i am a little confused about the entroy_init ,it seems hard code and listen on port 8105 ,but there is no logic to be connected by peer or client .is it for the next release to help replicate or has it already in use  for clustering .if so ,who you give some advice to replicate the data through different rack

[2016-12-14 11:31] shailesh33 commented on #390
8105 port was opened for a external reconciliation process that we were developing using spark. The spark portion is developed and the rest is a work in progress.

[2016-12-14 13:36] ipapapa commented on #390
@shailesh33 shall I move the hard coded port and IP value of the entropy code to the YAML?

[2016-12-14 17:11] shailesh33 commented on #390
May be not yet, till we are ready with the rest of the system?

On Wed, Dec 14, 2016 at 5:36 AM, Ioannis Papapanagiotou <
notifications@github.com> wrote:

[2016-12-19 10:17] maryoush opened #392 "Data retrieval issue on 3 rack dynomite"
Hi
we have 3 node setup of dynomite (similar to https://github.com/Netflix/dynomite/blob/dev/conf/redis_rack1_node.yml / https://github.com/Netflix/dynomite/blob/dev/conf/redis_rack2_node.yml /
https://github.com/Netflix/dynomite/blob/dev/conf/redis_rack3_node.yml)

We have created simple client https://github.com/maryoush/dynomite-client
For many reasons we  couldn't use the Eureka (and we have

[2016-12-19 10:51] maryoush commented on #392
Looking down to Redis each rack (each has a single node per rack)
sees 3 queues/sets
testdynoqueues.QUEUE.queue1.k1 zset
testdynoqueues.QUEUE.queue1.k2 zset
testdynoqueues.QUEUE.queue1.k3 zset

And my client for local rack (rack1) just is able to get the elements from first set

[2016-12-19 10:51] #392 closed

[2016-12-19 10:52] maryoush commented on #392
The issue was on our site we had sharding while writing but only while reading we get data for current/local shard

[2016-12-19 11:15] maryoush commented on #392
I think the take-away is that com.netflix.dyno.queues.ShardSupplier description is not intuitive
If you don't provide consistent shard supplier you can not get your data back.

[2016-12-19 14:46] ipapapa commented on #392
@v1r3n ^^

[2016-12-19 16:51] shailesh33 commented on #368
I suggest we get ride of the server_connections parameter. We can corrupt the data is we have more than one server_connections. There is no binding of client connections to the server connections so a client request can be sprayed on multiple connections leading to out of requests.

[2016-12-19 16:53] v1r3n commented on #392
dyno-queues uses the sharding strategy to put data into each rack.  The client reads data only from the current shard.  When deploying you want to have at-least one broker for dyno-queues in each rack.

[2016-12-19 21:00] ipapapa commented on #368
@shailesh33 +1 and it seems you are already on this way :)
https://github.com/Netflix/dynomite/pull/393

[2016-12-24 15:51] gwik commented on #288
Is there a plan to support redis transations (MULTI/EXEC), with the constraint of course that all the keys used in the transaction map to the same partition ?

[2016-12-27 07:13] europelee opened #399 "dynomite data sync problem"
hi,
I test dynomite:
1.  set up two data center of dynomite: dy1, dy2, they are in one cluster.
2.  stop dy2, then write some new data to dy1
3.  start dy2, and can not read new data.

did dynomite support the availability？

[2016-12-27 14:12] ipapapa commented on #399
There is a difference between the notions of availability and data consistency (see [CAP theorem](https://en.wikipedia.org/wiki/CAP_theorem)). Dynomite is designed to be an AP system.

In your deployment, it seems you took down a whole datacenter. In each datacenter, I am assuming you have at least 3 replica nodes. If you take a whole data center down, i.e. all three nodes, then the data will be l

[2016-12-27 14:14] ipapapa commented on #246
@bp8017 I am closing this issue due to inactivity. Feel free to reopen a new one if you have any further questions. Thank you!

[2016-12-27 14:14] #246 closed

[2016-12-27 14:18] ipapapa commented on #120
It seems we have a good discussion in https://github.com/Netflix/dynomite/issues/368 about renaming the YAM entries. The gossip enabler argument has also moved to the YAML https://github.com/Netflix/dynomite/pull/386 as well as other entries https://github.com/Netflix/dynomite/pull/387. Hence I think we have addressed this issue. If there are any further questions, we can reopen it.

[2016-12-27 14:18] #120 closed

[2016-12-28 02:43] oz-cdu opened #400 "support mysql?"
I saw the news in http://techblog.netflix.com/2014/11/introducing-dynomite.html

A datastore can be either a volatile datastore such as Memcached or Redis, or persistent datastore such as Mysql, BerkeleyDb or LevelDb.  **Our current open sourced Dynomite offering supports Redis and Memcached**.

Now support mysql?

[2016-12-29 03:31] shailesh33 commented on #400
Hi @oz-cdu , we do not have support for MySQL. And that doesnt seem to be on our roadmap of development internally. But depending on your requirement and use case, you can help implement and contribute or look at other redis bases persistent stores like ARDB. Please let us know if you have further questions.

[2016-12-29 03:34] oz-cdu commented on #400
@shailesh33 Thanks!

[2016-12-29 03:34] #400 closed

[2017-01-11 23:33] blinohod opened #408 "Build broken on Alpine 3.4 with musl libc."
When building Dynomite on Alpine Linux (and musl libc) from `master` branch I get the following error:

* Base image: `alpine:3.4`
* GCC: 5.3.0

Commands (from Dockerfile):
[code]

Compilation failed with the following error message:
[code]

Seems like the following commit brought this issue by using `libio.h` that does not present in musl libc.
https://github.com/Netflix/dynomite/commit/d38eaa428

[2017-01-12 18:48] shailesh33 commented on #408
@blinohod I do not have the setup to test this out: what would be your recommendation to fix it? You can create a PR if you have a local fix.

Meanwhile I tried to remove that libio include and it compiled just fine for my setup

[2017-01-21 10:13] sairam546 opened #411 "Requests are not getting forwarded to other rack"
Hey,

We are using Ruby gem to 'Redis' to connect to dynomite from our ruby application. If the redis in that node is not available or getting killed, the requests are not getting forwarded to nodes or replicas in other racks.

Is there any configuration we have to set to forward requests to other nodes when redis in that machine is not available ?

Is it is the feature not available in dynomite ?

[2017-01-21 11:11] sairam546 opened #412 "Question"
What happens when we keep the same token number for more than one node in a rake ?

Will data replicate or nothing will be stored in second instance ?

[2017-01-21 16:02] shailesh33 commented on #412
I think that's a bad configuration and Dynomite will not start.
Give it a shot! :)
On Sat, Jan 21, 2017 at 3:11 AM sairam546 <notifications@github.com> wrote:

[2017-01-22 05:24] baotiao opened #413 "How about support pika in dynomite"
https://github.com/Qihoo360/pika
Pika is a nosql compatible with redis, pika support about 90% redis commands, and it's widely used in many company, you can get it from README.

So, can you support pika in dynomite

[2017-01-22 05:49] shailesh33 commented on #413
If it understands redis protocol, things should work just fine with Pika.  You can try replacing underlying redis with a pika server running on the same port and see. Feel free to reach out if you need further info.

[2017-01-23 02:18] #399 closed

[2017-01-23 07:58] vwyuheng opened #414 "compile error"
CentOS release 6.4
yum install -y git autoconf automake libtool openssl-devel net-tools

but when i execute make command, errors as follow:
dyn_crypto.c: In function ‘aes_init’:
dyn_crypto.c:130: error: invalid application of ‘sizeof’ to incomplete type ‘EVP_CIPHER_CTX’
dyn_crypto.c:131: error: invalid application of ‘sizeof’ to incomplete type ‘EVP_CIPHER_CTX’

make[3]: *** [dyn_crypto.o] Error 1

[2017-01-23 12:32] bjoern-tantau opened #415 "Document usage of pem_key_file"
Currently the readme is missing documentation on the configuration keys
[code]
I'd especially like to know what is expected to be supplied with these files.

[2017-01-23 18:10] shailesh33 commented on #415
pem_key_file: is the private rsa key file that will be used for encryption/decryption during replication. This will be used only if you set that in the conf file.

Other two entries are used during reconciliation but that is not feature complete yet.

[2017-01-23 18:30] shailesh33 commented on #411
Some questions:
1) Which requests are not getting forwarded, reads or writes or both?
2) Ideally you want to take that node out of your client configuration in such cases and failover to other rack. We do that in dyno java client (https://github.com/Netflix/dyno)
3) Also depends on your quorum settings wether it is DC_ONE or DC_QUORUM or DC_SAFE_QUORUM

[2017-01-24 01:04] sairam546 commented on #411
I am not using dyno client. I am using redis gem to connect to dynomite since I am connecting from a  ruby application.

Both read and write requests are not getting forwarded. It is stating storage not available when we try to perform operation in the node whose redis is offline.

Kindly help me out

[2017-01-24 01:05] sairam546 commented on #412
Thank you for your info @shailesh33  :)

[2017-01-24 01:05] #412 closed

[2017-01-24 01:22] shailesh33 commented on #411
Can you check why redis is offline or failing in the first place? Did you check if the key is there in the cluster? The local node must have failed but I am sure it replicated to other nodes. I agree the error is misleading in such case

[2017-01-24 01:27] sairam546 commented on #411
I am failing redis to test the fail over. Yes the keys are replicating.

[2017-01-24 18:08] shailesh33 commented on #411
You should treat, in such cases, the node as unhealthy and failover to another rack in the cluster. This is a client side failover rather than a server side. But the idea is that the client is talking to a node that is, sort of, unavailable.
We have a side car (https://github.com/Netflix/dynomite-manager) that you can run on every dynomite node which keeps track of the status of redis and dynomite

[2017-01-25 00:29] balajivenki opened #416 "Connection getting closed while reading a specific type of key"
Hi,

We are using dynomite v0.5.8 and dyno v1.5.6.

When we try to read a value which is set as byte(both key and value) it fails with the following exception in dyno.

`com.netflix.dyno.connectionpool.exception.FatalConnectionException: FatalConnectionException: [host=Host [hostname=UNKNOWN, ipAddress=UNKNOWN, port=0, rack: UNKNOWN, datacenter: UNKNOW, status: Down], latency=0(0), attempts=1]redi

[2017-01-26 18:22] balajivenki commented on #416
@ipapapa  and @shailesh33 any update on this? This is some weird issue and constantly happens when we use any key that has \ in it and when used keys as byte[] as the value is byte[]. Please let me know if you need more sample keys, I shall provide some.

[2017-01-27 14:31] shailesh33 commented on #416
I looked at it briefly earlier. I will work on this today.

On Thu, Jan 26, 2017 at 10:22 AM, Balaji Venkatesan <
notifications@github.com> wrote:

[2017-01-27 18:08] balajivenki commented on #416
Thanks @shailesh33  There are similar keys with \ causing the same issue. The weird thing is that if I set and get the same key in a loop of 10 then some times it fails immediately but might fail after 3 attempts or so too. To add more one another key that caused the issue was **ding.free.com**. So from the look of it, it sounds more like a security feature.

[2017-01-27 18:25] shailesh33 commented on #416
What do you mean by security feature?

On Fri, Jan 27, 2017 at 10:09 AM, Balaji Venkatesan <
notifications@github.com> wrote:

[2017-01-27 18:28] balajivenki commented on #416
@shailesh33 Since it blocks or disconnects the connection when the key has \ and domain name in it I am just speculating if it could be done purposefully as security. But I might be wrong. It was my assumption.

There are the other two keys that caused this issue too

[code]

[2017-01-27 19:27] balajivenki commented on #416
@shailesh33  I have found few interesting scenarios.

I have 3 node local cluster say redis1, redis2 and redis3

The issue comes when I set the key and value as byte[].

The issue doesnt come when we set the key and value as string.

When setting it as string the key lands in redis3 by the hashing.

When setting it as byte[] the node it shows is redis1 however minitor command on redis-cli says it

[2017-01-28 00:11] balajivenki commented on #416
@shailesh33 The issue was caused by wrong routing reported at https://github.com/Netflix/dyno/issues/156

When the routing for binary key is fixed this should be fixed. However it might also help to have a fix at dynomite side to not to send server error too.

[2017-02-03 06:43] jonakoudijs opened #417 "Sidekiq unsupported, redis_parse_req:1223 parsed unsupported command 'brpop'"
We use Sidekiq with our application. Sidekiq relies heavily on Redis. Sadly it uses the following command: 'brpop', which is not supported by Dynomite. Would it be possible to add such an command and/or use Sidekiq at all with Dynomite?

In the meantime I will go through the Sidekiq code and check if there any other unsupported commands that Sidekiq uses by default.

[2017-02-03 08:34] jonakoudijs commented on #417
We checked the Sidekiq code and sadly the following unsupported commands are also used by Sidekiq:

- brpop
- flushdb
- info
- mset
- multi
- select

Besides these commands, Sidekiq requires pipelining, not sure if Dynomite can already do this.

[2017-02-03 18:24] shailesh33 commented on #417
Hi Jona,
brpop takes multiple list as arguments, now if your cluster has only 1 node
per rack, this would be fine but imagine, you have mulitple nodes per rack,
and one list is on node1 and other in node2, this is pretty much difficult
to support in Dynomite.
Also multi is another such command that will have adverse effects since
this is more like a distributed transactions in Dynomite which is no

[2017-02-03 19:52] ajayaks opened #418 "make failing"
Hi,

I am trying to run dynomite on my mac but getting below exception during make.

Undefined symbols for architecture x86_64:
  "_register_printf_function", referenced from:
      _core_register_printf_function in dyn_core.o
     (maybe you meant: _core_register_printf_function)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see in

[2017-02-03 20:17] shailesh33 commented on #418
Any reason you are building dev?

On Fri, Feb 3, 2017 at 11:52 AM, ajayaks <notifications@github.com> wrote:

[2017-02-03 23:37] ajayaks commented on #418
Thanks.
I have switched to master and noticed its failing. I found fixed as i am using mac so i have fixed its locally.

2 warnings generated.
mv -f .deps/dyn_client.Tpo .deps/dyn_client.Po
gcc -DHAVE_CONFIG_H -I. -I..  -D_GNU_SOURCE -I ../src/hashkit -I ../src/proto -I ../src/event -I ../src/entropy -I ../src/seedsprovider -I ../contrib/yaml-0.1.4/include  -Wall -Wshadow -Wpointer-arith -Winline

[2017-02-04 17:58] ajayaks commented on #418
Its working now.
I have started local instance of redis at 6379 port and update the default.xml.
Now i can access redis via port 8102.

Do you have package for ubuntu 16 also ?
Regards
Ajay

[2017-02-06 07:27] jonakoudijs commented on #417
Hello Shailesh,

Thank you for your response. I understand the implications. I will check out the most closest alternative (for Sidekiq). I will close this issue seeing it is answered.

[2017-02-06 07:27] #417 closed

[2017-02-06 15:08] ipapapa commented on #418
@ajayaks We have not worked on building a package for Ubuntu, but we are always welcoming contributions. There was some effort for Debian https://github.com/Netflix/dynomite/issues/367 but I am not sure how far it has progressed.

[2017-02-06 22:21] balajivenki commented on #416
Closing the issue as it is not happening anymore.

[2017-02-06 22:21] #416 closed

[2017-02-08 00:32] shailesh33 commented on #418
@ajayaks I have tried fixing Dynomite both master and dev. You may want to pull the latest.

[2017-02-13 19:00] shailesh33 commented on #418
@ajayaks I think the latest of master builds fine on mac. Please reopen the issue, if you still have a problem.

[2017-02-13 19:00] #418 closed

[2017-02-13 19:02] shailesh33 commented on #413
@baotiao Have you tried this? Please let me know if you see any issues while using it. I am closing this for now.

[2017-02-13 19:02] #413 closed

[2017-02-17 20:29] balajivenki opened #421 "Dynomite log file grows indefinitely when idle for a while"
Hi,

We are facing issues with the log file rotation with dynomite and it is causing the application to stop and the service go down.

Here are the details:
1) The Dynomite + Redis cluster has been idle when the errors show up in the Dynomite log file.
2) If the service is idle for a while then Dynomite starts writing the error "Too many open files" at the rate of hundreds per millisecond.
3) Logr

[2017-02-17 22:37] shailesh33 commented on #421
any idea what is causing this?

[2017-02-17 22:49] balajivenki commented on #421
not sure but what my guess is that the cluster is been idle for few days. When thats the case we see the log files grows infinitely and causes this error.

[2017-02-17 22:53] shailesh33 commented on #421
can you check your netstat output ?

On Fri, Feb 17, 2017 at 2:49 PM, Balaji Venkatesan <notifications@github.com

[2017-03-01 01:18] AlexBoyd commented on #421
I've seen a similar issue pop up on a small evaluation cluster I've gotten.

I have a single node that has itself listed in the dyn_seeds section. It appears to be opening connections to itself that get stuck in this state:
<hostname>.:8102 hostname>:57074 CLOSE_WAIT
<hostname>54112 <hostname>:6379 TIME_WAIT
<hostname>:57596<hostname>:8102 FIN_WAIT2

I see all three of the above states, The vast m

[2017-03-01 01:31] balajivenki commented on #421
I have a question along the same lines, whats the ideal conf value for **dyn_seeds**? Can it have one node per rack? Or does it have to have all the other nodes in all the other racks.

In my setup I have 3 local and 3 replication as two racks. Rack1 has 1, 2, 3 and Rack2 has 4, 5, 6 which is replication. On Node 1 I provide 2, 3, 4, 5, 6 as seeds. Is that correct? Please suggest.

[2017-03-01 18:55] shailesh33 commented on #421
Hello
The dyn_seeds should have all the nodes in the cluster except self. It
might be a bug that it is connecting to itself. But since its a config
issue, you should avoid it in the first place.

On Tue, Feb 28, 2017 at 5:31 PM, Balaji Venkatesan <notifications@github.com

[2017-03-01 18:59] balajivenki commented on #421
Thanks @shailesh33 I have kept it that way. One thing strange we see is that when we roll the logs sometimes the dyn_listen port goes down. E.g we have centOS log rotation policy of per hour or 100MB. The log rotation happens right, however sometimes when the log rotation happens I think due to file lock or something the port mentioned on dyn_listen(means the listening) goes down and hence dynomit

[2017-03-01 19:08] shailesh33 commented on #421
I haven't seen that before. We have a general company wide system log
rotation of every 2 hours and may be some file size.
Are you hitting the 1 hour limit or file size?

On Wed, Mar 1, 2017 at 10:59 AM, Balaji Venkatesan <notifications@github.com

[2017-03-01 19:15] balajivenki commented on #421
@shailesh33 We are hitting the hour limit most of the time. This is in our QA env and most of the time the servers are idle, means redis/dynomite is not actively used. Does it cause any of the issues? Unfortunately there is no core here or something for us to debug.

[2017-03-01 19:16] AlexBoyd opened #423 "Reason for nodes not including themselves in the dyn_seeds config?"
I was wondering what the reasoning for requiring nodes not to list themselves in their dyn_seeds config?

If nodes were allowed to contain themselves it would slightly simplify the cluster wide config by allowing a single value that all nodes can share, rather than having separate config on a per node basis.

[2017-03-01 19:26] shailesh33 commented on #421
Do you know if the issue exists before you log rotate? Try connecting to
dynomite a few seconds before the log rotation?

On Wed, Mar 1, 2017 at 11:15 AM, Balaji Venkatesan <notifications@github.com

[2017-03-01 19:30] shailesh33 commented on #423
I completely agree. There is no doubt this will simplify the process. But I
am guessing this was not done in the first place and thats why the config
is still being inherited.
It should not be a big deal to match one of the nodes in dyn_seeds to
dyn_listen and listen.
In fact, I know there is special handling in the code just because "self"
is not added in the dyn_seeds. Sad but true.

There will

[2017-03-01 19:35] balajivenki commented on #421
We haven't checked that @shailesh33  we will get notified when dynomite is not running or the port is not listening. When we get the alert we go to the node and see the new log is 0bytes and so we know that the log has rotated and nothing happened after that, and this happens 2/10 times.

[2017-03-01 19:43] shailesh33 commented on #421
1) change the frequency to be more often, so we can debug
2) Is it possible to attach gdb and see if the threads are stuck
3) do a netstat for dynomite ports
4) Do you have a dynomite-manager running, it should do a PING every 30
secs. Can you increase the log level may be just before the log rotation:
curl -s http://localhost:22222/loglevelup

On Wed, Mar 1, 2017 at 11:36 AM, Balaji Venkatesan <n

[2017-03-01 19:50] balajivenki commented on #421
Thanks @shailesh33  I will follow the debugging steps and update here. FYI we do not use dynomite-manager.

[2017-03-02 00:43] AlexBoyd commented on #423
I took a look and it should be relatively easy to make this change.

The one issue is that it looks like the node doesn't use it's external hostname, but rather something like "0.0.0.0" when referring to itself. I could be wrong on that front, so I'd need to do a bit more digging.

If that is the case though I see 2 options to implementing this.
1. Match on dc / rack / token, and skip adding self

[2017-03-02 01:07] shailesh33 commented on #423
I like the option 1 so that it is backward compatible. Eventually, we may
want to error out when the self node is not there in the dyn_seeds to
impose the config change, so that the code can be more clear.

On Wed, Mar 1, 2017 at 4:43 PM, AlexBoyd <notifications@github.com> wrote:

[2017-03-03 19:26] balajivenki opened #424 "Dynomite closes listening socket"
Dynomite log file grows infinitely with the following error

`stats_send_rsp:1183 accept on m 5 failed: Too many open files`

We have also noticed that the service is down on its listening port configured with listen configuration. Can you please suggest and help us?

[2017-03-03 19:49] shailesh33 commented on #424
You are not using dynomite-manager from what I know, can you see if the
socket is being closed properly?
what does lsof, netstat shows/

On Fri, Mar 3, 2017 at 11:26 AM, Balaji Venkatesan <notifications@github.com

[2017-03-03 19:59] balajivenki commented on #424
@shailesh33  Here is what I see for netstat when the service is down. Please note that 50172 is down.

[code]
Since we are not using dynomite manager, should I need to tweak my config?

I have attached the config file with this ticket for your review.

[dyn_o_mite.txt](https://github.com/Netflix/dynomite/files/817747/dyn_o_mite.txt)

[2017-03-03 20:02] balajivenki commented on #424
Here is netstat for 50172 port(listen port) from another server that has the same issue

[code]

[2017-03-03 20:11] balajivenki commented on #424
Here is the output for lsof(attached) and this is taken from node1 in the config mentioned above. Please note that I have pasted last few lines.
[lsof.txt](https://github.com/Netflix/dynomite/files/817772/lsof.txt)

[2017-03-06 18:57] balajivenki commented on #424
@shailesh33 Any update on this please? I have restarted the servers on friday and now I see the same issue, dynomite is not listening on port 50172. The netstat is similar to what I have posted earlier and unfortunately no core. Can you please review my dynomite conf and see if I do anything obvious in the conf?

[2017-03-06 19:01] shailesh33 commented on #424
Is this your test cluster?

[2017-03-06 19:11] balajivenki commented on #424
Yes @shailesh33  This is our QA server and this also happens in dev as well. We are not in PROD yet as this issue is blocking us to go so.

[2017-03-07 19:20] shailesh33 commented on #424
It looks like most of your close wait connections are to your dynomite port 50171 (which by default is 8101). Can you see if those close wait connections are legit?

Can you also try the branch v0.5.9 and tell me if you have the same issues?

[2017-03-07 19:53] balajivenki commented on #424
Thanks @shailesh33  I will check with v0.5.9, however with the latest experiment of not rotating logs I am still able to repro the issue and I think at this point its nothing to do with the log rotation script. Not sure if you remember, we had core due to our in house vulnerability management scans running on all these machines. It does a port scan and used to cause core with invalid entry. The sc

[2017-03-07 20:18] shailesh33 commented on #424
I am guessing that dynomite is probably not calling close on its side. I
fixed it v0.5.9. Let me know what you see.

On Tue, Mar 7, 2017 at 11:53 AM, Balaji Venkatesan <notifications@github.com

[2017-03-07 21:36] balajivenki commented on #424
Sure, thanks @shailesh33  I will try it on v0.5.9 and update here, I will keep the issue open till then.

[2017-03-09 08:57] jomeier opened #425 "Publish Subscribe (pubsub) with redis not working?"
Hi,

I tried to setup the demo from

http://www.dynomitedb.com/docs/dynomite/v0.5.8/quick-start-ubuntu/

Everything worked fine but not publish and subscribe.

I subscribed directly in redis like this:

redis-cli -p 22122
127.0.0.1:22122> subscribe a
127.0.0.1:22122> 1) "subscribe"
127.0.0.1:22122> 2) "a"
127.0.0.1:22122> 3) (integer) 1

I published to dynomite redis proxy like this:

redis-cli -p

[2017-03-09 11:53] jomeier commented on #425
Ok. Regarding the docs its currently not supported. If we would like to implement it: are there any showstoppers for publish/subscribe in dynomite?

[2017-03-11 06:08] #425 closed

[2017-03-11 06:10] jomeier opened #426 "Send Event to client when key in datastore has been written? (similar to redis keyspace events) ?"
Hi Folks,

ok: Regarding the docs subscribe/publish from redis is currently not supported.

Is there some similar notification mechanism like keyspace events a client could subscribe for?

If we would like to implement it: are there any showstoppers for publish/subscribe or keyspace events in dynomite?

Would it be a solution to not subscribe to redis keys through the dynomite proxy but to subscri

[2017-03-11 19:37] balajivenki commented on #424
@shailesh33 I have installed v0.5.9 on all my machines and so far the issue not happening consistently as it used to happen, thats a good sign. However I see few nodes go down randomly and those are especially the nodes in replication rack(not sure if that has to do anything with it). I have attached the log for the hour we think the node went down.Please have a look at it and see if you can infer

[2017-03-12 02:21] shailesh33 commented on #424
There is a lot of noise in the logs. Why are there all weird requests on
the stats port and the peer port. Some security scan It seems. you will
have to either black list these ports from scanning, or add better handing
of these requests on the ports. Can you confirm?

-Shailesh

On Sat, Mar 11, 2017 at 11:37 AM, Balaji Venkatesan <
notifications@github.com> wrote:

[2017-03-13 18:01] balajivenki commented on #424
@shailesh33  Yes you are right, we do our VM and WAS scans on all our hosts and the scan used to even produce core on dynomite and you have fixed it earlier. On and off this happens, the scan runs everyday on all machines and not all nodes go down and not all the time. Is exclusion the only option here for us?

[2017-03-13 18:05] shailesh33 commented on #424
Hi Balaji
You can either Exclude the ports or check if the scanners are keep the
ports open and not closing the sockets. You can also try to debug the stats
port and see if we are closing the socket when there is some error (wrong
GET path). I would have helped, but my hands are full at the moment. I can
check the code later or you can try debugging the code.

Regards
Shailesh

On Mon, Mar 13, 201

[2017-03-13 18:14] balajivenki commented on #424
Thanks a lot @shailesh33 I will work with my network team to see if we can exclude the hosts or least exclude the ports. That will help us eliminating the issue. Appreciate your help on it.

[2017-03-14 17:48] balajivenki commented on #424
@shailesh33  I am actively looking for possibilities to exclude the port from the scan. However when you get time if you could fix the issue for us then that would be great. Sorry for pressing more on this issue as the entire dynomite stack is in question and all the efforts too if the servers goes down due to scan. Entire 3 months of evaluation, dev effort will go in vain due to this issue.

[2017-03-14 17:51] shailesh33 commented on #424
I will see what can be done.
@ipapapa FYI.

[2017-03-14 20:19] ipapapa commented on #424
@balajivenki I am sorry to interfere here, I am still missing the reason why there are so many irrelevant HTTP requests to Dynomite stats port. For example:

[2017-03-14 20:21] balajivenki commented on #424
@ipapapa  The requests are caused by the VM and WAS scans on the hosts. Unfortunately for security purpose we cannot turn them off, I am trying my best to exclude the ports used here. The requests are made by the WAS scanner to check if all is good. When the scan runs not all the time the port goes down on and off it goes down with version 0.5.9. With earlier version 0.5.8 it used to go down consi

[2017-03-14 20:24] ipapapa commented on #424
@balajivenki are you also running with Gossip enabled:

[2017-03-14 20:27] balajivenki commented on #424
I thought it is disabled by default. Here is what the conf I have on pretty much all nodes(with different servers and tokens)

[code]

Should I explicitly set enable_gossip to false and try? Do you think that will solve the issue?

[2017-03-14 20:43] balajivenki commented on #424
@ipapapa  and @shailesh33  When I start the server it says in conf dump as gossip is set to false but yet it runs. Here is the log

[code]

[2017-03-14 20:56] ipapapa commented on #424
It should be disabled by default and this is probably not related. I just read in yours logs and brought it up to play it safe. @shailesh33 made some recent changes on the gossip status if I am not mistaken.

[2017-03-14 20:57] balajivenki commented on #424
Hmm, I even manually added enable_gossip: false in the conf but I still see Gossip is running... in the logs, so no way for me to disable it. May be a regression there.

[2017-03-14 21:02] shailesh33 commented on #424
It could be misleading. the loop is actually talking to Florida.

Balaji,
are you seeing a lot of conenctions on the stats port or peer port?

On Tue, Mar 14, 2017 at 1:57 PM, Balaji Venkatesan <notifications@github.com

[2017-03-14 21:15] balajivenki commented on #424
I see constantly 11 connections on the dyn_port(50171) and 1 normally and 4 in one of the instance on the listen port(50172) and 1 or more on the stats port(22222). However this is taken now not while the scan is running.

[2017-03-14 22:21] shailesh33 commented on #426
There are folks here at Netflix who needed that, but they went ahead and subscribe to the underlying redis directly. That should also be fairly simple compared to the effort and correctness request to get this done in Dynomite.

[2017-03-15 03:28] ipapapa commented on #421
Is this a duplicate of #424? Can we close this then?

[2017-03-15 04:49] balajivenki commented on #421
Yes @ipapapa this can be closed.

[2017-03-15 04:49] #421 closed

[2017-03-15 16:24] shailesh33 commented on #424
@balajivenki  now that its been a day that your nodes are running, can you tell me the situation of the connections again to these ports that you mentioned above?

[2017-03-15 18:07] balajivenki commented on #424
@shailesh33  There are nodes down today also(I restarted them yesterday). I have taken the connection count from the node which is down and here is what it is

[code]

[2017-03-15 18:21] shailesh33 commented on #424
Lets chat on gitter.

[2017-03-15 19:31] balajivenki commented on #424
Per conversation with @shailesh33 here is the latest failed log

[dynomite.log-20170315-1489600861.txt](https://github.com/Netflix/dynomite/files/845785/dynomite.log-20170315-1489600861.txt)

[2017-03-15 19:46] shailesh33 commented on #424
I identified the issue with the extra logging in the latest build. Fixing the bug

[2017-03-15 20:11] shailesh33 commented on #426
Closing this unless you have more questions.

[2017-03-15 20:11] #426 closed

[2017-03-15 20:11] shailesh33 commented on #423
@AlexBoyd feel free to create a PR ;)

[2017-03-16 18:25] balajivenki commented on #424
@shailesh33 and @ipapapa Unfortunately the issue still exist with the proxy_close_fix branch build. 3 of my nodes went down and here is the log for one node when it went down.

[dynomite.log-20170316-1489676476.txt](https://github.com/Netflix/dynomite/files/848660/dynomite.log-20170316-1489676476.txt)

[2017-03-16 18:31] shailesh33 commented on #424
checking

On Thu, Mar 16, 2017 at 11:25 AM, Balaji Venkatesan <
notifications@github.com> wrote:

[2017-03-16 18:36] shailesh33 commented on #424
I do not think you have the right code. We have merged it to v0.5.9. You
may want to pull the latest code and rebuild it.

On Thu, Mar 16, 2017 at 11:30 AM, Shailesh Birari <sbirari@netflix.com>
wrote:

[2017-03-16 18:43] balajivenki commented on #424
@shailesh33 we built the code from proxy_close_fix branch yesterday. I can try building the new tag v0.5.9-2_ProxyCloseFix again. Is there anything I can search and confirm after I start to make sure I have the right code? I am guessing you are looking for new log lines you have added earlier.

[2017-03-16 19:03] shailesh33 commented on #424
yes you should see newer logs around the bad file descriptor. Check the PR

On Thu, Mar 16, 2017 at 11:43 AM, Balaji Venkatesan <
notifications@github.com> wrote:

[2017-03-16 22:31] balajivenki commented on #424
Thanks @shailesh33  Yes there was a mistake in the build process and we took the wrong code. I have installed the right code on the nodes today. We will know tomorrow if the issue is fixed.

[2017-03-18 01:42] sairam546 opened #428 "Getting this error while installing"
root@redis:/home/sairam/dynomite# autoreconf -fvi
autoreconf2.50: Entering directory `.'
autoreconf2.50: configure.ac: not using Gettext
autoreconf2.50: running: aclocal --force -I m4
autoreconf2.50: configure.ac: tracing
autoreconf2.50: configure.ac: adding subdirectory contrib/yaml-0.1.4 to autoreconf
autoreconf2.50: Entering directory `contrib/yaml-0.1.4'
autoreconf2.50: configure.ac: not using

[2017-03-18 03:55] ipapapa commented on #428
What OS? What version of automake? Check if `gettext-base` and `gettext` packages are installed in your system. Make sure the following packages are there in your system

[code]

[2017-03-18 03:56] ipapapa commented on #424
@balajivenki has this been resolved? Do you still see the issue? Can we close it?

[2017-03-18 03:58] ipapapa commented on #414
@vwyuheng have you resolved the issue? Are you still facing the issue and are interested for a response? or can we close it since there is no further interest...

[2017-03-19 00:29] balajivenki commented on #424
@ipapapa  and @shailesh33  So far the build seems to be pretty solid. I am running few more scans to make sure everything is right. I will close it on Monday morning if the service runs stable even after few more scans.

[2017-03-20 17:29] balajivenki commented on #424
@ipapapa  and @shailesh33  The fix is pretty stable and I have been running it for last few days along with our WAS scans running. I really appreciate you taking time and fixing this for us. Special thanks to @shailesh33 . Closing the issue.

[2017-03-20 17:29] #424 closed

[2017-03-22 04:16] ipapapa commented on #408
@blinohod any update on this issue, or shall we close it because you lost interest in it?

[2017-03-22 05:55] blinohod commented on #408
@ipapapa sorry, completely distracted :(

Actually just succeed with the following patch against recent master:
https://github.com/blinohod/dynomite/commit/b80e9f95a5a8ad259c59011cdd7c57fe05042229

Built on Alpine Linux 3.4 and Ubuntu 16.04 successfully.

[2017-03-22 05:57] blinohod commented on #408
I also tried to remove `#include libio.h` but this breaking build on Alpine due to `NULL` macro becomes undefined.

[2017-03-22 14:14] shailesh33 commented on #408
Did you pull the latest?
On Tue, Mar 21, 2017 at 10:58 PM Michael Bochkaryov <
notifications@github.com> wrote:

[2017-03-22 18:31] blinohod commented on #408
Yes, my update was based on recent `master` branch .

I've also tried to apply my patch against `dev` branch and seems other changes were added incompatible with musl.

[2017-03-22 18:35] shailesh33 commented on #408
Do you have the setup of steps to build with musl, what OS to install,
packages etc ?

On Wed, Mar 22, 2017 at 11:31 AM, Michael Bochkaryov <
notifications@github.com> wrote:

[2017-03-22 18:58] blinohod commented on #408
Sure, I use Docker to build and here is example process:
https://gist.github.com/blinohod/feb71cfbcc1ae342b4682e3d7e937fa1

OS: Alpine Linux 3.4 ( x86_64 )

[2017-03-25 16:54] blueelephants opened #429 "Question: Master branch, tags and configuration management"
Hello,

I have a question conc. your git repository handling.

The readme says "the master branch contains the latest stable version".
...and the master branch works very well  :)

However, I wanted to dockerize Dynomite and because of "software configuration management" purposes I  wanted to configure a "specific version of Dynomite" to be installed in the Docker image
=> simply for better handli

[2017-03-26 02:54] ipapapa commented on #429
That is a good advice. We recently changed the way we describe stable branches and we have not updated the `Readme.md`. The latest release is marked in the release link: https://github.com/Netflix/dynomite/releases

Hence master branch may not contain the latest that we use in production. Unfortunately, Github does not allow to check out the latest release, so one programmatic way is

[code]

[2017-03-26 02:55] ipapapa commented on #429
@shailesh33 It seems the new way (tagging based on versions) creates some confusion on what is the definition of the master branch. Any proposal on how to improve it?

[2017-03-26 02:58] ipapapa commented on #428
@sairam546 I am assuming your question was addressed as there has not been any further activity on this issue. If there is anything else we can assist please reopen the issue or create a new one.

[2017-03-26 02:58] #428 closed

[2017-03-26 07:07] blueelephants commented on #429
Thanks for your answer.

So currently, the latest realease is "v0.5.9-2_ProxyCloseFix".

Can I "rely" on your release tags? What I mean is, you are not going to change/delete it in the future - i.e. in case you apply some bugfixes/features you don't modify this tag but always create a new tag?

This would be important for me so to be always able to create the Docker image in a fully reproducable w

[2017-03-26 19:25] shailesh33 commented on #429
Hi @blueelephants You can rely on the tags that we create. Traditionally I was creating AMIs from master branch dev was unstable. And we were merging dev to master when we wanted to create a new release. But lately we have been changing dynomite code significantly and so we decided to keep master around and start creating release branches. Hot fixes go to release branch as well as dev branch. Ever

[2017-03-29 15:50] sairam546 opened #431 "How to enable Watch command in dynomite ??"
Watch command is not working

[2017-03-30 20:44] shailesh33 commented on #431
This is all under the umbrella of transactions, which is not supported currently.

[2017-03-31 18:10] bp8017 opened #432 "Timeout occurring when connecting to redis servers"
Occasionally, dynomite 0.5.9 is getting into a state where it times out connecting to the redis instance for requests. I receive the following in the log:
[code]

However, I can connect to and run set/get commands with the redis-cli utility to the same redis instance from the same host on which dynomite is running:
[code]

Connections through dynomite fail on get/set commands with a timeout error:

[2017-03-31 18:19] shailesh33 commented on #432
Does it happen overtime?
Are there any additional logs before that,
what is the topology? It seems we did not even write to the redis server. The request is lying in the inqueue to the server, so it was not even sent out.

[2017-03-31 19:09] bp8017 commented on #432
Define "overtime"? We just recently upgraded to 0.5.9 about two weeks ago and this is the first problem we have encountered.

Here is a larger snippet of logs:
[code]

This is a single dynomite instance (running on an ec2 instance) that connects to a single redis instance (an AWS elasticache redis instance) (our dev environment). No peers are configured.

[2017-03-31 19:12] shailesh33 commented on #432
Ok. Let me take a look later today.

On Fri, Mar 31, 2017 at 12:10 PM bp8017 <notifications@github.com> wrote:

[2017-03-31 23:14] shailesh33 commented on #432
By overtime I mean, Does it work fine and then all of a sudden you start seeing this issue? Or this node doesnt work at all?

[2017-04-03 13:26] bp8017 commented on #432
Yes, this would occur over time. The node was functioning properly for about three weeks before this occurred.  A restart of dynomite brings everything back to normal.

[2017-04-03 16:50] shailesh33 commented on #432
Can you also tell me what kind of load this node was doing? operations per
second? from the clients or only via peers?
Also what this node ideal for any time before this last request went in and
got stuck?

Would you be open to test a private branch if I provide a probable
fix/debug statements?

On Mon, Apr 3, 2017 at 6:26 AM, bp8017 <notifications@github.com> wrote:

[2017-04-03 16:54] amitduapec opened #433 "Logs are not rotating for dynomite"
For us dynomite logs are not rotating. If we delete logs manually or by job, running dynomite does not write logs. Any pointers on what could be issue ?

[2017-04-03 17:03] bp8017 commented on #432
There is very little traffic going to this node as it is only a dev instance. There are no peers configured, so all requests would be coming from clients.

Yes there are definitely large periods of inactivity.

Yes, I am open to a test branch as this is just a dev instance.

[2017-04-03 17:13] shailesh33 commented on #431
Hope this answers @sairam546?

[2017-04-04 17:54] shailesh33 commented on #433
I am not sure why that is the case. Does your dynomite process hangs ? can you check if the inode still exists? does dynomite still have open handle to the file?

[2017-04-07 20:51] rohitpotnis opened #434 "How to set up Dynomite-redis cluster using docker?"
Hi,

I am trying to set up a 2-node dynomite/redis cluster using docker.

**Issue:**
The dynomite peer does not seem to pick up changes when entries are created / modified on the other node.

**In summary:**
1. I spin up a docker container and specify the appropriate configuration
2. I spin up another docker container with the appropriate cluster configuration (e.g. dyn_seed etc)
3. I verify that

[2017-04-07 21:14] rohitpotnis commented on #434
In the "Dynoslave log snippet" pasted above, I see
`[2017-04-07 20:05:10.914] core_debug:636 	Peer state         : DOWN`

Anything wrong with the setup?

[2017-04-07 21:25] shailesh33 commented on #434
Can you tell if you have this issue with the master branch as well?

[2017-04-07 21:43] rohitpotnis commented on #434
Yes.
To clarify: I simply created a docker build from the Dockerfile (manually copied Dockerfile and scripts/* to my workspace) without checking out the entire repo.

[2017-04-07 22:30] shailesh33 commented on #434
ok. anything on the master logs that looks suspicious? a string like this
">>>>>>>>>" should define a start of a client request and you can follow the logs further.
Each message has a message id:parent message id
YOu should be able trace them

[2017-04-07 22:55] rohitpotnis commented on #434
* Thanks for your answers!

I see this potentially suspicious line in the dynomite logs:

`[2017-04-07 22:46:59.535] core_close_log:461 close <LOCAL_PEER_SERVER 0xde8350 14 to 'dynomaster:8101:rack1:dc1:1383429731'> on event FFFFFF eof 0 done 0 rb 0 sb 0: Connection refused`

Maybe the docker network and / or dynomite config setup has an issue?

** I do not see any ">>>>>>>>>" in the logs (again:

[2017-04-07 23:00] shailesh33 commented on #434
my bad. The master should have slave in dyn_seeds in the conf file and the other way round.
SOrry I overlooked that part

[2017-04-09 19:34] joelchen commented on #434
Any updates on this issue?

[2017-04-09 20:17] shailesh33 commented on #434
Didn't I Reply already? The dyn_seeds should have all the other nodes in
the cluster. So master should have slave and slave should have master.

On Sun, Apr 9, 2017 at 12:34 PM joelchen <notifications@github.com> wrote:

[2017-04-10 12:26] bp8017 commented on #432
hey @shailesh33 any update on this? Any further information I can provide or testing of code?

[2017-04-10 17:06] rohitpotnis commented on #434
FYI && FWIW:
I guess the dyn_listen needed to be 0.0.0.0:8101 for this to work (for me at least).

"Master" config:
dyn_o_mite:
  datacenter: dc1
  rack: rack1
  dyn_listen: 0.0.0.0:8101
  dyn_seeds:
  - dynoslave:8101:rack1:dc1:1383429731
  dyn_seed_provider: simple_provider
  listen: 0.0.0.0:8102
  servers:
  - 127.0.0.1:22122:1
  tokens: '1383429731'
  secure_server_option: datacenter
  pem_key

[2017-04-10 17:06] #434 closed

[2017-04-12 14:57] amitduapec commented on #433
Process does not hang. We are deleting files via cron jobs as dynomite is not rotating files.

[2017-04-12 14:57] amitduapec commented on #433
Once file is deleted. dynomite is not creating new  file

[2017-04-13 03:46] shailesh33 commented on #432
@bp8017 any updates

[2017-04-14 12:25] bp8017 commented on #432
We have not had any recurrences of the issue, so I am going to move forward with our production upgrade next week and set the debug log to "-v 9" with aggressive log rotation. Please allow me to keep this issue open for another week so I can have time to allow it to "bake".

[2017-04-14 18:54] rohitpotnis opened #435 "Error starting dynomite cluster when a dyn_seeds node is unavailable"
Follow-up to my earlier issue (#434).

**Question:**
Are the servers mentioned in the * dyn_seeds * section required to be reachable at the start?

**Setup:**

1. 2-node cluster (node1 and node2)
2. **node1 conf:**
[code]
3. **node2 conf**
[code]

**Problem:** When I try to start either node1 or node2, I get the following error and the startup fails:
[code]
How do we start a cluster where each nod

[2017-04-14 21:00] rohitpotnis commented on #435
Update: I had to remove the _dyn_seeds_ entry in _node1_ and kept the _dyn_seeds_ entry in _node2_ pointing to _node1_ in order to start both nodes. Is this correct?

**node1 config**
[code]
**node2 config**
[code]

Even then, the changes made in one node were not visible in the other. Found that problem was most likely due to sharding  vs replication (since both nodes were on the same rack / dc).

[2017-04-14 22:15] #435 closed

[2017-04-14 22:15] rohitpotnis commented on #435
Never mind. Please ignore. The thing worked when the seeds contained ip addresses. I think it may have been my network configuration.

[2017-04-17 21:25] shailesh33 commented on #432
Did the new branch fix your issue?

[2017-04-18 16:56] shailesh33 commented on #432
@bp8017 Wondering what fixed your issue? master branch, disable_flush branch or something else?

[2017-04-18 18:34] bp8017 commented on #432
I have not made any changes on our dev environment, but things seem fairly stable.

In our production environments, we have two dynomite instances per DC. I was thinking about updating one of those two instances to 0.5.9. Is that advisable or should peers be on the same version?

My concern is that the issue with the CLOSE_WAIT connections #424 is affecting our prod environments. However, I can mo

[2017-04-18 19:06] shailesh33 commented on #432
so this fixed on its own? thats even more concerning :)

It doesnt matter what versions the nodes are running and we have not made any changes to the on wire protocol, so you can upgrade a node on your setup. We do that all the time across our ~1000 node fleet.

#424 is already fixed in latest 0.5.9. Are you still seeing a issue?

[2017-04-20 15:39] breauxaj opened #436 "sysconfdir not honored by configure script"
Trying to build the project for CentOS as an RPM and when executing the configure script with:

./configure \
  --prefix=%{_sysconfdir}/%{name} \
  --exec-prefix=%{_prefix} \
  --bindir=%{_bindir} \
  --sbindir=%{_sbindir} \
  --mandir=%{_mandir} \
  --libdir=%{_libdir} \
  --sysconfdir=%{_sysconfdir}/%{name}

The values never seem to propagate to the resulting binary. The error reported:

conf_op

[2017-04-20 22:35] #431 closed

[2017-04-20 22:56] shailesh33 commented on #436
@breauxaj how are you running dynomite?

Since this project as been adapted and I lack the expertise in autoconf, and other build process, but I am investigating on how to do this with minimal regression or whether it should be done at all. I see I need to add
AM_CPPFLAGS += -DSYSCONFDIR='$(sysconfdir)'
to the makefile.am and use that in the code. I also see the conf file is default to conf/dynomi

[2017-04-21 00:38] breauxaj commented on #436
The application builds successfully but assumes it will be deployed as is instead of packaged. This limits its adoption. I'm proposing that fixing these issues will increase it's potential audience.

If I run the application after build, it finds the config file, etc since its still in the build tree but that's not the way to deploy software. I'm following the RedHat model for deploying applicatio

[2017-04-21 13:31] bp8017 commented on #432
we have not seen a recurrence of #424 in v0.5.9, which we are now running on one of each pair of nodes in each DC. I will let you know if this problem occurs again within 7 days, and if not, will close this issue.

NOTE: the ```dynomite --version``` command does not return any data for version, is there a bug opened on that?

[2017-04-21 16:02] erickg opened #437 "Node peer connections fail to connect when building with --enable-debug=yes"
Hi,

not sure if this is wrong in the documentation but we basically just discovered that running configure while building Dynomite as per the README.md:

[code]

results in a failure to establish inter peer connections... simply recompiling with

[code]

fixes the problem and connections between nodes are established as expected.

Cheers,

Erick

[2017-04-21 16:45] winem commented on #437
Hi,

I was able to reproduce that and it's the same behaviour for the following cases:
- --enable-debug=no
- --enable-debug=yes
- --enable-debug=log
- skip the flag (default is no, so this case is covered in the first one)

Using --enable-debug=full works fine.

Cheers,
Marcel

[2017-04-21 17:18] shailesh33 commented on #437
Thats odd! Can you send me the details ? what do you mean by failure to establish connections? I will also try it locally

[2017-04-21 17:28] shailesh33 commented on #432
THanks.
--version returns me  this:
./src/dynomite --version
This is dynomite-v0.5.8-5_HgetallLocalRack-134-gf315257

On Fri, Apr 21, 2017 at 6:31 AM, bp8017 <notifications@github.com> wrote:

[2017-04-21 17:30] bp8017 commented on #432
[code]

[2017-04-21 17:48] shailesh33 commented on #432
I just cloned the repo to a new directory and followed the steps. Can you
try that also, may be you need to start with autoreconf once on your
current directory?

./src/dynomite --version
This is dynomite-v0.5.9-2_ProxyCloseFix

On Fri, Apr 21, 2017 at 10:30 AM, bp8017 <notifications@github.com> wrote:

[2017-04-21 18:17] bp8017 commented on #432
thx @shailesh33 I am going to redeploy from tag v0.5.9-2_ProxyCloseFix to make sure we're on the same code base and let you know if we run into any problems in dev or prod.

[2017-04-21 18:30] winem commented on #437
Sure. Let's go..

As said above, we use the dev branch. So, how to reproduce the issue?
`
autoreconf -fvi
cd dynomite/
./configure --enable-debug=yes
make
sudo make install
`
It compiles without any errors.

Configuration files:
`
#1st node - dyno8101.yml:
dyn_o_mite:
  datacenter: dc1
  rack: rack1
  listen: 0.0.0.0:8102
  dyn_listen: 0.0.0.0:8101
  dyn_seeds:
  - 127.0.0.1:8113:rack1:dc1:1011342

[2017-04-21 18:32] shailesh33 commented on #437
Thank you for the details. I will check it

[2017-04-21 19:21] shailesh33 commented on #437
One this is the dyn_seeds in 1st node should be
  - 127.0.0.1:8113:rack1:**dc2**:101134286
instead of
  - 127.0.0.1:8113:rack1:**dc1**:101134286

[2017-04-21 19:23] shailesh33 commented on #437
Honestly, it works for me with dev branch as well.

[2017-04-21 19:25] shailesh33 commented on #437
I think you are trying from different nodes in the two cases above. Make the change for the dyn_seeds and let me know if that works

[2017-04-22 08:12] erickg commented on #437
Hi,

regardless of whether Marcel had a configuration failure in his example, this problem is very real. I encounter the same issue using completely different configuration files, taken from the exmples under `conf/ `. See:

Node A (IP: 10.1.1.21)
[code]

Node B (IP: 10.1.1.22)
[code]

On Node A:
`./src/dynomite -c ./conf/redis_dc1.yml -v 8`

On Node B:
`src/dynomite -c conf/redis_dc2.yml -v 8`

O

[2017-04-22 09:11] winem commented on #437
I'm sorry, the wrong DC was a relict from a former test with a 3rd node.

I set up a new Ubuntu 16.04 VM and am still able to reproduce it with Ericks configuration and my one (including the DC fix ofcourse) as well.

[2017-04-24 18:48] shailesh33 commented on #437
@erickg do not disagree at all :)
@winem I will look into this later today

[2017-04-25 20:01] shailesh33 commented on #437
sorry for the delay. Looking at it now.

[2017-04-25 23:08] shailesh33 commented on #437
Hi @erickg @winem I tried your setup locally and it worked fine with me. I then looked at your logs (thank you for sending that) and here is teh difference :

[code]
And here is the success scenario:

[code]

In the failure case, it gets a  connection object in conn_get_peer and then is supposed to connect by calling conn_connect.

Looking at the code for conn_connect:

`
rstatus_t
conn_connect(st

[2017-04-26 04:46] erickg commented on #437
Hi @shailesh33,

how strange it is that you guys don't run into this.. I added the extra debug statement you requested:

[code]

Complete logs attached:

[dyno-1-log.txt](https://github.com/Netflix/dynomite/files/957242/dyno-1-log.txt)

Thanks for your help!

[2017-04-26 17:13] shailesh33 commented on #437
Hi @erickg
I am myself puzzled on this. Did you by any chance dig a little deeper and find what is happening in conn_connect in your environment? Looking at the code it should print either
```        log_error("dyn: socket for '%.*s' failed: %s", conn->pname.len,```

or
```    log_warn("%M connecting.....", conn);```

do you mind running it with gdb?

[2017-04-26 23:50] shailesh33 commented on #437
let me know what you find.

[2017-04-26 23:51] shailesh33 commented on #432
Is there anything to be done on this @bp8017

[2017-04-26 23:53] shailesh33 commented on #411
I will close this issue. Please feel free to reopen or open a new one if you have further questions

[2017-04-26 23:53] #411 closed

[2017-04-26 23:55] shailesh33 commented on #321
closing this one. reopen if you have further questions

[2017-04-26 23:55] #321 closed

[2017-04-27 04:40] erickg commented on #437
Hi @shailesh33,

I am not sure if you misunderstood my last comment.. I did do as you suggested and added some extra logs to conn_connect and it is clear that the problem is that it returns silently prematurely because `ctx->admin_opt > 0` as the first check at the beginning of the function says. Now the problem is IMHO that that member of the context struct is defined as an unsigned value, so the

[2017-04-27 05:42] shailesh33 commented on #437
You might be right there. But the code seem to point that we are setting it to 0.
It seems like a overrun or something.
what is the gcc version, and OS you are compiling on?

[2017-04-27 11:26] erickg commented on #437
Ubuntu 16.04.1 LTS + gcc version 5.4.0

[2017-04-27 11:59] erickg commented on #437
I dug around a bit more.. the problem is that `conn_connect()` is called *before* `ctx->admin_opt` is initialized in `dn_run()`. The only difference is that in the case where the code is compiled with `--enable-debug=full` the memory allocated appears *not* to have been zero'ed.. so it contains 0xFFFFFFFF (-1) ergo, the `admin_opt>0` check succeeds and the `conn_connect()` call returns prematurely

[2017-04-27 13:30] shailesh33 commented on #437
Thank you. I will work on a fix for dev today.

On Thu, Apr 27, 2017 at 5:00 AM Erick Gonzalez <notifications@github.com>
wrote:

[2017-04-28 18:22] shailesh33 commented on #437
@erickg I couldnt assign you to the PR as a reviewer. But please feel free to have a look.

[2017-04-28 20:10] #437 closed

[2017-04-29 05:22] blueelephants opened #441 "Dynomite Cluster Synchronization Problem in Docker"
Hello,

After reviewing the already existing issues/solutions here, I am still not able to get Dynomite Cluster running in a Docker environment and I would like to ask you for some help.

I am using **Docker 1.13.1-cs1** and the versions used in my Docker image are
- **CentOS 7.3**
- **Redis 3.2.3**
- **Dynomite v0.5.9-2_ProxyCloseFix**

Redis itself works fine on port 22122, just Dynomite makes p

[2017-04-30 07:58] blueelephants commented on #441
**Update**

I also tried out the Ubuntu Dockerfile from @ipapapa  which is located [here](https://github.com/Netflix/dynomite/tree/dev/docker)

The software stack is then
- **Ubuntu 16.04.2 LTS**
- **Redis 3.0.6**

I tried the following **Dynomite versions**
- **v0.5.9-2_ProxyCloseFix**
- **v0.5.8-5_HgetallLocalRack**
(I again added a `git checkout ...` to the Dockerfile)

I am using an overlay ne

[2017-05-08 15:18] slopokeit opened #446 "Firewall ports"
Great work with the project.  We're in the process of testing this out in a 3 DC environment.

We've been leveraging the Dockerfile in the conf with some tweaks to make it more dynamic in loading in various configs.

That being said we're struggling with getting Dynomite running within Docker's bridge (default) network.  If we run it in the host network all seams file.  It appears as if we need to

[2017-05-08 22:10] shailesh33 commented on #446
Hi
8101 is a peer to peer communication port
8102 is the default client port
22122 is the default port on which dynomite talks to underlying redis (not
outside the node)
22222 is the default stats control port

What is the issue that you see?

On Mon, May 8, 2017 at 8:18 AM, slopokeit <notifications@github.com> wrote:

[2017-05-10 20:27] slopokeit commented on #446
My issue appears to be the same as described in #441.  I can only get a multi node cluster running if the container is running as --network=host

The only thing I could could come up with is that the inter-cluster communication relied on some other port other then 8101-8102

[2017-05-10 20:27] #446 closed

[2017-05-10 20:47] slopokeit opened #448 "Consistency Question"
Is there ever any reconciliation performed between nodes in the DC to ensure all nodes have the same data set?

Example: If A, B, and C are configured and share the same key space, if node B is replaced and has lost all the keys, is there anything to replicate the missing keys to this node?

If not, it would seam a logical that if DC_SAFE_QUORUM on reads is used, and the coordinator detects an err

[2017-05-10 20:50] shailesh33 commented on #448
If you use dynomite manager, you will get the warm up functionality that
leverages redis replication to get the data from its peer when a new node
comes up.
On Wed, May 10, 2017 at 1:47 PM slopokeit <notifications@github.com> wrote:

[2017-05-10 21:00] ipapapa commented on #448
@slopokeit you are also referring to the read repairs which is not there yet. We see the reconciliation as follows. The termination is handled by the warm up as @shailesh33 mentioned (we do not call reconciliation but warm up). The network disconnectivity is handled by the consistency quorum guarantees. But if your data are permanent (no TTL) then read repairs or other forms of anti-entropy will b

[2017-05-12 10:27] vwyuheng commented on #414
its all right now,thanks

[2017-05-12 10:27] #414 closed

[2017-05-16 13:34] bp8017 commented on #432
upgraded to
[code]

ran great for about two weeks, then we started getting hangs in dev. Timeouts are not occuring, but the get/set commands hang indefinitely.
[code]

logs:
[code]

[2017-05-19 13:46] bp8017 commented on #432
We are seeing a variation of this issue coming up again:
[code]

After restarting, I am able to set keys, but get keys are failing:
[code]

[2017-05-20 16:28] blueelephants commented on #441
I could solve the problem by adding the --hostname option when running docker run

[2017-05-20 16:28] #441 closed

[2017-05-21 08:53] mchugh7153 opened #449 "Getting fatal error: 'openssl/bio.h' file not found #include <openssl/bio.h>"
Getting following error when running make command while building dynomite:

../../src/dyn_crypto.h:14:10: fatal error: 'openssl/bio.h' file not found
#include <openssl/bio.h>
         ^
1 error generated.
make[3]: *** [dyn_crc16.o] Error 1
make[2]: *** [all-recursive] Error 1
make[1]: *** [all-recursive] Error 1
make: *** [all] Error 2

I am on macOS Sierra version 10.12.5

I have Brew installed o

[2017-05-22 13:27] shailesh33 commented on #449
which branch are you building?

[2017-05-22 13:41] shailesh33 commented on #432
@bp8017 which branch are you working on currently? I had created the disable_flush branch for you. Did you try that out?

[2017-05-22 13:57] bp8017 commented on #432
@shailesh33  currently running v0.5.9-2_ProxyCloseFix.

should I change to the disable_flush branch? Can you rebase from existing stable branch to get any updates from Apr11 to now?

[2017-05-22 14:09] shailesh33 commented on #432
We are using v0.5.9 branch in production. disable_flush is off of that
branch. And there were no changes since april 11.
I had a bunch of changes for dev but nothing significant.

On Mon, May 22, 2017 at 6:57 AM, bp8017 <notifications@github.com> wrote:

[2017-05-22 14:21] bp8017 commented on #432
Branch switched to "disable_flush". Will do some load testing over the next few days and let you know what I find.

[code]

[2017-05-23 12:23] bp8017 commented on #432
@shailesh33 It looks like this branch resolved our issue. We have given our dev instance a thorough pounding and have been unable to reproduce the problem. What are the next steps here to get us back to mainline?

[2017-05-23 13:17] shailesh33 commented on #432
Isn't it that your issues would come after a few days of usage?
On Tue, May 23, 2017 at 5:24 AM bp8017 <notifications@github.com> wrote:

[2017-05-24 11:34] bp8017 commented on #432
@shailesh33 we narrowed down the issue to a spike in activity from one of our dynomite clients, so we are able to reproduce the issue more consistently. at this point, we are not seeing any more problems.

[2017-05-25 06:55] sairam546 opened #450 "Unable to install dynomitedb from apt"
# sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys FB3291D9

sudo add-apt-repository "deb https://apt.dynomitedb.com/ trusty main"

sudo apt-get update
it is stopping at this point as it is unable to talk with dynamite apt.

Please resolve this issue fastly.

[2017-05-25 13:22] bp8017 commented on #432
@shailesh33 can you please provide an update on this issue? The outcome of this will steer our direction for a solution on which we are currently working.

[2017-05-25 16:57] shailesh33 commented on #432
so the disable flush fixed your issue? interesting. I think we can provide a compile time option for this. Making changes in config/command line would trigger changes across the board.
Can you enlighten me with the repro steps you have?

[2017-05-25 17:21] shailesh33 commented on #450
@akbarahmed can you comment please?

@sairam546 we usually do not use this process in production, we build our own debians and install them.

[2017-05-25 18:55] akbarahmed commented on #450
@sairam546 The .deb build and the packages on the apt repo were very out of date. As a result, we took the apt repo down.

We're now pointing everyone to the Netflix repo: https://github.com/Netflix/dynomite

I have updated the README on https://github.com/DynomiteDB/DynomiteDB.github.io and will update it on the other repos, website etc.

[2017-05-25 19:13] akbarahmed commented on #449
@mchugh7153 Have you followed the instructions in the `build.sh` script?

https://github.com/Netflix/dynomite/blob/dev/build.sh

[code]

[2017-05-25 20:11] shailesh33 commented on #432
@bp8017 ^^

[2017-05-25 20:49] bp8017 commented on #432
It seems that all we did was ramp up the request frequency doing some operations like so more often:
[code]
nothing crazy

Another engineer also pointed out that we scaled up the AWS Elasticache (redis) instance to a larger instance type, which may have contributed to the problem going away. But the root of the problem was that once dynomite got into an unhappy state, it required a restart to retu

[2017-05-26 06:39] sairam546 commented on #450
It is easy for beginners to install using apt. Can you enable that back with some versioning or with some different URL.

[2017-05-30 20:12] luciferchills opened #452 "Replication not happening"
I built dynomite from source and replication is not happening.

When ever you enter a key, the dynomite in other node is getting killed.

Following is the debug log from machine in which dynomite is getting killed.
![screen shot 2017-05-31 at 1 41 13 am]
(https://cloud.githubusercontent.com/assets/28924370/26602820/5641f948-45a2-11e7-8b0f-656ba85642f3.png)

10.0.1.57:8102> [2017-05-30 20:06:28.220

[2017-05-30 20:18] shailesh33 commented on #452
what branch? @luciferchills

[2017-05-30 20:25] luciferchills commented on #452
Thanks for responding :)

From master

[2017-05-30 20:28] shailesh33 commented on #452
Can you please Try branch v0.5.9

[2017-05-30 21:26] #452 closed

[2017-06-12 18:39] maksimlikharev commented on #433
Yes, we see the same issue, when dynamite runs under somewhat verbose log level, eventually it runs out of disk space, it is fine to disable logs on prod, but on dev, better to have it and in some cases to have even very verbose. This is quite serious problem.

[2017-06-13 05:50] kaniini commented on #408
NULL should be brought in via stdlib.h, not libio.h.  libio.h is a GNU libc extension.

[2017-06-13 14:22] shailesh33 commented on #408
ah ok. I will take care of it.

[2017-06-13 14:47] shailesh33 commented on #408
@blinohod I have fixed the libio thing. Can you try compiling now?
It works for me in mac & linux

[2017-06-13 14:48] shailesh33 commented on #408
I will close this issue but please reopen it if you still have any problems.
Thanks @kaniini

[2017-06-13 14:48] #408 closed

[2017-06-13 17:21] shailesh33 commented on #433
@maksimlikharev there are various log levels, to debug issues, I go to log level 6 which is good enough for all practical purposes; It shows how the message is received in dynomite, how the copies are made and sent to various nodes.
Each message has a id:parent_id, if a message is received from a client it has a parent_id of 0, then internally we create copies of the message to propagate it in the

[2017-06-13 17:50] maksimlikharev commented on #433
I didn't mv or del, file is open, this won't work. log needs to be properly rotated by date or size

[2017-06-13 17:51] shailesh33 commented on #433
I assume the underlying operation would be mv or del or truncate right?

[2017-06-13 18:05] maksimlikharev commented on #433
My desire that dynomite will properly rotate logs for me and I will zip/backup/delete as I feel it, this is trivial operation.
I don't won't to reserve to "black magic" here to rotate opened file by another process.
Good example would be *RollingFileAppender*, at the very minimum rotate log file every day.

Why I need verbose, sometimes I need to investigate errors and it helps to see where the pr

[2017-06-13 18:12] shailesh33 commented on #433
ok. got it. I looked at our script here, and the way it does a rotation is copy the file to archive directory and truncate the source file. So essentially I think dynomite keeps wrting to the same file, just that it gets truncated every 2 hours. Does that make sense?

[2017-06-14 20:32] ipapapa commented on #450
Right now we do not have in our timeline as an OSS project to publish a debian. We may consider it later based on the need. There was an effort in the past https://github.com/Netflix/dynomite/issues/367 and as an OSS project, it would be great to get more people involved.

[2017-06-14 20:33] ipapapa commented on #449
@mchugh7153 are you still facing that issue, or did @akbarahmed proposal resolve your question.

[2017-06-18 12:32] omilun opened #455 "easy scenario to run DynomiteDB on Kubernetes ."
hello .
I have 3 servers in a data center, and I want to set up DynomiteDB and ARDB on Kubernetes.
I have a problem in setting dynomite.yaml file for all of them.
I want to divide my problem and run DynomiteDB step by step.
First: I need to run DynomiteDB and Redis by docker. I think I can make it easy by using felorida config to same setup on kubernetes.
how can I run it with Docker? I cannot fin

[2017-06-21 12:59] Aatish04 opened #456 "Dynomite immediately dropping connections"
I am trying to configured dynomite with two datacenters running on different machine, each will have one rack and one node. Each node connecting to redis instance running on it's machine.
I am trying to start dynomite with gossip enable.
After staring dynomite on both the servers after making request it crashes

On server 1
$ redis-cli -p 8102
127.0.0.1:8102> ping
(error) ERR Storage: Connection t

[2017-06-21 14:19] ipapapa commented on #456
A couple of questions:
* `[2017-06-21 12:51:15.731] redis_parse_req:1230 parsed unsupported command 'COMMAND'`: What version of `redis-cli` are you using?
* What version of Dynomite are you using?
* Have you build mode in _Debug Mode_?

[2017-06-21 14:23] ipapapa commented on #455
Let me start by clarifying. DynomiteDB is the commercial product, for which @akbarahmed can provide more insights.

If you want to use Dynomite in Docker here is a Dockerfile here are some instructions: https://github.com/Netflix/dynomite/tree/dev/docker
and you can also use the Docker image from Docker hub:
 https://hub.docker.com/r/ipapapa/dynomitedocker/

[2017-06-21 14:28] ipapapa commented on #433
This is how we rotate logs (as @shailesh33 described above): https://github.com/Netflix/dynomite/blob/dev/bin/launch_dynomite.sh#L24-L27

[2017-06-21 14:31] ipapapa commented on #448
@slopokeit I am closing this due to inactivity or potentially because the question has been answered. In regards to the read repairs, we would love your contribution either through a design proposal or code contribution. This is definitely something we want to achieve soon so any ideas are welcome.

[2017-06-21 14:31] #448 closed

[2017-06-22 06:05] Aatish04 commented on #456
What version of redis-cli are you using?
3.2.9
What version of Dynomite are you using?
This is dynomite-4757009     (have taken latest from master and built)

Have you built Dynomite in Debug Mode?
No, will try it and provide log trace

[2017-06-25 09:15] lampmanyao opened #457 "How does client handle this situation: if redis-server is down but dynomite still available?"
If we have two racks in one datacenter, and each rack has three dynomite nodes.
How does client handle this:
1. Client1 sets key1 to node1:rack1.
2. Redis-server behind node1:rack1 is down
3. Client2 tries to get key1 from rack1, but it will get "Err storage: Connection refused".

If we use hiredis, we will not get any warning or error because hiredis could read something from its connection. We g

[2017-06-26 03:20] lampmanyao commented on #457
We won't get the wrong value.
Because redisReply has a `type` field, in this situation, it will be set to `REDIS_REPLY_ERROR`.

[2017-06-26 03:20] #457 closed

[2017-06-26 05:34] Aatish04 commented on #456
Hi @ipapapa , Any clue for above issue ?
Is anything wrong with my configuration?

[2017-06-26 13:18] ipapapa commented on #456
A couple of things.
1. Use the latest dev branch;
2. Replace DNS names with IP addresses? That is to resolve the seg fault;
3. Use an older version of `redis-cli`. I think the latest one has an unsupported command: `parsed unsupported command 'COMMAND'`. We probably need to add support to this command.

[2017-06-26 21:05] sk523 opened #458 "Documentation of deploying dynomite cluster on AWS"
We are trying to use Netflix conductor in our project but did n't find any documentation on  deploying  dynomite cluster on aws with production HA settings. Can you please provide steps to deploy?

[2017-06-27 07:04] Aatish04 commented on #456
Thanks @ipapapa
Could you please let me know which version of redis is compatible with dynomite.
Also I have configure dynoJedisClient to communicate with dynomite and observed that for all read operations it performs without any issues but whenever write request comes one of the node gets crashed.
However, data which is written is available on that node.
Is it happening because of redis version?

[2017-06-27 13:26] ipapapa commented on #456
Any Redis version is compatible... The problem is that the new `redis-cli` has an extra command for which we need to add support for. We use 3.0.7 in our systems. I will let @shailesh33 comment what might have caused the segmentation fault. I see the following assert statement:

[2017-06-27 20:17] shailesh33 commented on #456
Have you tried v0.5.9? that is the recent stable release. I believe I fixed a bunch of assert related issues.

[2017-06-29 12:48] Aatish04 commented on #456
@shailesh33 Thanks! Now tried with v0.5.9 and not getting above error.
One doubt with this version, Is gossiping is enabled by default for this release.
Because It is not accepting -g parameter as earlier version.

[2017-06-29 14:18] ipapapa commented on #456
Does using `enable_gossip` from YAML work better?

[2017-07-06 11:05] yaklimenko opened #459 "cannot connect with dynomite via Redis desktop manager"
hello
Started dynomite in container in stack with dynomitedb/redis container.
my dynomite.yml config file:
[code]
and added it in -c arg when launching/

redis container works properly. DB interacts successfully with "redis desktop manager"

after launch I cannot open db though dynomite.
redis desktop manager
[code]

dynomite logs:
[code]
What is wrong?

[2017-07-07 14:20] yaklimenko commented on #459
problem solved. It's not correct to connect with redis desktop manager because rdm selects databases. Dynomite doesn't support select db.
Can be closed

[2017-07-07 14:20] #459 closed

[2017-07-13 20:49] mgfreshour opened #460 "Support for redis multi key commands?"
Is there any plan to support multi-key commands like sunion or sinter?  With a three node rack:

SADD key1 "a" # Goes to node 2, based on keys '*'
SADD key2 "b" # Goes to node 3, based on keys '*'
SUNION key1 key2
1) "a"

I assume this is the result as dynomite looks at the first key and then runs the command on that redis box.  I understand implementing something to split up and join these comman

[2017-07-14 00:40] ipapapa commented on #460
@mgfreshour can you please properly tag the issue you are referring to?

[2017-07-14 00:41] ipapapa commented on #458
Here it is: https://github.com/Netflix/dynomite-manager/wiki/Step-by-step-installation

[2017-07-14 00:42] ipapapa commented on #455
@omilun was your question answered? Would you like any further assistance from our side?

[2017-07-14 00:45] ipapapa commented on #450
@sairam546 Currently, we do not plan to address it as project maintainers given the fact that at Netflix we build our own Debians. We would love though to support you or anybody else who plans to help with publishing Debian package.

[2017-07-14 00:45] #450 closed

[2017-07-14 00:47] ipapapa commented on #449
closing this due to inactivity. Would love to reopen it if there any further questions.

[2017-07-14 00:47] #449 closed

[2017-07-17 15:11] devaudio commented on #415
if you do not set it in config, it still complains:

[code]

[2017-07-17 15:13] devaudio commented on #415
[code]

[2017-07-17 17:02] sairambs3 opened #461 "Dynomite is taking very high memory"
Seems like mbuf is taking the memory and not freeing it. If i reload dynomite that memory is getting released and it is becoming normal.

Can i know how mbuf works and how to free memory ?

[2017-07-17 23:00] shailesh33 commented on #461
Hi
That is by design to have memory allocated and not freed to avoid fragmentation and also to avoid frequent allocation and deallocation. Currently we do not free that memory.

[2017-07-18 04:58] sairambs3 commented on #461
Can we limit the memory ?

[2017-07-18 09:08] yaklimenko opened #462 "Dynnomite crashes if it cannot resolve seeds at start"
Hello. I need to create a cluster of 4 nodes of dynomite with 4 nodes of redis using docker containers in swarm. I need to specify seeds addresses in dynomite config with yaml list "dyn_seeds". And this is the problem.
The single way to make my swarm work is to specify  seeds list using external ip addresses with external docker swarm ports for these containers. This is not cool because I need to

[2017-07-18 17:07] shailesh33 commented on #461
there is a command line option for logs.
There is also a command line or yaml option for max messages. This will limit the memory indirectly. It limits the messages not the buffers in it. But you can imply from it.
Also dynomite has a stats port that you specify on the command line or yaml file (based on the version) where you can send query like http://localhost:<stats port>/info and get a lot of

[2017-07-19 10:32] yazovsky opened #463 "Question: consistency guarantee during the cluster partitioning"
Hello here!

Let's assume I have "Record A" saved in DynomiteDB cluster. Now, I got network partitioning, which splits my cluster into two parts: part A (with "Record A" and all replicas) and part B (no replicas of "Record A").

During partitioning, my client application has an access to only part B, thus, the "Record B" is unavailable.

Now, I'm trying to check if "Record A" exists and create if

[2017-07-19 22:09] shailesh33 commented on #143
I will close this But please feel free to reopen if you need

[2017-07-19 22:09] #143 closed

[2017-07-19 22:11] shailesh33 commented on #49
I have fixed mset. It works fine in a local region cluster. We will fix msetnx when there is a need

[2017-07-19 22:11] #49 closed

[2017-07-19 22:12] shailesh33 commented on #46
Not fixing this unless a requirement arises again.

[2017-07-20 04:42] lampmanyao commented on #46
I've implemented this, but i have one question.

That's two steps:
1. Dynomite sends `auth requirepass` to redis.

2. When dynomite receives `auth requirepass` from client, it won't forward this message to redis, it just compares the `requirepass` with the redis_auth in config file, and replies the result to the client.

The question is:
At step 1, dynamite can't receive reply after sending `auth

[2017-07-20 19:55] shailesh33 commented on #415
It uses a default file path and uses it. Hence it complains.

[2017-07-20 19:56] shailesh33 commented on #463
Yes, in that case part of the data is not available and Dynomite will complain and read/write will fail.

[2017-07-20 20:13] shailesh33 commented on #46
I think requirepass is a conf directive, Did you change that. Also I am not sure what kind of security you get when you are actually sending the password as plain text on the wire.

[2017-07-21 02:10] yazovsky commented on #463
thanks, @shailesh33

Just to double check we are talking about the same thing here. I found the following description of Dyno's behavior in another thread:

_>> When a node leaves the cluster (ex. when it fails), the Dyno client will be notified of the failure due to failed health checks and will direct traffic away from the failed node...until it is brought back online._

Does **"will direct traf

[2017-07-21 11:53] yaklimenko opened #464 "after some time of inactivity dynomite fials to process 1 request. The next one is ok"
after some time of inactivity dynomite fials to process 1 request. The next one is ok.
dynomite 1 config
[code]

dynomite2 config
[code]

Plaese look at logs:
dynomite1
https://gist.github.com/yaklimenko/f5c8e5241289952fa96e312d43c64b4c

dynomite2
https://gist.github.com/yaklimenko/fe8f16aac4a3e5312780ce4e88d0500c

first request was made at 11:41:27, and there was an error
second request was made

[2017-07-21 23:16] shailesh33 commented on #464
It could be that redis timedout its client connections? Try setting timeout value in redis.conf to 0.
What branch are you using ? Try v0.5.9

[2017-07-21 23:18] shailesh33 commented on #463
option a is correct. However its not dyno which replicates the data, its dynomite server which does it for you. Client do not have to write to multiple nodes, that why you can use any client, even a basic redis-cli to talk to dynomite.

[2017-07-22 03:36] yazovsky commented on #463
thanks a lot!

[2017-07-22 03:36] #463 closed

[2017-07-22 08:49] yaklimenko commented on #464
Hi. Timeout is 0 for redis. Redis image was pulled from https://hub.docker.com/r/dynomitedb/redis/

[2017-07-24 08:03] yaklimenko commented on #464
@shailesh33 can you please give me advice how to use compiled dynomite deb app package? I have no idea how to  put it into docker conatiner and use

[2017-07-24 10:11] lil-Toady opened #465 "Question: Disaster recovery"
How does dynomite manage replication in case of disaster? Say we have two datacenters, and lost connectivity between them, applications in both datacenters keep working with dynomite (hence it's multi-master), ending up with stale data in both datacenters. How can dynomite recover from this?

[2017-07-25 09:15] yaklimenko commented on #464
I have compiled v0.5.9 of dynomite. Now I have dynomitedb-dynomite_0.5.9_amd64.deb file. I have put following code into Dockerfile:
[code]
and got error:

[code]

[2017-07-25 10:30] yaklimenko commented on #464
dynomitedb-dynomite_0.5.9_amd64\control.tar\control.tar\preinst
dynomitedb-dynomite_0.5.9_amd64\control.tar\control.tar\postinst
they are exist

[2017-07-25 11:38] yaklimenko commented on #462
Still need a fix or a workaround

[2017-07-25 17:39] shailesh33 commented on #465
There was a proof of concept implementation that @ipapapa did using spark for reconciliation, where one could get all the data from the various replicas and then use some business logic to repair data. We do have warm up feature which reduces the entropy in the system within a DC. Hope this explains.

[2017-07-25 17:39] #465 closed

[2017-07-25 17:42] shailesh33 commented on #464
@yaklimenko Honestly I have never done docker installation of dynomite so my knowledge there is limited. I would like to defer/assign this to @ipapapa He should be able to redirect you on that.

[2017-07-26 07:22] yaklimenko commented on #464
@shailesh33 I thonk there is no need to do so. We have found dynomite release source package able to build. Need to check and then may be this issue will be closed.
One more question, why don't you build new releases on hub.docker.com?

[2017-07-26 17:50] shailesh33 commented on #461
@sairambs3 please reopen the issue if you have further questions.

[2017-07-26 17:50] #461 closed

[2017-07-26 20:24] shailesh33 commented on #458
I hope this is answered. Please reopen the issue if you have further follow up questions

[2017-07-26 20:24] #458 closed

[2017-07-27 19:33] shailesh33 commented on #456
@Aatish04 can you check the parameter in the YAML file?

[2017-07-28 04:47] #455 closed

[2017-07-28 05:34] ipapapa commented on #464
@yaklimenko you are used the DynomiteDB debian which is deprecated. I suggest you do not use that. DynomiteDB was a commercial company that would support Dynomite. Dynomite is an OSS project (think about it like Datastax and Apache Cassandra). I have published a build on `hub.docker.com` at https://hub.docker.com/r/ipapapa/dynomitedocker/ You can find more info about our Dockerfiles: https://githu

[2017-07-28 09:11] yaklimenko commented on #464
@ipapapa Thanks. Built 0.5.9-2 with Dockerfile provided in sources. Just edited Dockerfile a little to specify branch. Works fine

[2017-07-28 09:14] yaklimenko commented on #464
actually the problem described in topic is still exists

[2017-07-28 13:37] shailesh33 commented on #464
can you paste the logs from the dynomite process?

[2017-07-28 15:25] yaklimenko commented on #464
I have swarm containing 6 dynomite instances with a single redis behind each.
there was an hour without any action.

https://gist.github.com/yaklimenko/1451f90fdf8b78c5bf7ceba85c954bd0
At 2017-07-28 15:17:35 I run my test utility which asks every dynomite in swarm to put 100 tokens. You can find an error at that timestamp inside log.

After that fails I have run my utility again - and everything i

[2017-08-02 03:14] zhengguangpeng commented on #432
@shailesh33  , I also met the same problem,  the version is :
-------------------------
[root@dev01 dynomite]# ./src/dynomite -V
This is dynomite-v0.5.9-2_ProxyCloseFix-dirty
-------------------------

when I get a key by dynomite ,the following info was reported:
=======================

00000290  65 73 70 6f 6e 73 65 22  3a 7b 22 68 65 61 64 65   |esponse":{"heade|
000002a0  72 73 22 3a 7b 22 63

[2017-08-02 03:15] zhengguangpeng commented on #432
@shailesh33  Only one redis node used by dynomite. and the config file:
===

dyn_o_mite:
  dyn_listen: 192.168.2.199:8101
  data_store: 0
  mbuf_size: 65536
  listen: 192.168.2.199:8102
  dyn_seed_provider: simple_provider
  servers:
  - 192.168.2.199:6379:1
  tokens: 437425602
  stats_listen: 0.0.0.0:22222

====

[2017-08-02 08:24] zhengguangpeng commented on #432
@shailesh33
  hello,I changed dynomite to the "disable_flush" version ，yes， it worked !

 Could you tell me more about these details  and when it would be merged into the new normal version ?

[2017-08-02 08:52] yaklimenko commented on #464
another log with high verbosity
https://gist.github.com/yaklimenko/8918cbb3bbbd781cef7f0bbdd9bed16e

Again. First time error, then ok. Tried to put 10 values per dynomite instance
[code]

[2017-08-02 09:19] yaklimenko commented on #462
can be closed. Our cluster was configured using external ip addresses

[2017-08-02 09:19] #462 closed

[2017-08-02 11:46] marciogoulart opened #466 "Error Install dynomite in Ubuntu"
When executed sudo apt-get update occured error below.

sudo apt-get update
Err:26 https://apt.dynomitedb.com trusty InRelease
  Connection timed out after 120003 milliseconds

[2017-08-02 17:32] shailesh33 commented on #432
I am sorry I am a little confused here. Did this get solved for you with disable flush?

[2017-08-02 17:34] shailesh33 commented on #466
DynomiteDB was a commercial product by @akbarahmed that is no longer supported. Please use the open source version in this git repo to build and install.

Closing this issue for now. Let us know if you have issues with the git repo

[2017-08-02 17:34] #466 closed

[2017-08-03 10:27] zhengguangpeng commented on #432
@shailesh33  version of "disable flush "  is okey, it solved my problem.

and I wonder when the version could be a normal tag version .

[2017-08-08 18:26] claudineimatos commented on #433
As far as I can see, if you do move the original file with logorate for example, you may use a kill with signal HUP to start to write the new file:
sudo killall -HUP dynomite

[2017-08-10 17:58] cyberjso commented on #336
hello guys,

@dzhou121  did you sort this out somehow?

[2017-08-10 18:27] shailesh33 commented on #336
Does this work on branch v0.5.9, there were some fixes around that code.

[2017-08-11 03:24] diegopacheco commented on #336
@shailesh33 ,

did you guys apply this to 0.5.8?

The main issues with 0.5.9 for us was this
https://github.com/Netflix/dynomite/issues/432

did you guys fixed?

[2017-08-11 17:33] diegopacheco commented on #336
@shailesh33 @ipapapa

Just adding more information.

Complete GDB ```bash bt full ```
[code]

[2017-08-11 17:37] shailesh33 commented on #336
looking into it

[2017-08-11 17:47] shailesh33 commented on #336
what is the output of your get_seeds from florida?

[2017-08-11 17:48] diegopacheco commented on #336
@shailesh33

        start = 0x7f41100008c0 "node1:8101:us-west-2a:us-west-2:100|node2:8101:us-west-2b:us-west-2:100|node3"...
        seed_node = 0x7f41100008c0 "node1:8101:us-west-2a:us-west-2:100|node2:8101:us-west-2b:us-west-2:100|node3"...

[2017-08-11 17:57] shailesh33 commented on #336
do you have handle to the seeds array that is at the top of the stack?
do you have a core dump?

[2017-08-11 17:58] shailesh33 commented on #336
Also, I have learned that its not a bad idea to disable optimizations in production clusters just for these reasons so we have all the information required when we need it.

[2017-08-11 17:59] shailesh33 commented on #336
[code]
looks like its auto terminated.
Can you get the full output from florida?

[2017-08-11 18:02] diegopacheco commented on #336
I do have a core dump.

[2017-08-15 00:32] balajivenki opened #468 "Latency increases by message size"
Hi,

We have been seeing latency issues when writing or doing GET/DEL calls to dynomite/redis. The interesting thing we observed was that the latency increases proportionate to the size of the message. Can you please tell me other than network check is there any config we are using wrong? There are not much doc about mbuf_size config for dynomite. does increasing mbuf_size helps here?

[2017-08-15 14:04] shailesh33 commented on #468
what is teh message size that you are sending? Typically in this case, we increase the mbuf size but that wont help significantly. We also try to use dyno compression feature if the payload is compressable.

[2017-08-16 11:02] yaklimenko commented on #464
still need fix

[2017-08-21 09:23] noubough opened #469 "Dynomite installtion failed on Linux Suse 12"
Hi,
I tried to install dynomite from source as described here

[](tps://github.com/Netflix/dynomite/blob/master/README.md) but failed due to Connection issue, I cloned the git repo with eclipse , zipped it and copies via winscp to my Linux suse  VM.

Finally  i executed following:

[code]

Note: the same error occured  when i tried to install using the release  dynomite-0.5.9-2_ProxyCloseFix.tar.g

[2017-08-21 19:22] shailesh33 commented on #469
I think you need to install libtool and libssl-dev

sudo apt-get install libssl-dev

[2017-08-21 19:23] shailesh33 commented on #468
@balajivenki let me know if you tried dyno compression or app side compression, what is your typical payload size?

[2017-08-21 19:28] shailesh33 commented on #464
Did you try tcpdump or some networking tools. I am guessing that your connections are getting timedout. I believe I added handing of this in 0.5.9 branch or in dev definitely. Along with that can you check your keepalice settings, we have the following on our instances

~ $ cat /proc/sys/net/ipv4/tcp_keepalive_time
7200

~ $ cat /proc/sys/net/ipv4/tcp_keepalive_intvl
75

~ $ cat /proc/sys/net/ipv4

[2017-08-22 19:36] noubough commented on #469
Hi shailesh33,

thank you. Exactly I'v installed openssl-devel and this has solved my issue.

[2017-08-22 19:36] #469 closed

[2017-08-30 09:50] gobijagan opened #470 "Data not replicated"
I've started dynomite using
cd dynomite;
src/dynomite -c conf/redis_rack1_node.yml;
src/dynomite -c conf/redis_rack2_node.yml;
src/dynomite -c conf/redis_rack3_node.yml; in different terminal
the three config files
dyn_o_mite:
  datacenter: dc
  rack: rack1
  dyn_listen: 127.0.0.1:8101
  dyn_seeds:
  - 127.0.0.2:8101:rack2:dc:1383429731
  - 127.0.0.3:8101:rack3:dc:1383429731
  listen: 127.0.0.1:81

[2017-08-31 12:07] maryoush opened #471 "ZRANGEBYSCORE fails due to decrytion failure"
We
are recieving timeout while calling

[code]

Called from :
https://github.com/Netflix/dyno-queues/blob/4c2c748530545d133bbbdfe83f74bbc8ad339c8b/dyno-queues-redis/src/main/java/com/netflix/dyno/queues/redis/RedisDynoQueue.java#L538

The setup for 3 node rack of dynomite is clone of given one
[code]
What's important if we have changed the  read_consistency => dc_one the problem dissapears

Except

[2017-08-31 12:16] maryoush commented on #471
[](https://gist.github.com/maryoush/98dea5d04f0293ab9ca646d93d502468)

[2017-09-01 11:29] gobijagan commented on #143
I too have same problem in redis, data not replicated. Is that fixed?

[2017-09-05 20:18] ipapapa commented on #470
`> '127.0.0.1:8105' failed: Address already in use`. Please stop any process holding that port.

[2017-09-06 05:17] gobijagan commented on #470
For the first(redis_rack1_node.yml) one, no such log. This log is only for rest, i think it is becoz of first one using that port.

[2017-09-06 12:46] ipapapa commented on #470
The `accepted` means a connection has been primed. The rest are some ids, IP addresses, and port numbers.

[2017-09-06 13:35] gobijagan commented on #470
Thanks

[2017-09-12 07:51] scutpalmer opened #473 "Query about the implementation of Gossip in Dynomite"
HI,
I am doing research on Gossip and related projects.

Since I cannot find much materials, can you help to explain the implementation of Gossip in Dynomite?

I wonder whether it is based on the paper of SWIM from Cornell, the Gossip implementation in Cassandra, or other ideas?
How about the Failure Detector, the choose of Anti-entropy/rumor mongering, Push/Pull/Push-Pull and so on.

Thanks and B

[2017-09-12 13:55] #470 closed

[2017-09-13 14:25] shailesh33 commented on #473
@timiblossom Can you please comment?

[2017-09-14 07:54] sairambs3 opened #475 "Dynomite CPU usage is increased and it stopped responding"
Hi

Suddenly Dynomite CPU increased and it stopped responding to requests.
When i reload it is again working normally.

What might be the issue ?

Also when i tried to enable logs with command line. I am getting following error

??:0
/tmp/dynomite/src/dyn_stats.c:1401
/tmp/dynomite/src/dyn_stats.c:1556
/tmp/dynomite/src/dyn_core.c:232
/tmp/dynomite/src/dyn_core.c:244
/tmp/dynomite/src/dyn_core.c:2

[2017-09-14 15:35] shailesh33 commented on #475
can you send me some more details of the load, anything in the logs etc?

[2017-09-14 15:37] shailesh33 commented on #473
@scutpalmer we do not use gossip internally.The gossip code predates me so I am not an expert on commenting it but I believe it is based on the Cassandra style gossip.

[2017-09-14 15:38] shailesh33 commented on #473
by the way, if you are interested, you can improve the gossip here :) we will provide all the support needed.

[2017-09-14 15:52] shailesh33 commented on #471
@maryoush The problem seems to be that the xx12 is sending the message with id 28825 to other peer xx13. It then receives the response but is not able to decrypt it:

[2017-08-31 09:45:43.575] dyn_aes_decrypt:367 Bad data in EVP_DecryptFinal_ex, crypto data with 16336 bytes of data

and so that message gets dropped and hence the peer timeout.Do you have logs for the xx.13 host with that message id

[2017-09-14 15:53] shailesh33 commented on #471
Also is there a reason why you have encryption within the DC?

[2017-09-15 06:54] maryoush commented on #471
Hi @shailesh33
what additional information log you would expect to have in order to hunt down the issue ?

[2017-09-15 18:14] shailesh33 commented on #471
The logs of the other node which you missed. Also, do you need Interzone encryption?

[2017-09-15 18:18] KowalczykBartek commented on #471
@shailesh33 honestly no, we will try to gather more logs and we will switch off encryption (because of in current setup there is no needs for encryption)

[2017-09-17 12:25] daflip opened #476 "Using dynomite just for dc replication and NOT sharding in any way ?"
Hi

I just came across dynomite and have been researching it and the docs over the last while. While dynomite seems perfect for sharding data across multiple nodes I haven't found anything which gives me a clear answer on whether all this will work (DC <-> DC replication) without any sharding. In other words I'm looking to replicate a single dataset to ALL nodes. If i use the same token everywhere

[2017-09-17 13:41] daflip commented on #476
So after some experimentation it seems this works if i just setup one node per rack. As far as I can see it's working fine this way. One thing I have noticed is that 'keys *' causes the redis client to just hang. Is that a symptom of me doing something wrong or is it not supported ?

[2017-09-18 05:14] ipapapa commented on #476
Answering your first question, yes Dynomite can do what you describe. In regards to your second comment, you should never use `KEYS *` against Redis in production. It locks down Redis until it gives all the keys. You should use SCAN instead. More info: https://redis.io/commands/keys

[2017-09-18 10:05] #475 closed, assigned to nobody

[2017-09-18 15:29] codophobia opened #477 "Dynomite with docker causing huge decrease in read-write speed"
I am thinking of using dynomite for geo replication of redis data. I was just benchmarking the dynomite with redis on a single node and I found it to be too slow. I have seen very good benchmarking results of dynomite with redis . I don't understand why my dynomite is too slow.

Node hardware details:
[code]
I am using the the [redis_single.yml](https://github.com/Netflix/dynomite/blob/master/conf

[2017-09-18 17:41] shailesh33 commented on #477
This is what I get with my virtual machine:
sbirari@ubuntu:~/Work/dynomite (dev)*$ redis-benchmark -q -t set,get -c 100 -p 8102
SET: 60532.69 requests per second
GET: 62421.97 requests per second

sbirari@ubuntu:~/Work/dynomite (dev)*$ redis-benchmark -q -t set,get -c 100 -p 22122
SET: 129701.68 requests per second
GET: 119617.22 requests per second

[2017-09-18 17:51] codophobia commented on #477
@shailesh33 Are you using docker to run dynomite? What could be possible reasons for so slow performance?

[2017-09-18 17:57] shailesh33 commented on #477
No we dont use docker. But I just ran in inside a VM.  Try it without a docker and see if that helps?

[2017-09-18 18:48] codophobia commented on #477
@shailesh33 ya, it helped. So, the problem was with the docker.
[code]

[code]
The performance drop is almost 50% with just one node. Is this much drop normal by using dynomite?

[2017-09-18 19:54] shailesh33 commented on #477
that's what I see it on my machine too. I would guess Dynomite does the same parsing etc that Redis does. Other than that, Redis does a little extra work of setting data in memory which is not significantly costly. You could get a better performance with Unix sockets. If Redis supported binary protocol too, it would perform much better.

[2017-09-18 21:29] shailesh33 commented on #477
Please feel free to reopen the issue if you have any more questions,

[2017-09-18 21:29] #477 closed, assigned to nobody

[2017-09-18 21:31] shailesh33 commented on #468
@balajivenki is there anything on our side that needs to be done, if not can you please close the issue?

[2017-09-18 21:32] #390 closed

[2017-09-18 21:40] balajivenki commented on #468
@shailesh33  This issue was due to that RetryNTime infinite loop issue. Marking it as closed as commenting out the retry policy worked for us. Thanks for your help

[2017-09-18 21:40] #468 closed

[2017-09-19 04:30] timiblossom commented on #473
Here is the capture of our conversation in case someone else is interested to contribute or looking for the answer:
## ChangHeng
I am doing research on Gossip and related projects.

Since I cannot find much materials, can you help to explain the implementation of Gossip in Dynomite?

I wonder whether it is based on the paper of SWIM from Cornell, the Gossip implementation in Cassandra, or other id

[2017-09-19 11:56] daflip commented on #414
FWIW this seems to occur when you use openssl libs v1.1.0 rather than 1.0.1.

[2017-09-19 13:19] codophobia commented on #477
@shailesh33 When I compiled the  dynomite code on ubuntu, it worked fine. But I am facing problem when I am trying to run make command  on debian stretch. I followed the Dockerfile in the master repo for installing the dependencies.
[code]
The first three commands for compiling worked fine but I got error when I ran the make command.
[code]
[code]

I tried to look at line number 621 in the Makefil

[2017-09-19 14:28] daflip commented on #476
Thanks for the reply! Yes, understood and agreed but the codebase I'm dealing with unfortunately has some use of the keys command so I was wondering if it was supported.  It seems that it actually is, but for me on this install (around 180,000 keys) the connection to dynomite from redis-cli just hangs when I issue the command.  Curiously the very same issue happens me when i perform an smembers co

[2017-09-19 18:08] btai24 commented on #449
I'm getting this error:

[2017-09-20 09:31] sairambs3 opened #478 "Usage of memory by dynomite increases - ENOTRECOVERABLE"
[2017-09-19 00:32:42.892] msg_send:1266 <LOCAL_PEER_SERVER 0x28dd250 163 to '10.2.19.35:8101:rack1:dc1:0'> Setting ENOTRECOVERABLE happens here!

Like this i am getting logs continuously and memory usage of dynomite is increasing. What is this ?

What is MAX_CONN_QUEUE_SIZE in dyn_connection.h

Thank you

[2017-09-20 19:14] codophobia opened #479 "Makefile:641: recipe for target 'dyn_crypto.o' failed"
I am trying to compile the dynomite code on debian stretch 9.0. When I run the make command, I get the following error:
[code]
I have installed all the [dependencies](https://github.com/Netflix/dynomite/blob/dev/docker/Dockerfile).

Here is the link to the Makefile: https://gist.github.com/codophobia/eb2d6bee752c0f5c65af0cff28fef68a

[2017-09-21 11:30] daflip opened #480 "dynomite instance crash when using binary data ?"
Hi

I've been investigating several issues I've been having with dynomite whilst running some tests to see if this is going to work in production. One thing I've noticed is I made a simple PHP script which reads random binary data and attempts to set value via dynomite and if successful then reads it back and compares what it got back equals what it set. Running the script causes a 'read error on

[2017-09-21 11:35] daflip commented on #479
what openssl library version have you installed? I get this error too if using 1.1.0x .. the error goes away if i use 1.0.1x

[2017-09-21 13:39] codophobia commented on #479
@daflip ya, it worked good with 1.0 version.

[2017-09-21 15:15] shailesh33 commented on #480
Will look into it.

On Thu, Sep 21, 2017 at 4:31 AM Jerry Walsh <notifications@github.com>
wrote:

[2017-09-21 15:43] daflip commented on #480
Let me know if I can be of any assistance. For the record I'm using v0.5.9 .. issue happens on redis 3.0.7 and also 3.2.6. My test uses php-redis 3.1.1-1 on debian stretch (stable)

[2017-09-21 16:22] codophobia opened #481 "Cross data center replication not symmetric"
I am trying to set up cross dc replication of redis with one instance of redis running in each data center. I set keys in  dc2 redis and I can get that key in dc1 redis but this is not happening vice-versa. In logs, I see one of redis(dc1) is just waiting for client connections from other redis(dc2).

[2017-09-21 21:09] Joseph-R opened #482 "Errors on read/write: -ERR Peer: Unknown"
**Issue:** I see **-ERR Peer: Unknown** when writing to a Dynomite cluster.

**Test method:**  Manual reads and writes via CLI to Dynomite ports, or testing sereis via redis-benchmark with random k:v pairs.

**Versions:**
[code]

**Redis-cli output (4-node cluster behind an AWS ELB):**
[code]

**Example logs - dynomite.log (log level 9):**
[code]

**dynomite.yml:**
[code]

**Additional notes:**

[2017-09-22 17:08] shailesh33 commented on #482
Do you have the dynomite logs? I see you have only Redis logs.
Dynomite should output if there were errors in connection to its peers.

[2017-09-22 17:45] shailesh33 commented on #479
@daflip Thank you for answering the question. I love open source :)

@codophobia is this resolved? good to close the issue?

[2017-09-22 17:47] shailesh33 commented on #481
can you ping and telnet in either direction?

[2017-09-22 18:47] #479 closed, assigned to nobody

[2017-09-22 20:09] Joseph-R commented on #482
Hey @shailesh33 - I posted some sample dynomite logs above, at log level 9.  They weren't super clearly marked, which I have gone back and fixed.

But basically there's not much helpful in the dynomite logs that I'm seeing.  Just that `-ERR Peer: Unknown error -1`.

[2017-09-22 20:13] shailesh33 commented on #482
at log 9 you should have much details logs. For example take this:

[code]

Try to trace the message id ```1387871``` and check its history in the logs. Try to get other related messages.
Best, do you have particular request that is failing and try to get the logs starting from that request till its failure?

[2017-09-25 08:26] codophobia opened #484 ""Error: Server closed the connection" while doing pipelining with dynomite"
I am trying to benchmark dynomite pipelining. I have set up two dynomite nodes at different data centers(cross data center replication). Without pipelining, everything works well.
Benchmarking pipelining at dc1 dynomite:
`redis-benchmark -p 8102 -n 1000000 -t set,get -P 10 -q`
output:
`Error: Server closed the connection`
dynomite(dc1) logs:
[code]

dynomite(dc2) logs:
[code]
**I have set mbuf_siz

[2017-09-25 14:56] #481 closed, assigned to nobody

[2017-09-25 17:21] daflip commented on #476
FWIW the 'disable flush'  branch fixes the issue I'm having. Is this branch safe to use ? comparing v0.5.8 it seems the flushing stuff inside core_loop of dyn_core.c was added in v0.5.9 and this is what's causing the issue

[2017-09-25 17:31] shailesh33 commented on #476
Thanks Jerry. I am going to issue a fix to merge disable flush in v0.5.9
since there were a few people who complained about it. I do not have the
bandwidth to take a stab at it. I will make a new release on v0.5.9

On Mon, Sep 25, 2017 at 10:21 AM, Jerry Walsh <notifications@github.com>
wrote:

[2017-09-25 17:45] daflip commented on #480
FWIW the disable flush branch actually fixes this issue too.. that flushing code which was added to core_loop inside dyn_core.c is buggy **for sure**!

The disable flush branch also fixes issues for me whereby I experienced connection hangs when requesting keys which contained larger amounts of data (>16KB) - the server would simply stop sending the full contents of the key and so the client would

[2017-09-25 17:54] shailesh33 commented on #480
Let me grab your php script. Why are you connecting to 8101? is that the port you listen to?

[2017-09-25 18:16] daflip commented on #476
Thank you! If there's anything I can help with let me know

[2017-09-25 18:19] daflip commented on #480
haha yes that's the port I'm using -  sorry, that's a little confusing!  I started off using a config I found somewhere and which had the ports swapped around so my listen port is 8101 rather than 8102 :D

[2017-09-25 18:25] shailesh33 commented on #480
I am trying to get that PHP script running, for me, it starts with installing PHP. Traditionally new installations are never a breeze for me, so struggling with this "class Redis not found"

[2017-09-25 18:36] daflip commented on #480
what OS are you using ? if you're using ubuntu or debian then install the php-redis package -- it's a php redis extension which is required for redis comms.

[2017-09-25 18:37] daflip commented on #480
https://github.com/phpredis/phpredis#installingconfiguring

[2017-09-25 18:45] shailesh33 commented on #480
tried that. Still, it fails with class Redis not found. I might rewrite the script in python

[2017-09-25 18:58] shailesh33 commented on #480
ok. I have it all set. So you are seeing the script hang? for me, it goes all the way down to 400384 and then finishes. You mentioned about Redis and Dynomite being on the same node or not. what is the case with you?

[2017-09-25 19:06] daflip commented on #480
I experienced two issues. One was for larger values stored in keys the connection would hang when trying to read it remotely. The other issue was my script above which wrote random data to a key and then verified it was retrieved & written correctly would throw a read connection error and then the dynomite instance would hang.

Both of these issues are solved by using the disable flush branch !

[2017-09-25 19:10] shailesh33 commented on #480
hmm. ok. Can you grab the latest from v0.5.9, I have merged the disable_flush branch.

[2017-09-25 19:39] daflip commented on #480
the latest v0.5.9 fixes it

[2017-09-26 13:33] #480 closed, assigned to nobody

[2017-09-26 13:33] #476 closed, assigned to nobody

[2017-09-28 06:30] Joseph-R commented on #482
Hey @shailesh33 - Appreciate the questions, and sorry for the late response.  I have been OOO this week.

Pretty sure that was log level 9, but I will wipe the logs and try to provide an example here tracing one specific message id through.

[2017-09-28 07:58] codophobia opened #487 "Replication in dynomite not reliable"
I have not read anything regarding reliability in replicating data between nodes. I have tried setting up cross data center replication with redis by using dynomite as the proxy. At each data center, I have a single instance of redis in one rack.

I try inserting up some random keys at one dc and then check if the keys have replicated successfully to the other dc. I see a huge difference in number

[2017-09-30 12:57] ipapapa commented on #487
We generally have not observed any inconsistencies under different benchmarking scenarios and payloads. Inconsistencies appear usually in the case of external factors but there might a bug we need to fix. I suggest you take a look at the logs and see what is causing the issue above. For the `mbuf_size` I do not feel there is a reason to go that high. You could use something related to your payload

[2017-09-30 13:03] ipapapa commented on #484
Similarly to #487 I think you should decrease the `mbuf_size` The max_msgs is how many messages Dynomite is buffering. Once an upper limit has been reached Dynomite stops accepting further writes. This is done so that Dynomite is capped on how memory it is taking. Our production systems are usually set to 500000 but it depends on the instance type. Check the [launch_dynomite](https://github.com/Ne

[2017-10-02 21:59] Joseph-R commented on #482
Wiped log files and set up a new session, bumping the log level up to 11.

[code]

Entire log file from new session (one host): [dynomite_log_export.txt](https://github.com/Netflix/dynomite/files/1350510/dynomite_log_export.txt)

[2017-10-05 08:07] KowalczykBartek commented on #482
@Joseph-R are you able to reproduce this problem locally ? can you provide us all of 4 dynomite.yml configuration files ?

[2017-10-06 11:15] codophobia commented on #487
@ipapapa
I am providing the logs of both the data centers.
dc1 logs(where I am writing to dynomite)
[code]

dc2 logs(where replication is happening during benchmarking)

[```
2017-10-06 11:12:01.595] msg_put:585 Not freeing req 1464970, awaiting_rsps = 1
[2017-10-06 11:12:01.595] msg_put:585 Not freeing req 1464971, awaiting_rsps = 1
[2017-10-06 11:12:01.595] msg_put:585 Not freeing req 1464972, a

[2017-10-06 20:11] Joseph-R commented on #482
@KowalczykBartek - Please see the 4 dynomite.yml config files, attached.

[10-10-7-135.dynomite.yml.txt](https://github.com/Netflix/dynomite/files/1363792/10-10-7-135.dynomite.yml.txt)
[10-10-2-187.dynomite.yml.txt](https://github.com/Netflix/dynomite/files/1363793/10-10-2-187.dynomite.yml.txt)
[10-10-2-87.dynomite.yml.txt](https://github.com/Netflix/dynomite/files/1363794/10-10-2-87.dynomite.yml.

[2017-10-08 07:51] drewbeer commented on #482
so i just went though a full upgrade to 0.5.9 to see if it would solve the proxy close issue for me, however it created this issue. after a bunch of troubleshooting. I determined i had two issues, one replication was broken, and two, if any node was not using 0 as the starting token, it gave me

[code]

after i reverted back, the error went away.  maybe that will help.

[2017-11-01 10:54] metal3d opened #492 "Select "index" breaks connection on Redis"
Hi,
We created https://github.com/Smile-SA/dagota that makes easy to setup a Statefulset on Kubernetes and OpenShift. It works as expected.

But as soon as we tried to use it with some clients (PHP frameworks, Go, Bash) a problem appears when some modules, extension or addons want to use several databases using "select <index>" where <index> is an integer.

We're not sure about why Dynomite cannot

[2017-11-01 17:25] shailesh33 commented on #487
@codophobia  What version are you using? May be you can try with a smaller number of operations first and then gradually increase your set?
There is one important thing here, redis-benchmark is meant to hit the server at the maximum speed possible. Dynomite will respond as soon as the local node/rack is done. The replication is asynchronous. So maybe the replication is lagging behind when you try,

[2017-11-01 17:51] shailesh33 commented on #484
Other than what @ipapapa mentioned, like I told you in the other issue #487, redis-benchmark will hammer Dynomite with max requests but the replication can be lagging behind. Dynomite tends to start failing requests as a means of admission control. Hope this helps. Please look at https://github.com/Netflix/ndbench the benchmarking project that we use to do load testing on Dynomite and many other p

[2017-11-01 17:51] shailesh33 commented on #484
Please reopen if you have a follow up.

[2017-11-01 17:51] #484 closed, assigned to nobody

[2017-11-01 17:57] shailesh33 commented on #487
@codophobia let me know if there is any followup. See if redis-benchmark has a cap on the load and gradually increase it.

[2017-11-01 17:57] #487 closed, assigned to nobody

[2017-11-01 17:58] shailesh33 commented on #492
Yes we do not have multiple DB support. But we are open to ideas and contributions.

[2017-11-01 18:00] shailesh33 commented on #473
@scutpalmer please reopen the issue if you have further questions. Thank you @timiblossom for your help. You are the best!

[2017-11-01 18:00] #473 closed, assigned to timiblossom

[2017-11-01 18:01] shailesh33 commented on #471
@KowalczykBartek @maryoush Any further steps on this?

[2017-11-01 18:58] KowalczykBartek commented on #471
Hi ! I forgot to mention, seems that in newest build this doesn't appear :) We didn't test this on production I just made couple of tests on my computer - I don't know if it can be open - or if we can close this and eventually re-open ?

Thanks !

[2017-11-01 19:37] shailesh33 commented on #471
I am interested in knowing which newest build is this? I know I fixed a decryption bug on the latest code.

[2017-11-01 21:16] Joseph-R commented on #482
`and two, if any node was not using 0 as the starting token, it gave me (error) ERR Peer: Unknown error -1`

`after i reverted back, the error went away. maybe that will help.`

@drewbeer - So you fixed the issue by reverting back to an earlier version of Dynomite?

[2017-11-01 22:06] Joseph-R commented on #482
Still seeing this issue after wiping out the original test cluster and deploying a new cluster with the `dynomite-v0.5.9-4_DecryptionCrash`.

**Versions:**
[code]

**Redis-cli output (4-node cluster, behind ELB on AWS):**
[code]

**Further documentation:**
*  *[dynomite.yml(s)](https://gist.github.com/Joseph-R/cebaf1757e3c3219ae2b5072ba19a59d)*
*  *[output of a cluster-describe](https://gist.githu

[2017-11-02 00:50] metal3d commented on #492
Ok, so it's not a problem from our project :)

I didn't checked how you proxify redis command to the redis server, but I wonder why it is not possible. AFAIK this is only a command to send to redis server to say "hey, I'm writing to that db" for a certain transaction.

I probably need to read source code of Dynomite and try to integrate that, but it's not easy...

Any particular part of source cod

[2017-11-02 17:20] shailesh33 commented on #482
@Joseph-R  So to confirm, this worked with ```dynomite-v0.5.9-2_ProxyCloseFix``` and not working with ```dynomite-v0.5.9-4_DecryptionCrash``` ?

[2017-11-02 21:05] Joseph-R commented on #482
@shailesh33 - I wish.  Unfortunately no, we haven't been able to get either `dynomite-v0.5.9-2_ProxyCloseFix` or `dynomite-v0.5.9-4_DecryptionCrash` to work for us.

[2017-11-02 21:31] shailesh33 commented on #482
I tried to reproduce the issue but it is not helping. I created a single rack cluster with 2 nodes with the two token 0 & 2147483647. It seems straightforward to reproduce. I am using the dev branch.

Can you do this, take one of the dynomite nodes, keep log level 9 and then use redis-cli to run those commands that you saw failing. you should see logs like these:

[code]

heres how I interpret the

[2017-11-07 18:52] shailesh33 commented on #492
The problem would be that we have to make sure that we correctly, precisely and guaranteed-ly change the DB context of the underlying Redis datastore. Other than that, it is not really a big change. One has to consider which is the current DB selected and if it is different, insert a "Select <>" statement in the queue of messages to the Redis server (and of course peers). This is not just local Re

[2017-11-08 11:02] metal3d commented on #492
Ok, I took a look on source code and I now understand what does Dynomite.
What you say is clear, thanks for your answer.

So, as now I undernstand, Dynomite doesn't only make a "proxy" but you treat requests.

Sadly, I'm not good enough in C to help or propose PR. But AFAIK there are so many clients that need to select different db (and that make "select 0" by default, that breaks dynomite connect

[2017-11-10 19:48] wkruse commented on #477
The compile error is related to #414, change `libssl-dev` (OpenSSL **1.1.x**) to `libssl1.0-dev` (OpenSSL **1.0.x**).

[2017-11-14 11:00] wkruse opened #496 "Unresponsive REST API"
I was toying around with the REST API and noticed reproducible unresponsiveness from the endpoint by just calling `/ping` and then `/help` repeatably.

[code]

The logs, when this happens

[code]

[code]

[2017-11-19 09:13] UladzimirTrehubenka opened #500 "Dev branch build broken on Alpine 3.6"
Musl does not support glibc’s custom format specifier registration system:
```log_register_custom_specifier('M', print_obj, print_obj_arginfo);```
Not so clear why has been made decision to use glibc specific feature for dev branch that breaks compatibility with musl. There are no rocket science to implement log functions without using custom specifier %M - BTW master branch has no %M and works fi

[2017-11-19 09:25] UladzimirTrehubenka opened #501 "Support DYNOMITE_DNS_A_NAME env var for case dyn_seed_provider: dns_provider"
ATM Dynomite supports DYNOMITE_DNS_TXT_NAME only.
Would be useful to add support DYNOMITE_DNS_A_NAME that allows to use dynomite + redis Docker image as node in Kubernetes.
NOTE: Kubernetes uses kube-dns or CoreDNS as service discovery and operates with DNS type A records.

[2017-11-19 21:11] shailesh33 commented on #500
I am open to ideas to not use %M. Please educate me.

On Sun, Nov 19, 2017 at 1:13 AM Uladzimir Trehubenka <
notifications@github.com> wrote:

[2017-11-20 09:51] UladzimirTrehubenka commented on #500
Approach #1 - revert back log_info(), log_debug() etc from master branch (and remove printf.h dependency).
For example:
```log_error("%M Failed to add %M to event loop: %s", p, c, strerror(errno));```
transformed into:
```log_error("%s %d Failed to add %s %d to event loop: %s", conn_get_type_string(p), p->sd, conn_get_type_string(c), c->sd, strerror(errno));```

Approach #2 - implement function to

[2017-11-20 14:27] syberkitten opened #502 "Documentation YML conf files not found (404)"
The YAML configuration files described here as (examples) are missing:
https://github.com/Netflix/dynomite/wiki/Getting+Started#a-one-node-cluster

https://github.com/Netflix/dynomite/wiki/Getting+Started#b-two-nodes-cluster-in-one-datacenter-with-2-racks

https://github.com/Netflix/dynomite/wiki/Getting+Started#d-6-node-cluster-in-one-datacenter-with-3-racks-each-having-2-nodes

[2017-11-20 14:28] syberkitten commented on #502
How can i see proper examples of connecting between two data centers?

[2017-11-20 19:02] ipapapa commented on #502
This one shows two DCs: https://github.com/Netflix/dynomite/blob/dev/conf/redis_dc1.yml All conf files can be found: https://github.com/Netflix/dynomite/tree/dev/conf

[2017-11-20 19:07] ipapapa commented on #502
I also fixed the links in the wiki. If you have any more questions please do not hesitate to reach out.

[2017-11-20 19:07] #502 closed, assigned to nobody

[2017-11-21 10:21] syberkitten opened #503 "Questions regarding undocumented YML properties and terminology"
Thanks for fixing the documentation links to the cluster conf samples.

in this conf (https://github.com/Netflix/dynomite/blob/dev/conf/redis_dc1.yml)
the following three properties are not documented in the README.md
and they do not appear in all conf files.

[code]
I also saw configurations that have:
[code]

Also, trying to figure out how to run dynomite:
lets say this is my configuration:
[htt

[2017-11-21 11:59] ADenisUA opened #504 "Dynomite server crashes in Memcached mode"
When I start dynomite (I'm using code from v0.6 branch) it often fails (50% of the time) with:

`[2017-11-20 12:57:52.619] conf_push_scalar:541 push 'memcached-4:8101:memcached-rack2:dc2:4294967294' [2017-11-20 12:57:52.620] conf_handler:1291 conf handler on dyn_seeds: memcached-4:8101:memcached-rack2:dc2:4294967294 [2017-11-20 12:57:52.622] _dn_alloc:259 malloc(24) at 0x1c53e30 @ ../dyn_array.c:6

[2017-11-21 12:03] syberkitten opened #505 "Unable to connect to a single node"
I'm trying to have a one node / 1 rack dynomite cluster setup:
[code]

but I'm getting these logs with errors:
ps. when  providing a valid .pem file (with full path) I get this error
which is already documented here:
https://github.com/Netflix/dynomite/issues/96

[code]

[2017-11-21 12:04] syberkitten commented on #505
The above conf has one Redis instance running on port: 11371 (using docker)
Dynomite is compiled on Ubuntu 14.04 LTS.

[2017-11-21 16:12] syberkitten commented on #505
The mistake was providing a ```dyn_seed``` value while I was only running one node.
in such case, it is not necessary.

[2017-11-21 16:13] #505 closed, assigned to nobody

[2017-11-22 07:33] tinoji opened #507 "What is the best practice to add nodes and rebalance data without dyno?"
I want to scale out/in the rack and read issues: #69, #173, #116, #357 etc.
#357 says the "dual write" is available by client side (dyno), but I don't use dyno. Are there any other ways to perform dual write?

Or need to redis dump and restore manually? In that case, data may needs to be rebalanced in the new rack. Can gossip mode and dynomite manager(#69) reallocate tokens and rebalance data dyna

[2017-11-23 14:18] ipapapa commented on #507
Yes, you can take a Redis dump and restore it manually. You can even create a new cluster with twice the capacity and set the new nodes in Redis master-slave (2 slave nodes to 1 master node). Once the data are in sync, you can switch the traffic and start deleting the non-usable data with a background script (script checks the tokens and if the key does not belong to the node it deletes it). Alter

[2017-11-24 10:27] mitsus opened #508 "Configure Unix socket for Dynomite"
Hi,
before using Dynomite i configured Redis for listen incoming connections using Unix Sockets in this mode:
`
unixsocket "/var/run/redis_6380.sock"
unixsocketperm 755`

Is it possible to do this with Dynomite? So is possible to listed dynomite using also Unix Sockets?
Thanks and Best regards

[2017-11-24 11:36] mitsus opened #509 "Dynomite first istance on second server cash"
Hi,
below the log of crashed server:

`
[2017-11-24 05:58:30.555] server_close:269 close <CONN_SERVER 0x1778ee0 8 to '127.0.0.1:7380:1'> Dropped 224 outqueue & 20076 inqueue requests
[2017-11-24 05:58:30.555] event_del_conn:234 epoll ctl on e 7 sd 8 failed: No such file or directory
[2017-11-24 05:58:30.555] conn_pool_notify_conn_close:170 <CONN_POOL 0x1778e60 active_conn:1 in array 1 max 1> Remov

[2017-11-24 14:56] mitsus commented on #509
Another crash now:

`
[2017-11-24 09:29:10.365] _msg_get:310 allocated #msgs 200000 hit max allowable limit
[2017-11-24 09:29:10.405] dn_stacktrace:326 [0] /lib64/libpthread.so.0(+0xf370) [0x7fa9ab2a7370]
[2017-11-24 09:29:10.409] dn_stacktrace:331 system command did not succeed to print filename
[2017-11-24 09:29:10.409] dn_stacktrace:326 [1] dynomite(req_forward_error+0xaf) [0x40e0d1]
[2017-11-2

[2017-11-25 15:28] tinoji commented on #507
You mean I can realize it by only 2 steps?:
1. create a new cluster and start it with enabling gossip.
1. make the new nodes slaves by redis-cli.

[2017-11-25 17:56] shailesh33 commented on #509
@mitsus Sorry for the delayed response, I am on vacation. What branch are you using? Please use latest release branches like v0.5.9 or v0.6 etc Are you using Memcache as the datastore? what is the command you are using?

[2017-11-25 17:57] shailesh33 commented on #508
yes you can. Please use the appropriate path in the servers list.
Also use v0.6 branch or tag v0.6.0.
Please let me know if you see issues with Unix usage

[2017-11-25 18:25] shailesh33 commented on #504
Try to create different issues for different crashes.
For the first one, it complains that the syntax for the file is invalid, can you post your conf file for that node?
For the second case, this could be a bug since that is part of the code that I changed recently and we do not use memcache actively internally so may be few things slipped through the crack. Can you please try if v0.5.9 works for

[2017-11-26 08:51] ADenisUA commented on #504
For the first issue - I've mentioned my config above:

dyn_o_mite:
datacenter: dc2
dyn_listen: 0.0.0.0:8101
dyn_port: 8101
dyn_seed_provider: simple_provider
dyn_seeds:

memcached-4:8101:memcached-rack2:dc2:4294967294
listen: 0.0.0.0:8102
rack: memcached-rack2
servers:
127.0.0.1:11211:1
timeout: 150000
tokens: 2147483647
data_store: 1

dyn_o_mite:
datacenter: dc2
dyn_listen: 0.0.0.0:8101
dyn_port:

[2017-11-27 09:12] mitsus commented on #509
Hi @shailesh33 ,
thank you for reply. I use branch dynomite-v0.6.0-31-g4dbc252 built. I use Redis as datastore.
For commands i run only LPUSH and RPOP with massive frequency.
Thanks

[2017-12-01 17:50] Fededon13 commented on #367
Hi @GarageDeveloper , did you could to package and include into Debian?
Thanks in advance!

[2017-12-04 12:19] shunanya opened #510 "Dynomite doesn't compile with OpenSSL 1.1"
Hi,

Unfortunately, Dynomite (0.6.x) couldn't be establishing due to compilation error () on my Debian GNU/Linux 8 (jessie) with OpenSSL 1.1.0g.
[code]
The same picture was detected by using previous versions of Dynomit (0.5.8 and less).
The compilation error has disappeared when I did downgrade OpenSSL up to version 1.0.2.
I hope this mistake can be corrected quite soon.
Simon

[2017-12-05 23:41] shailesh33 commented on #508
@mitsus any update?

[2017-12-06 01:06] srikanthm-1 opened #511 "Support for ZRANGEBYLEX command in SortedSet."
Hi
Is there a plan to support ZRANGEBYLEX and ZREVRANGEBYLEX command in SortedSet? I am not able to find any specific concerns regarding this command (like the operation spanning across multiple server etc.) which would cause Dynomite to fail here.

[2017-12-06 01:11] shailesh33 commented on #511
Seriously, no reason for not adding. Do you want to create a PR?

[2017-12-06 01:13] shailesh33 commented on #478
It tries to put a limit on the outstanding messages to be sent to a peer. If you are getting this, mostly the storage is slow or you are pumping too much queries to the cluster. In such case we recommend scaling the cluster appropriately.

[2017-12-06 01:13] #478 closed, assigned to nobody

[2017-12-06 01:25] srikanthm-1 commented on #511
Cool! Yeah, I can create a PR.
Thanks!

[2017-12-06 13:41] mitsus commented on #508
Hi @shailesh33 ,
I tried to found the appropriate path in the server list but I did not succeed. In redis I configure it into conf file...with dynomite?
Thanks

[2017-12-06 13:45] mitsus opened #512 "redic-cli monitor doesn't work"
Hi all,
if I try to launch in redis-cli (on dynomite port) "monitor" command it doesn't work and it exit from redis-cli.
Why? How can i do for start "monitor" command?
`
#redis-cli -p 9379
127.0.0.1:9379> monitor
#
`

[2017-12-06 16:05] shailesh33 commented on #512
You cannot. Monitor command is not supported by Dynomite

On Wed, Dec 6, 2017 at 5:45 AM, mitsus <notifications@github.com> wrote:

[2017-12-06 16:06] shailesh33 commented on #508
with Dynomite also you need to tell that exact path in the servers's
configuration section in the conf for Dynomite.

On Wed, Dec 6, 2017 at 5:42 AM, mitsus <notifications@github.com> wrote:

[2017-12-06 22:41] srikanthm-1 commented on #511
Hey! Thanks for merging the [PR](https://github.com/Netflix/dynomite/pull/513). Any idea when this would be merged in to master branch?
Also, I am submitting another PR to support these operations in the DynoJedisClient. Hope thats okay.

[2017-12-06 22:51] shailesh33 commented on #511
yes completely ok. Really appreciate all Open source contributions.
For Dynomite we have taken the approach of branch per version. The latest we are running in prod is the v0.5.9 branch. The next we are targetting to upgrade to is v0.6.

[2017-12-06 23:51] shailesh33 commented on #509
What is massive frequency? It seems you are pushing way more than the server can handle. No doubt that it shouldnt crash. That is why I asked you to move to the latest. Please scale your deployment accordingly.

[2017-12-06 23:54] shailesh33 commented on #500
I am curious how will this work. This is overloading/polymorphism. How does this work in C

[2017-12-07 10:40] UladzimirTrehubenka commented on #500
My bad (this is C not C++) - so another one approach (actually you have separate print function for each object - so just need rewrite it to return string instead write to stream)

**dyn_types.c**
[code]
replaced with
[code]
**dyn_message.c**
[code]
replaced with

[code]
**dyn_client.c**
[code]
replaced with
[code]

[2017-12-07 17:48] srikanthm-1 commented on #511
Thanks! I am currently using the v0.6 branch actually. Will these changes be available in the next version or be merged in to v0.6?

[2017-12-07 17:59] shailesh33 commented on #512
Please reopen if you have further questions

[2017-12-07 17:59] #512 closed, assigned to nobody

[2017-12-07 17:59] shailesh33 commented on #511
I have created a new pre-release on v0.6 with tag v0.6.2. Please use that
branch and let me know if you see any issues.

On Thu, Dec 7, 2017 at 9:48 AM, srikanthm-1 <notifications@github.com>
wrote:

[2017-12-07 17:59] #511 closed, assigned to nobody

[2017-12-07 18:01] shailesh33 commented on #509
Reach out if you have further questions. Typically this seems like scaling issue and you need to deploy your cluster corrrectly.

[2017-12-07 18:01] #509 closed, assigned to nobody

[2017-12-12 03:53] shailesh33 commented on #500
I am worried about the bloating of structure size this will cause. Is there any other way you can suggest? The current approach is very code-friendly and would hate to see it go.

[2017-12-12 03:56] shailesh33 commented on #504
let me know once you tried 0.5.9

[2017-12-12 09:30] ADenisUA commented on #504
Same problem with 0.5.9

[2017-12-12 13:35] UladzimirTrehubenka commented on #500
You could use pointer (and malloc) instead array to avoid growing structure size.

[2017-12-13 14:18] UladzimirTrehubenka commented on #500
Created https://github.com/Netflix/dynomite/pull/514

[2017-12-16 11:40] UladzimirTrehubenka commented on #500
Created https://github.com/Netflix/dynomite/pull/515 - Back port logging from dev to v0.5.9

[2017-12-16 11:54] UladzimirTrehubenka commented on #501
Created https://github.com/Netflix/dynomite/pull/516

[2017-12-25 02:43] mcouillard opened #517 "Question: redis not replicating "removing conn ... from active""
This project sounds perfect for my 2 server, 2 datacenter situation. Each DC would have 2 racks of 1 node each (no sharding). But I can't get replication to work on a new install. I add keys to either node and they don't show up on the other.

- CentOS 7, selinux off, VMs in 1 in-house private datacenter, iptables off
- Fresh redis instances, 3.2.11, port 6380. Direct usage proven OK.
- redis-cli

[2017-12-26 10:29] sobkovych commented on #508
Hi @shailesh33 ,
I suppose the question was if Dynomite able to use Unix socket as "listen" parameter for client connections (instead of TCP connection on port 8102). As result, if Redis also configured to use Unix Domain socket, the connection chain will look like:
  `client <--(Unix socket)--> Dynomite <--(Unix socket)--> Redis`
Regards

[2017-12-27 19:02] shailesh33 commented on #508
I believe it should work. have you given it a try? What is the use case that you will have dynomite on unix port? I believe the gossip portion will need to change.

[2017-12-27 19:22] shailesh33 commented on #517
In my opinion, the yml file looks fine to me. The ```removing from active``` indicatest that this node does not have any outgoing data to that peer.
Now at this level, when you do any redis-cli command, do you use 8102 or 6380? The later is talking directly to redis (no replication). Check with 8102, and see what you see in the logs at that time.

[2017-12-27 21:52] mcouillard commented on #517
That's exactly the kind of easy solution I was hoping for! Haha, thank you very much.

Now that I'm connecting to the dynomite listen port, 8102, and making changes to data using that redis-cli console, changes are correctly replicated when viewed from the other host on 8102. And when viewing data using the internal redis port, 6380, I see replicated changes on both hosts correctly.

OK to close!

[2017-12-27 23:01] #517 closed, assigned to nobody

[2017-12-28 12:37] UladzimirTrehubenka commented on #501
Could someone provide any feedback?

[2017-12-29 01:00] srikanthm-1 opened #518 "Quorum Reads not working for Redis Hash"
Hi,
I am using v0.6.2 and in that version I am not seeing quorum reads working for redis Hash. My setup is a single DC, 3 racks with consistency set to dc_quorum for both reads and writes to all the nodes.

Assuming the Dynomite instances are D1, D2, D3 backed by redis instance R1, R2 and R3 respectively, rhis is how I am reproducing the issue..
I am adding a Hash directly to redis instance R2 and

[2018-01-02 14:23] sobkovych commented on #508
@shailesh33
You're right, unix sockets work in both cases I mentioned in my previous comment! Thanks!

[2018-01-02 22:18] #508 closed, assigned to nobody

[2018-01-02 22:25] shailesh33 commented on #518
hmm. Heres the reason:
https://github.com/Netflix/dynomite/blob/0c87f1411ecfdba03c387ae85476ee45ac572538/src/proto/dyn_redis.c#L1025

It seems we are forcing to get the request from local rack only. From what I remember, we did this change because the order of elements in the Hash could be different on different nodes. Or better, they could have some elements missing because of delayed replication

[2018-01-02 23:02] shailesh33 commented on #500
Good to close?

[2018-01-02 23:12] shailesh33 commented on #496
Works for me on v0.6 branch and v0.5.9 branch.

[2018-01-02 23:12] shailesh33 commented on #496
please reopen if you still see issues

[2018-01-02 23:12] #496 closed, assigned to nobody

[2018-01-03 10:35] UladzimirTrehubenka commented on #500
I am Ok, you can close the issue.

[2018-01-03 16:42] #500 closed, assigned to nobody

[2018-01-04 08:51] GarageDeveloper commented on #367
Hi @Fededon13,
sorry for the lag and best wishes :)
I had rapidly a working package and was in contact with people able to upload to Debian. However, to get an acceptable package, I need to work on the copyright things to comply with debian policy. That's where I was when I stopped working on it.
So, in short: yes and no, lack of time.
The first thing that needs to be done is to remove external so

[2018-01-04 17:55] srikanthm-1 commented on #518
Yes, thats true, can Dynomite be smarter in these scenarios by performing individual KV comparison? I understand there will be a performance dent, but I think the benefits outweigh it.

If its due to delayed replication, then the quorum read failing should be the right behavior right? Also, AFAIK simultaneous access shouldn't cause partial response since redis is single threaded and a put on a Map

[2018-01-05 14:12] ashish235 opened #519 "Drop-in replacement for Redis."
Hi Team,

Sorry for asking such a noob question. I 'm actually in a hurry and need some urgent answer to fix some production issues caused due to geographical separation of my redis nodes. My setup has redis along with sentinels, a typical master slave architecture.

Now I want to put dynomite instead of sentinel to manage the redis servers, so do I need any changes in my application? My applicati

[2018-01-05 15:48] voron opened #520 "Keyspace notifications support"
Does Dynomite support Redis Keyspace Notifications https://redis.io/topics/notifications ? I tried to use Spring Session +Jedis with Dynomite, but it disconnects with `JedisConnectionException: Unexpected end of stream.`.  Here is Dynomite tcpflow https://pastebin.com/raw/eXHhYdTa , and Redis tcpflow https://pastebin.com/raw/QLxwVhVu , 192.168.1.113 is client IP

[2018-01-05 16:05] voron commented on #520
Found per notes/redis.md that PSUBSCRIBE isn't supported

[2018-01-05 17:36] shailesh33 commented on #520
thats right. Spring uses subscribe and Dynomite doesnt support that for obvious reasons.

[2018-01-05 17:36] #520 closed, assigned to nobody

[2018-01-05 17:39] shailesh33 commented on #519
You can still use your existing code to talk to "A Dynomite Node". Dynomite will forward the request to other nodes appropriately but you have to understand that when a node fails, the client should failover to another node. You will also have to design the topology, for example how many data centers, replicas etc. Dynomite doesnt auto scale yet, so its a good idea to pre-scale with growth in mind

[2018-01-06 19:29] ashish235 commented on #519
@shailesh33 , thanks for the reply. I did setup a scenario of 2 data centers for experiments, each having 1 node. Now the replication works both ways. When I create a n/w partition among these nodes, I did some random writes on both the sites and when the n/w partition is removed none of writes done to either of the sites is not getting replicated. So basically I 've a data mismatch. So the async

[2018-01-08 15:43] woutd commented on #510
Hello

I made the following changes to make it compile on Debian 9 (stretch) with OpenSSL 1.1.0f. **Have not tested anything else though.**

[code]

[2018-01-08 17:59] shailesh33 commented on #510
Thank you  @woutd. Appreciate your efforts here. One of the primary requirement for a change like this is backward compatibility to make sure the new binary and old binary can still work with each other. The reason being we do in place upgrades of one node at a time so it should work in a heterogenous Dynomite version environment.

[2018-01-09 09:32] woutd commented on #510
I am only starting to experiment with Dynomite. My test setup will include one instance running Debian 7.11 (wheezy) with OpenSSL 1.0.1t. In case I run into issues with the above patch, I will let you know.

[2018-01-16 18:40] whoiswes commented on #504
I can replicate the above crash WITHOUT replication on Dynomite 0.6.4.

0.5.9-5 does not crash without replication, however results are returned sporadically from memcache (set calls are sent to memcache, but subsequent gets fail).  I can also reproduce the crash in 0.5.9-5 with replication/seeding enabled.

The same configs with redis work fine on all versions.

Let me know if I can provide any i

[2018-01-16 19:12] fozboz commented on #456
@shailesh33 should this issue be fixed? I am getting the same `parsed unsupported command 'COMMAND'` error when using redis-cli.

I'm unable to issue in-line commands to redis. E.g. `redis-cli -h 192.168.1.1 -p 8102 set foo "bar"` returns `Error: Server closed the connection`.

However, if I use `redis-cli -h 192.168.1.1 -p 8102` I get the CLI prompt and can issue any commands and it works fine, b

[2018-01-16 22:42] shailesh33 commented on #456
@fozboz yes I am able to see the issue. I presumed the fix is a 5 line code which is, but I think the redis response parser is unable to parse the multi bulk response properly. I will try to give it a stab.

[2018-01-16 23:49] shailesh33 commented on #456
@fozboz It seems the response parser is not done properly, It fails with multilevel array responses.
Fixing this is some good amount of work. Is this something critical for you and if you can give it a shot?

[2018-01-16 23:51] shailesh33 commented on #519
You got it correct. Systems like these depend on some reconciliation/repair process to sync up data.  We had a process internally that we started working but it is not PROD ready. The idea is basically to pull the data from mutliple nodes, compare and update the nodes so they are in sync. Hope this helps.

[2018-01-16 23:57] shailesh33 commented on #504
@whoiswes Dynomite at netflix has been prominently used with redis as data store so the memcache support might have been broken recently. We use EVCache for Memcache at Netflix. Have a look https://github.com/Netflix/EVCache. I will try and fix this. Any reason you prefer Memcache over Redis?

[2018-01-17 01:34] whoiswes commented on #504
@shailesh33 - thanks for the note on EVCache.  I don't think that fits our use case but will look more as time permits.  We are currently using memcache with twemproxy/nutcracker as a frontend (not that I prefer it over redis, it's legacy code and politics 😉 ) - since dynomite supports (or used to, anyway) memcache, we were hoping it would be close to a drop-in replacement for twemproxy that would

[2018-01-17 20:32] hiagohubert opened #523 "Return of DEL operation in redis"
Hello guys, I don't know if this is a problem with dynomite implementation or with the redis python package.

When I delete a key from redis it returns 1 and when I delete a key in dynomite it returns Null. So when using redis python package with the dynomite it throws a TypeError exception because it is expecting the return to be 1 instead of Null.

[2018-01-18 03:21] mcouillard commented on #523
Odd. I'm unable to duplicate using redis-cli and the local redis port (6379) vs dynamite port (8102). Both return 1 on del key.

I'm using the dev branch as of the Dec 18 commit. How about you?

[2018-01-18 13:58] axelfauvel commented on #519
Hello @shailesh33 : Do you plan to release the reconciliation tool someday ?

[2018-01-18 16:26] fozboz commented on #456
@shailesh33 not a big issue with us as we're going to use it as a back-end for Conductor. Can you point me in the direction of where I might start to try and fix this? Would it be something in dynomite/src/proto/dyn_redis.c ?

[2018-01-18 22:05] shailesh33 commented on #456
yes that is the place to start. Start with parse_rsp.
essentially, the parser starts will, it understands the multibulk response, and reads the number of elements well, then it starts to read the first element, which again is a multibulk response, and starts its "number of elements" and overwrites the previously read value and everything falls apart.

Essentially it should understand that it is re

[2018-01-18 22:06] shailesh33 commented on #456
@fozboz if you are excited enough to rewrite the entire parser I will not stop you :)

[2018-01-18 22:23] shailesh33 commented on #519
@ipapapa ^^

[2018-01-19 01:08] ipapapa commented on #519
@axelfauvel It will take significant effort to release it. It also depends on external components like Spark. All Dynomite nodes send the data to a Spark cluster. The cluster finds the entropy and sends back the data with the newest timestamp. To be honest, it is not my favorite solution because it can be affected by clock skewness and requires a fork of Redis to keep timestamps, so I would prefer

[2018-01-19 07:50] axelfauvel commented on #519
Thanks @ipapapa & @shailesh33 for the heads up and for all the work you've done :)

We're planning to use Dynomite to setup a multi-datacenter PHP session service. In our usecase, we won't have a very heavy load nor data volume. We plan to use the following architecture :
* 3 DC
* 3 racks per DC
* 1 node per rack
* Each node seeds all cluster node **OR** each node seeds all DC nodes plus 1 node in

[2018-01-20 01:34] ipapapa commented on #507
This should be probably contain some information: https://github.com/Netflix/dynomite-manager/wiki/Cold-Bootstraping

[2018-01-20 01:35] ipapapa commented on #504
I believe there are a few changes in the [nc_memcache.c](https://github.com/twitter/twemproxy/blob/master/src/proto/nc_memcache.c) that have not ported in [dyn_memcache.c](https://github.com/Netflix/dynomite/blob/dev/src/proto/dyn_memcache.c). I would start with that first if you interested in contributing. There have been similar issues reported #220. There was a [branch](https://github.com/Netfl

[2018-01-20 01:41] #429 closed

[2018-01-20 01:41] #433 closed

[2018-01-20 01:43] ipapapa commented on #519
Just to clarify we do have a warm-up tool: https://github.com/Netflix/dynomite-manager/wiki/Cold-Bootstraping It has battle-tested for more than two years in production. This is effectively the first level of reconciliation. Hence we are covering the node terminations.

[2018-01-24 01:36] tinoji commented on #507
Thanks. You can close this issue.

[2018-01-24 02:26] #507 closed, assigned to nobody

[2018-01-25 07:01] shunanya opened #526 "INFO command is working partially"
Hi,

I use the latest version of Dynomite (v0.6.0-1-gfdf19a5) with local Redis (v4.0.2) engine.
The 'info' command (without any section) is working properly.
[code]

But when any section is specified the connection is crushed.
[code]

[2018-01-25 23:16] shailesh33 commented on #526
It might be an issue with the parser in Dynomite. Let me try a few things.

On Wed, Jan 24, 2018 at 11:02 PM, Simon <notifications@github.com> wrote:

[2018-01-26 00:28] shailesh33 commented on #526
Fixed it: https://github.com/Netflix/dynomite/pull/527

[2018-01-26 14:49] #526 closed, assigned to nobody

[2018-01-26 18:15] whoiswes commented on #504
@ipapapa - thanks for the pointers.  I did a quick diff between nc_memcache.c and dyn_memcache.c and I could not find anything that appeared to be missing (to my very untrained eye).  Not sure where to go from here as I have zero practical C experience, but I will certainly help in any way my experience level allows.

Thanks!

[2018-01-26 20:18] shailesh33 commented on #504
@whoiswes lets start with simplifying this: Have a single Dynomite node with Memcache and see if your Memcache calls fail similarly.
Are you getting failures or crashes? Try to use dev branch.

Once you have this tell me what commands you are running (preferably a basic script on a command line interfact for me to easily run it) and then we can take it from there.

[2018-01-26 20:48] whoiswes commented on #504
@shailesh33

I had done that before but here's a more complete dump.

Oracle Linux 7.1 (3.10.0)

Dynomite minimal config:

[code]

memcache 1.5.4, running interactively on a separate console

[code]

I'm primary a python guy, so utilizing pymemcache, running a client connecting to the dynomite port (11211), doing a set works, but doing a get results in the dynomite process dumping.  Memcache sees

[2018-02-04 22:04] ahmed-sigmalux opened #528 "How to flushall / flushdb?"
Checking https://github.com/Netflix/dynomite/blob/dev/notes/redis.md, it appears the flushall and flushdb commands are not supported. Given this limitation, how can one flush Dynomite?

[2018-02-05 22:32] shailesh33 commented on #528
The way we do it is write a script that connects to redis parallelly on all instances and runs the flushall command

[2018-02-05 22:32] #528 closed, assigned to nobody

[2018-02-06 16:49] nginxsantos opened #529 "How to do Management in the absence of dynomite manager"
I am using dynomite and Redis in the openstack environment. But, I am having problem of using the dynomiteManager (to me it works in AWS only). Is there any other package which I can use for the management of the dynomite node in place of dynomite manager.

I am also interested for the entire life cycle management and scale out/scale in of the dynomite nodes (equivalent to what dynomite manager do

[2018-02-06 17:41] shailesh33 commented on #529
@ipapapa there was some OSS effort on this. Can you shed some light on it?

[2018-02-07 09:32] axelfauvel commented on #46
Hello,

Looks like @lampmanyao has implemented the feature but i didn't find anything in documentation regarding it.

Has it been implemented ? If so, i can run some tests and update doc if you want. :)

[2018-02-07 15:38] lampmanyao commented on #46
Hi, @axelfauvel
I've implemented this feature base on v0.5.9, but i did not open a PR for it.

[2018-02-07 18:33] ipapapa commented on #529
I do not recall exactly the effort since there are several people contacting us of things they have developed. Probably we need to do a better job to bookkeep them. There have been a few efforts to support ECS (containers but still on AWS), some folks asking for GCP support, and some effort to deploy it in a local datacenter that I recall of. DM v2.x has abstracted several components so that it ca

[2018-02-08 03:04] nginxsantos commented on #529
@shailesh33 , @ipapapa
,
Thank you for the reply. I defintely need your help. If you could guide me to what are the changes required to run this in OpenStack or vCenter then it will help.  I am really interested to do this and contribute to this great community but I  if you could help me to understand what are the changes required then it would really help me.
Any pointers would be helpful. I am

[2018-02-08 08:09] axelfauvel commented on #46
It would be great to have this feature

[2018-02-08 11:33] nginxsantos opened #530 "Dynomite Functionality"
Hi,
Is the token management a functionality of Dynomite or Dynomite Manager.

Looking at the comments from @ipapapa , it seems the Token Management is done in Dynamite itself. Can someplease clarify on this. If it is done the Dynomite then does the default installation of Dynomite have it. If so, where do we store the tokens?

https://github.com/Netflix/dynomite/issues/342

What functionality will

[2018-02-08 17:38] lampmanyao commented on #46
Hi, @axelfauvel
I merge this feature to the dev branch: https://github.com/lampmanyao/dynomite/commit/769ee0516c196827f2f4a731d92d7af094c4e6bb

P.S. I have not test completely yet. I will test this as soon as I can.

[2018-02-09 10:49] axelfauvel commented on #46
great @lampmanyao thanks !

Please keep me posted :)

[2018-02-09 12:01] ramprasadp opened #531 "Can I use rpush blpop etc too with dynomite"
Can I use rpush blpop etc too with dynomite

I am looking to replace redis with an equally  performant queue  but also clustered for HA

[2018-02-09 14:22] ipapapa commented on #530
Assuming a Dynomite node dies, and a new node comes up. There are two ways to achieve that the new node will take the same token, notify the rest of the nodes about its existence and join the ring. Gossip and static token management. There is a gossip protocol integrated with Dynomite but we do not use it on Netflix, hence we cannot guarantee 100% the reliability. If you are interested in contribu

[2018-02-09 14:30] ipapapa commented on #529
The implementations that are AWS specific can be found in the [AWS package](https://github.com/Netflix/dynomite-manager/tree/dev/dynomitemanager-common/src/main/java/com/netflix/nfsidecar/aws). There are also two AWS specific implementations in the [backups](https://github.com/Netflix/dynomite-manager/tree/dev/dynomitemanager-core/src/main/java/com/netflix/dynomitemanager/aws).
You do not have to

[2018-02-09 17:50] diegopacheco commented on #530
@nginxsantos

I kind of code a simple version of my own token generator simulating the DM feature. However, I only did that because DM was no available, IF you already running on AWS like I'm, DM is the best solution. There are lots of other "procedural" tasks that DM does like Cold Bootstrap, S3 backups/restores that can be tricky to get it right so I would recommend use DM if you are in AWS.

So

[2018-02-09 19:32] shailesh33 commented on #531
Rpush: yes
BLPOP: or any command that spans keys, you have to cautious that it doesnt belong to multiple nodes. Check hashtags how to co-locate keys on the same node

[2018-02-09 19:32] #531 closed, assigned to nobody

[2018-02-10 04:05] thakurajayL commented on #509
HI,
Sorry to jump into the issue which is closed. But I was not sure what was real issue. Is this crash due to small size of cluster or something to do with general dynomite scaling ?

I am also evaluating to use dynomite for the purpose of giving the HA across data centers.

Thanks
Ajay

[2018-02-10 10:12] thakurajayL commented on #530
HI,
Wanted to ask a question in continuation with the discussion.

If client gets to know that one of the node in rack has failed. Then what is suggested to shift all the traffic to other rack if available or shift the whole traffic to other data center if available ?

Also if the configuration used is single rack and multiple nodes then single node failure causes some disruption. So in that case

[2018-02-10 12:08] ipapapa commented on #530
@thakurajayL clients should not talk across regions.  If they do, then your failure domains are not isolated. Hence, if a node fails and you have deployed 3 racks (RF=3) in each region, then you have two more nodes to failover in the same region (assuming your consistency level is DC_ONE). This can provide fairly good failover. We have observed that for caching solutions (RF=2) is also good enough

[2018-02-10 12:54] nginxsantos commented on #530
Hi @diegopacheco , @ipapapa ,

Thanks @diegopacheco for the greats links. It helps.

My requirement is a little different, I am working on a Telecom product which is not ready for the public cloud yet ( I have my own limitation). But, I am quite impressed with Dynomite. Great stuff guys :-)

I am thinking if I can't get the Dynomite Manager run in the OpenStack/KVM/vCenter in a short term, I have

[2018-02-10 13:51] diegopacheco commented on #530
@nginxsantos

We use NetflixOSS for ou cloud-native microservice stack and we use Archaius(https://github.com/Netflix/archaius) for conf management inside a microservice. However, Archaius does not place the config files inside your machine. So we have a configuration distribution solution which uses Git(http://gitblit.com/) to store property files and any other configuration files for Linux or th

[2018-02-11 17:11] thakurajayL opened #532 "Dynomite Vs redis-cluster"
Hello,
Is there any comparison about which is better option ? How redis cluster is not so good option compared to dynomite ?

Can someone provide me some pointers ?

Thanks
Ajay

[2018-02-12 05:56] thakurajayL opened #533 "List of Redis commands not supported ?"
HI,
I was going through the redis.md. We have list of commands which are supported in this file. But wanted to know if we know which commands are not  supported at this time and which commands can not be supported on dynomite because the way dynomite works ?

Thanks
Ajay

[2018-02-12 10:39] shyamnayak6 opened #534 "keys are not equally distributed among all nodes across a rack when multi rack config is used in generate_yamls.py"
Hi,

Keys are getting equally distributed when using generate_yamls.py for a single rack, but this is not same case when multiple racks are used for generating tokens.

Thanks,
Shyam

[2018-02-12 18:11] shailesh33 commented on #534
racks are essentially replicas or each other. Are you saying when using multiple nodes in a rack?

[2018-02-13 03:10] ipapapa commented on #529
Continuing on https://github.com/Netflix/dynomite-manager/issues/95

[2018-02-13 03:10] #529 closed, assigned to ipapapa

[2018-02-14 19:33] mcouillard commented on #533
That list is already here: https://github.com/Netflix/dynomite/blob/dev/notes/redis.md

But I agree that extra visibility to it on a wiki page would help.

[2018-02-15 04:21] thakurajayL commented on #533
Well can someone create wiki page ? What we are suppose to do to help in documentation ? I am willing to do that.
We can add up the commands in that list. I see some of the enhancements issues reported to add the support.

Thanks
Ajay

[2018-02-15 23:47] balajivenki opened #535 "Getting unref owner error in dynomite and closed connections"
We see several of

`[2018-02-15 21:47:06.118] core_close_log:461 close <CLIENT 0x276df50 6897 from '172.16.8.206:36970'> on event 00FF eof 1 done 1 rb 63 sb 5
[2018-02-15 21:47:06.118] client_unref_internal_try_put:95 <CLIENT 0x276df50 -1 from '172.16.8.206:36970'> unref owner <POOL 0x1a802f0 'dyn_o_mite'>
[2018-02-15 21:47:18.718] core_close_log:461 close <CLIENT 0x25692b0 14345 from '172.16.8.20

[2018-02-16 07:45] shyamnayak6 commented on #534
Yes using multiple nodes in a rack and replica with a single node. My configuration looks something like this.

python generate_yamls.py <IP>:rack1 <IP>:rack1 <IP>:rack2

[2018-02-16 09:25] thakurajayL commented on #534
HI @shyamnayak6 ,
Can you please post your generated yaml files for every node.

Thanks
Ajay

[2018-02-20 05:31] ahmed-sigmalux commented on #535
Seeing the same here running Dynomite 0.6.5 and Memcached storage.

[2018-02-21 17:42] kpdude7 opened #537 "[proposed-label: Help Wanted] Workflows stopping in random places with multi-node Conductor/Dynomite on AWS"
We currently have 3 Conductor instances backed by an ELB in AWS, one for each of 3 AZ's. We also have 3 Dynomite instances per AZ, for a total of 9. When we test assets through our workflows, sometimes an asset will get "stuck" in a workflow, and when viewing the workflow via the API, steps are just missing at the end. We also see periodic NoAvailableHostsExceptions in the Conductor logs:

Feb 21

[2018-02-21 17:42] kpdude7 commented on #537
I also posted this issue in the Conductor forum.

[2018-02-21 20:39] balajivenki opened #538 "Binay keys always goes to first node in the primary rack."
We are using dynomite v0.6.3 and use TokenAware routing from dyno client. Majority of our values are binary and hence we use byte[] to write through dyno. I see that the keys go to first node in the primary rack all the time instead of routing to different nodes. Is this the case? Are we missing anything in the conf or the way we use it?

If we have redis01, redis02, redis03 as primary and redis04

[2018-02-22 12:28] ipapapa commented on #532
Redis Cluster is an CP system, Dynomite is an AP system (definitions based on the CAP theorem). Search for the word `Dynomite` in the Redis documentation: https://redis.io/topics/sentinel for more information

[2018-02-22 12:29] ipapapa commented on #530
I am assuming this question has been addressed as there has been no follow up.

[2018-02-22 12:29] #530 closed, assigned to ipapapa

[2018-02-22 12:30] ipapapa commented on #519
I am assuming since this question is a month old, it has been addressed.

[2018-02-22 12:30] #519 closed, assigned to nobody

[2018-02-22 12:31] ipapapa commented on #415
A year old question. I am assuming it has been addressed. If not please reopen another issue.

[2018-02-22 12:31] #415 closed

[2018-02-28 10:03] zcalusic commented on #523
FWIW, I'm seeing these lines in log output:
[code]

v0.6.5

[2018-02-28 10:08] zcalusic opened #540 "Crash on timeout"
I've noticed several restarts on one particular server in the farm, which coincidentally has rather high I/O load. I've learned that my initial idea of 500ms timeout was too optimistic. Still, it seems that dynomite just crashes if that timeout is reached, so maybe someone can investigate what's going on. v0.6.5 talking to Redis on localhost.

[code]

[2018-02-28 16:59] MeeDNite opened #541 "Using Dynomite with Laravel"
Hi,

I want to connect my application to Dynomite using phpredis.

In CLI (redis-cli) everything works fine and data is replicated in all redis nodes. but when I use php to write and read from redis, it seems that phpredis is connecting to redis, not Dynomite.

What am I doing wrong?
Regards.

[2018-02-28 20:07] UladzimirTrehubenka commented on #501
Could someone provide any feedback?

[2018-02-28 20:32] sobkovych commented on #541
I think a good point to start is to check if phpredis connects to the right port. I mean redis server listens on 6379 by default and dynomite proxy uses 8102 (it depends from <listen> parameetr in your config).

[2018-03-01 16:00] axelfauvel commented on #46
Hello @lampmanyao,

Any news on this one ? :)

[2018-03-02 07:24] lavagetto commented on #367
@GarageDeveloper I'm interested in packaging dynomite for Debian (not necessarily have it uploaded to Debian as-is, but a "proper" DFSG-compliant package), so if you have some partial work somewhere on github or on any other SCM I'd be interested in helping.
If not, I'll post here the URL where you will find my work.

[2018-03-02 12:11] sampleap opened #542 "Tomcat web session replication"
Hi,

Is Dynomite a good choice for tomcat web session replication?

I need to reliably replicate tomcat sessions across multiple tomcat runtimes and Data Centers.
With strong consistency.
Is it possible with Dynomite?

Regards,
S.

[2018-03-03 00:16] balajivenki opened #543 "Question: max mbuf_size Recommendation"
For one of our requirement our key size can be more than the default 16kb and can go upto 100kb.

We have see the following errors in dynomite.log

`[2018-03-02 23:00:01.545] redis_parse_req:1312 parsed bad req 20185 of type 55 with key length 54214 that greater than or equal to maximum redis key length of 16336`

The prod recommendation doc https://github.com/Netflix/dynomite/blob/master/notes/re

[2018-03-03 00:19] shailesh33 commented on #543
@balajivenki To be very honest, we have never tried that big of a key in our system. In fact I do not even know what will be the behavior if the key spans across buffers. But you can give it a try and let me know what you see?

[2018-03-03 00:27] balajivenki commented on #543
Thanks @shailesh33  For now we are going with the recommended 65k as mbuf value. If needed we will increase it more than that. I just want to know your take from the code it wont be any issue right? We checked the code and couldn't find any issue, so wanted to double confirm.

[2018-03-03 00:45] shailesh33 commented on #543
Testing is the right way to be sure. :)

On Fri, Mar 2, 2018 at 4:27 PM, Balaji Venkatesan <notifications@github.com>
wrote:

[2018-03-03 01:01] balajivenki commented on #543
Thanks @shailesh33  We will verify with our QA and keep this page updated.

[2018-03-03 17:05] mcouillard commented on #542
With sticky sessions that use cookies, I think so. That ensures your clients aren't bouncing between servers rapidly, possibly running into stale data if Dynomite's async replication isn't keeping up. It's fast, but sticky sessions help minimize the chance for edge-case issues.

If you can get tomcat sessions working with redis, you can make it work with Dynomite. I don't think tomcat does anythin

[2018-03-05 10:26] sampleap commented on #542
Thanks,

For me edge-case issues are most interesting.
And replication between Data Centers (DCs).

Lets assume we don't use sticky sessions.
Replication between 2 DCs is configured.
Client hits first runtime in DC1, then application create in session some object (O).
Then client rapidly hits second runtime in DC2.
We expect on second runtime in application replicated session from first runtime, a

[2018-03-05 16:43] onexay opened #544 "Can dynomite by cross-compiled?"
$ ./configure --prefix=/usr --build x86_64-unknown-linux-gnu --host arm-brcm-linux-gnueabi --target arm-brcm-linux-gnueabi --host=arm-brcm-linux-gnueabi --with-sysroot=/data/git/wing7int/wing/out/willow/root --enable-static=no ac_cv_fu
nc_malloc_0_nonnull=yes ac_cv_func_realloc_0_nonnull=yes

checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane...

[2018-03-05 17:52] shailesh33 commented on #544
No it cannot be cross compiled as yet

[2018-03-05 17:56] shailesh33 commented on #542
How is this possible in any system? Take any system for that matter, Dynomite, Cassandra etc, if the replication between data centers is lagging, or broken, how do you expect replication to happen, unless you use full quorum i.e every write ensure that the replication went to another DC and then only acknowledge. If that is something that you desire, then we will need some modifications in Dynomit

[2018-03-05 19:24] shailesh33 commented on #523
The command should be `DEL` not `delete`

[2018-03-05 19:49] zcalusic commented on #523
Oops, so this might be operator error, after all. :smile:

I managed to find red:delete Lua calls, where it probably should have been red:del then.

Thanks for the answer, @shailesh33 I'll investigate further what's really goin' on there.

[2018-03-06 11:04] zcalusic commented on #523
Yeah, it was an error on our part. Thanks once again @shailesh33 and sorry for the noise!

[2018-03-08 09:49] sampleap commented on #542
Under normal circumstances, no network failures, lags, etc.
Can Dynomite be configured for strong consistency, as described above?
As I understand, no, full quorum should be implemented.

[2018-03-08 13:00] shyamnayak6 opened #546 "Question : SCAN, KEYS read only the local node."
Hi,

What does mean by scan,keys read only the local node. Do you mean, these commands won't be replicated in multi rack environment.

[2018-03-08 13:08] shyamnayak6 opened #547 "Question: How atomicity is handled through Dynomite as transnational commands are not supported"
Hi,

Would you clarify on atomicity and consistency in terms of Dynomite as transactional commands are not supported. We know Redis is single threaded but still it provides transnational features.

Do we have to use dyno client for transactional guarantees ?

Thanks,
Shyam

[2018-03-08 18:55] shailesh33 commented on #542
Cross DC replication is Async. Under normal scenarios, yes the replication will succeed.

Is there a way for the client to wait for cross DC replication to finish? No.

[2018-03-08 18:57] shailesh33 commented on #546
These are read only commands. These are not forwarded to peer nodes instead, they are directly sent to the redis storage underneath only. The `Dyno` client has functionality to send scan to all the nodes in the local rack.

[2018-03-08 18:57] #546 closed, assigned to nobody

[2018-03-08 18:58] shailesh33 commented on #547
Hi Shyam,
No There are no transactions supported in Dynomite but you can go one step ahead with quorum guarantees.

[2018-03-10 04:57] lampmanyao commented on #46
Hi @axelfauvel , I'm sorry about. I'm working on my own project (an iOS Personal-VPN) all the spare time. I only did a few tests, but it works for me.

[2018-03-12 11:53] shyamnayak6 opened #548 "Why pubsub is not supported and is there any challenge in supporting it?"
Hi,

Our application mostly depends upon pubsub mechanism. As Dynomite does not support it, would you clarify if there is any challenge in supporting it. Is it possible to support it in future ?

Thanks,
Shyam

[2018-03-13 05:18] shyamnayak6 commented on #547
Thanks!!

[2018-03-13 05:18] #547 closed, assigned to nobody

[2018-03-13 13:34] axelfauvel commented on #46
Hi @lampmanyao : I've tried on my side and it works like a charm !! :)

Could you please do the PR so it can be packaged in a future release ? If you have no time, I can also handle the PR, you tell me.

In advance, thanks

[2018-03-14 04:55] lampmanyao commented on #46
Hi @axelfauvel, It's nothing better than this if you do the PR.  I really have no time.

[2018-03-15 19:30] onexay commented on #544
I was able to cross-compile it setting following variables during ./configure

ac_cv_func_malloc_0_nonnull=yes
ac_cv_func_realloc_0_nonnull=yes
ac_cv_evports_works=no
ac_cv_kqueue_works=no
ac_cv_epoll_works=yes

Of course, these settings are true for my target.

[2018-03-15 21:32] MasonM commented on #504
I can reproduce this as well using dynomite inside Docker (built with the official Dockerfile). My config:
[code]

I saved that as dynomite.yml,  started a memcached container, and ran the following to start the Dynomite container:
`docker run -v $PWD/dynomite.yml:/etc/dynomite.yml -p 8102:8102 --rm --entrypoint '/dynomite/src/dynomite' --net testbed_default dynomite -c /etc/dynomite.yml -v11`

Th

[2018-03-16 21:28] shailesh33 commented on #548
The problem is propagating changes from all the nodes and funnelling it to a single client. If the co-ordinator node dies, the client shoudl connect to some other node. More importantly, the pub-sub occupies a connection to the data store. when we thought about this there was only one connection from dynomite to redis. That is not the case anymore but still this can be someone challenging. Ofcours

[2018-03-26 17:42] UladzimirTrehubenka commented on #501
https://github.com/Netflix/dynomite/commit/22018560eb1566ed9aba602b65f5c2dc132b6b18

[2018-03-26 17:42] #501 closed, assigned to nobody

[2018-03-26 18:06] ipapapa commented on #548
Seems the question has been answered and there has not been a follow-up -> closing it.

[2018-03-26 18:06] #548 closed, assigned to nobody

[2018-03-26 18:09] ipapapa commented on #537
Seems a good portion of the discussion has been done in https://github.com/Netflix/conductor/issues/432 Hence I am closing this as a duplicate.

[2018-03-26 18:09] #537 closed, assigned to nobody

[2018-03-26 18:10] ipapapa commented on #532
This question has been answered and there have not been any follow-up -> closing it.

[2018-03-26 18:10] #532 closed, assigned to nobody

[2018-03-26 18:11] ipapapa commented on #518
The Wiki documentation has been updated to include the non-quorum responses: https://github.com/Netflix/dynomite/wiki/Consistency#operations-not-checked-for-a-quorum

[2018-03-26 18:11] #518 closed, assigned to nobody

[2018-03-26 18:14] ipapapa commented on #533
Good point. I have created a Wiki page that re-directs in the Redis.md file. I kept the file instead of copying-pasting in the Wiki as it is easier to keep the Github history outside of the wiki.

https://github.com/Netflix/dynomite/wiki/Redis-Commands

[2018-03-26 18:14] #533 closed, assigned to nobody

[2018-03-26 18:17] ipapapa commented on #460
I assume you refer to #49. We have added some further support for multi-key commands:
https://github.com/Netflix/dynomite/pull/474
and list of keys for EXISTS command:
https://github.com/Netflix/dynomite/pull/539

I have also added a Wiki documentation for the Redis commands and the corresponding properties: https://github.com/Netflix/dynomite/wiki/Redis-Commands
SADD and SUNION are included with

[2018-03-26 18:19] balajivenki commented on #535
Do not see this issue anymore. Closing it

[2018-03-26 18:19] #535 closed, assigned to nobody

[2018-03-26 18:20] balajivenki commented on #543
Since mbuf_size increasing has its own performance and memory issues and slowness we have decided to keep it the default 16kb. Closing this issue

[2018-03-26 18:20] #543 closed, assigned to nobody

[2018-03-29 23:32] ahmed-sigmalux opened #550 "Dynomite segfaults on Memcached "get" command"
I'm unable to read from Memcached via Dynomite.

EDIT: See message below.

[2018-03-30 04:24] ahmed-sigmalux commented on #550
A simple get command causes dynomite to crash:

[code]

Dynomite in debug output shows:

[code]

[2018-04-05 21:07] mcouillard opened #551 "Jedis usage results in: parsed unsupported command MULTI (& Lettuce fails with SELECT)"
I've been using Dynomite successfully in other ways but have run into a roadblock trying to make it work with Jedis for Spring Data Caching (spring-data-redis 1.8.10). I'm using the same Jedis version as Dyno, 2.9.0, with Redis 3.2.11 and Dynomite 0.6.6 (also tried dev).

I'm not using java transactions and it all works fine when directly using the underlying Redis backend port. Jedis on the dynom

[2018-04-06 14:20] mcouillard commented on #551
I've also tried spring-data-redis 1.7.11 and 1.6.6 in case newer versions of that were doing something odd with transactions. No luck.

Also, the only way I'm using Jedis is for simple gets and puts of single keys against a single backend (no sentinel/cluster stuff involved, just a basic redis+dynomite - with 2 replicated peers, no sharding - setup).

Lastly, I just tried lettuce 3.5.0 (last to su

[2018-04-08 04:42] #544 closed, assigned to nobody

[2018-04-09 22:27] shailesh33 commented on #551
Dynomite does not support Multi/exec commands. It also doesnt support
multiple DBs apparently, that is why SELECT is also failing for you.

Is there a way you can avoid those commands?

On Fri, Apr 6, 2018 at 7:20 AM, Michael <notifications@github.com> wrote:

[2018-04-10 12:19] mcouillard commented on #551
Yeah, it matches the list of commands Dynomite doesn't support. I was just hoping I was somehow using Jedis wrong because it's what Dyno is based on and that apparently works fine for other Java scenarios.

I'll also try the Jedis community to see why MULTI is being used at all; seems unnecessary. Same with Lettuce and SELECT.

Though perhaps it's a good idea for Dynomite to simply ignore SELECT r

[2018-04-12 03:23] jieqian commented on #46
@axelfauvel  have you done the PR? Can I pull this feature from master branch?

[2018-04-12 06:16] jossysebastian opened #552 "Data Loss"
I trying a test bed with 4 dynomite instance with in a same server. I have 4 redis server running which is attached to each dynomite. first 2 are in rack1 and other two in rack2. All 4 instance are marked as same data center. Sharding and replications are fine when all dynomites and redis server are up.
But I made redis instance of 4th dynomite down. In stage, I made few write operations on the ot

[2018-04-13 00:21] jazoom commented on #504
I'm getting the same "invalid syntax" for `dyn_seeds` and I'm using Redis with a config I've pretty much copied from apparently-working configs found in this repository.

[code]

[2018-04-13 00:27] jazoom commented on #504
To add to my previous comment: it looks like it was an issue of the services in Docker repeatedly failing because they couldn't find each other and eventually they happened to be up at the same time.

I don't think that should be reported as "invalid syntax" since the syntax is obviously correct.

It seems the dynomite instances still don't sync, but I guess that's another issue.

[2018-04-13 00:32] ipapapa commented on #504
`Invalid syntax` is reported for dynomite.yml, not in case of miscommunication. I am not following the issue you are facing and how it is related to Docker container communication.

[2018-04-13 00:33] jazoom commented on #504
I'm saying the logs from Dynomite are telling me the syntax is invalid even though it's apparently not invalid. That is how I found this issue. I searched for the error I was seeing.

[2018-04-13 00:33] mcouillard commented on #552
I believe only the companion product, dynomite-manager, handles a 'cold-bootstrap' process when nodes come back online. Nothing else catches-up out of sync nodes; dynomite is just a proxy that replicates changes as they pass through. If a node isn't there at the time of the change, it won't get the change later.

More info: https://github.com/Netflix/dynomite-manager/wiki/Cold-Bootstraping

[2018-04-13 00:35] ipapapa commented on #504
Can you send us your Dynomite logs?

[2018-04-13 00:54] jazoom commented on #504
Sigh. I just spun up the services again and am now not getting this error. I have not changed the config file at all, so the syntax is the same as before when it was throwing the `invalid syntax` error.

Still not getting the data synched between the services, but that's another issue and I think I'm done with trying to make Dynomite work.

[2018-04-16 05:20] balajivenki opened #553 "Help: Too many open files in system"
In our cluster in the first primary rack node we see tons of the following errors

`[2018-04-16 04:57:54.038] proxy_recv:228 <CONN_PROXY 0x1da8290 8 listening on '0.0.0.0:xxxx'> Failed to accept a connection. Continuing
[2018-04-16 04:57:54.039] proxy_accept:170 accept on <CONN_PROXY 0x1da8290 8 listening on '0.0.0.0:xxxx'> failed: Too many open files in system`

and it fills up the disk in minute

[2018-04-16 16:18] shailesh33 commented on #553
Can you check from netstat if there are too many connections from the client?
What is the client version you are using?

[2018-04-16 16:20] toady opened #554 "Dyno does not respond to all of the messages coming in bulk"
Hi!

We have noticed a bug when two messages come in a single packet: dynomite only responds to one of them, even though both seem to have been processed as per the logs.

I'm attaching dyno log at max level + tcp dump for the case.

[dyno.log](https://github.com/Netflix/dynomite/files/1916246/dyno1.log)
[dyno_tcpdump.log](https://github.com/Netflix/dynomite/files/1916247/dyno_tcpdump.log)

[2018-04-16 18:48] balajivenki commented on #553
netstat shows its all from clients. We run dynomite v0.6.3 and client v1.5.9

On the side, in dynomite is it ok to give seeds as dns names or IP is preferred? We run all of them as DNS names

[2018-04-16 18:53] shailesh33 commented on #553
It should be fine. We provide hostnames in the conf file.

On Mon, Apr 16, 2018 at 11:48 AM, Balaji Venkatesan <
notifications@github.com> wrote:

[2018-04-17 02:26] shailesh33 commented on #554
I tried with a single node dynomite and it worked. I will have to dig
deeper.
What do you see on your client? Did you try it via CLI?

On Mon, Apr 16, 2018 at 9:21 AM, Stanislav Bobrov <notifications@github.com>
wrote:

[2018-04-17 08:52] toady commented on #554
The client just keeps waiting for the response, as expected, but never receives it.
Not sure if I can batch the commands with cli, but the tcp dump is attached, showing the request and response, doubt the client would make a difference here, the packet is clearly missing one of the responses seen in the logs.

There are 6 nodes set up here: 3 in the same dc/diff racks, 3 in the other dc/diff racks

[2018-04-17 16:03] toady commented on #554
Actually, looks like I misinterpreted the data in the dump, everything seems to be intact, closing this :)

[2018-04-17 16:03] #554 closed, assigned to nobody

[2018-04-22 07:38] unoexperto opened #555 "Is RocksDB still supported ?"
Hey guys,

Sorry for perhaps naive question. Is RocksDB still supported ? I couldn't find answer neither in doc nor in github/dockerhub pages.

The things are unclear to me:

1) Is RocksDB still sopprted as backend ?
2) Is Redis one of backends or is it protocol frontend for rocksdb backend ?

[2018-04-24 17:08] mcouillard commented on #551
I'd like to revise this post to be focused on 1 end goal: to ignore SELECT requests. This will increase the availability of using Dynomite with systems that - either on purpose or mistake - issue a SELECT.

The specific scenario for me is a common one: Java Spring Framework (or Boot) + Lettuce (top 3 client; the default in Boot 2) + Spring Data Redis (1.7 or 1.8). It issues a SELECT when getting a

[2018-04-24 18:12] shailesh33 commented on #555
Dynomite is a layer on top of non distributed storage engines. Today it understands Redis well and Memcache (has some bugs to be sorted there). So essentially it can talk to storage engine that understands redis apis. It could be a redis server process itself, or some other process that understands redis protocol and writes to say disk using rocksdb, boltdb etc. There are other open source softwar

[2018-04-24 18:12] #555 closed, assigned to nobody

[2018-04-24 20:12] ipapapa commented on #552
That is correct. Dynomite does not itself repair the data. Dynomite-manager is able to fetch the peer data after a node termination

[2018-04-24 20:16] ipapapa commented on #551
There are two related questions in the past:
https://github.com/Netflix/dynomite/issues/324
https://github.com/Netflix/dynomite/issues/520

[2018-04-24 20:20] ipapapa commented on #551
In regards to your request to ignore a `SELECT` request, we might end up with the issue that somebody uses and expects an action but we swallow it. On the other hand, I see your point that Dynomite will then be able to be used under Spring Framework. Wouldn't it be more correct if the Spring Data Redis does not use that command at all?

[2018-04-24 20:21] ipapapa commented on #541
That is correct, you need to configure the proper port number.

[2018-04-24 20:21] #541 closed, assigned to ipapapa

[2018-04-24 20:24] ipapapa commented on #550
At this point, we do not have the capacity to work on the Memcached side. We have main mainly focused on the Redis wire protocol. If you would like to assist us there are a few related issues it should not be hard to identify were the protocol fails. See related issues:

https://github.com/Netflix/dynomite/issues/504
https://github.com/Netflix/dynomite/issues/220

We also have a project open for f

[2018-04-24 20:25] ipapapa commented on #220
This is a fairly old issue that does not benefit to keep it open. There have been many advancements in Dynomite and there are related issues and a project that is open.

[2018-04-24 20:25] #220 closed

[2018-04-24 20:27] ipapapa commented on #163
There has not been a follow up on this. Dynomite has evolved over the last few years, so this issue is probably deprecated.

[2018-04-24 20:27] #163 closed

[2018-04-24 20:44] shailesh33 commented on #551
I think spring is out of control for most developers. And May be spring
just do "select 0" in which case we can swallow but not otherwise.

On Tue, Apr 24, 2018 at 1:21 PM, Ioannis Papapanagiotou <
notifications@github.com> wrote:

[2018-04-25 00:33] mcouillard commented on #551
It would, but it's true that corrections to Spring Data are harder to achieve. Plus any fix is unlikely to be backported earlier than Spring Data 1.8 because 2.0 was released.

I think a nice compromise to ignore it when SELECT 0 is issued would help.

[2018-04-26 12:22] shapovalex opened #556 "Removing node from rack"
During testing failover scenarios I've found next:
Using florida provider with custom service discovery.
Cluster of 1 rack, 2 nodes in rack, dyno client.

Removing 2nd node, service discovery removes node from florida response, dynomite read it.
But this node is still present when I make cluster_describe call and when I try to read/write something using dyno client I get "Peer Node is not connecte

[2018-05-01 08:45] mbardelmeijer commented on #510
Any update on OpenSSL 1.1.* support? Prefer not to run a patched version in production nor downgrade OpenSSL :)

[2018-05-01 22:01] shailesh33 commented on #556
Hi
If you have multiple racks (replica copies), The dyno client should forward the request to that rack.
However in your  case there is no replica hence it fails.
On the other hand, if you want to remove that node from the cluster (we have not tried that yet), the florida should return that in the cluster describe and get_seeds API. get_seeds API is what Dynomite calls into florida to get the clus

[2018-05-03 04:00] #538 closed, assigned to nobody

[2018-05-03 04:03] balajivenki commented on #553
We found that the connections are coming abruptly from the client apps running inside docker swarm cluster. The issue was not reproducible when running away from swarm. Connecting through IP from swarm cluster resolved the issue though. Either issue with docker swarm overlay network or dns resolution timeouts. Closing the issue for now.

[2018-05-03 04:03] #553 closed, assigned to nobody

[2018-05-05 00:32] ipapapa commented on #552
I am closing this since there has not been any further question and the initial question was answered.

[2018-05-05 00:32] #552 closed, assigned to ipapapa

[2018-05-06 16:41] mcouillard commented on #551
While I still would love to see Dynomite ignore SELECT 0, I want to give an update on my own usage:

Raw Jedis + Java works fine. It just requires more manual effort because it keeps away from Spring Data / Framework / Cache helpers. Jedis itself is also a bit raw and basic on it's own, at least compared to Lettuce and Redisson. But for my basic use-case of data caching in a multi-node cluster of

[2018-05-14 12:32] pashinin commented on #510
Was there a pull request with that patch? Is there a reason not to include it if it's working?

[2018-05-14 12:43] woutd commented on #510
My above patch made it compile with newer versions of OpenSSL, but if I remember correctly, caused issues during runtime. I do not recommend using it.

[2018-05-24 13:47] ipapapa commented on #556
Closing this due to inactivity after a response was provided.

[2018-05-24 13:47] #556 closed, assigned to nobody

[2018-05-24 13:48] ipapapa commented on #551
Fantastic, thanks for letting us know! Are you using Dynomite in production?

[2018-05-31 09:29] lenw commented on #510
I installed the `compat-openssl10-devel` in fedora and got it compiling that way

[2018-06-01 09:48] robertofabrizi commented on #441
@blueelephants  How did you get it to work over Swarm? In my

[code]

I dunno what to put as the dyn_seeds :(

[2018-06-04 21:38] bshevade opened #557 "DynoJedisClient does not support blocking calls for queue operations"
Hello,

We are using dynomite jedis client (dyno-jedis version 1.6.3) with redis but without the dynomite server at the moment. However, we see that the blocking calls like brpoplpush are not yet supported. Any idea when they will be supported? Thanks!

[2018-06-05 14:21] mcouillard commented on #551
We'll be starting our slow rollout of it this week - I'm very excited!

[2018-06-05 18:13] ipapapa commented on #557
It feels that this issue should be migrated to the Dyno Github repository. Would you mind opening it there?

FWIW, not all commands are supported by Dyno. We and the OSS folks have implemented the commands that have been useful for Dynomite. However, if you have found other usages of Dyno then please consider adding those commands.

[2018-06-05 18:13] #557 closed, assigned to nobody

[2018-06-05 20:45] bshevade commented on #557
Thanks @ipapapa for your comments. I have opened the issue in Dyno Github repo. I will try to add the blocking commands myself and open a PR for review. Thanks!

[2018-06-06 15:07] sisfm opened #561 "Bad file Descriptor on dynomite 0.6.2"
I am getting the following error on dynomite. Any ideas?

[2018-06-06 11:37:45.404] dnode_accept:302 Accepting client connection from 10.20.12.213/15786 on sd 287
[2018-06-06 11:37:45.404] stats_http_rsp:1157 send stats on sd 271 failed: Broken pipe
[2018-06-06 11:37:45.404] proxy_accept:340 set tcpnodelay on CLIENT 271 from PROXY 9 failed, ignored: Bad file descriptor
[2018-06-06 11:37:45.404] ev

[2018-06-06 15:08] sisfm commented on #561
dla_redis_sess_aff-stb:
  datacenter: dcqro
  rack: rack1
  dyn_listen: 10.20.12.213:8101
  dyn_seed_provider: simple_provider
  dyn_seeds:
  - 10.20.12.211:8101:rack0:dcqro:0
  - 10.20.12.212:8101:rack0:dcqro:2147483647
  - 10.20.12.214:8101:rack1:dcqro:2147483647
  - 10.11.23.27:8101:rack0:dcamz:0
  - 10.11.46.103:8101:rack0:dcamz:2147483647
  - 10.11.47.171:8101:rack1:dcamz:2147483647
  - 10.11

[2018-06-07 14:39] sisfm commented on #561
any ideas?

[2018-06-08 16:17] AlvaroBro opened #563 "Dynomite crashes (assert 'conn->type == CONN_DNODE_PEER_CLIENT' failed )"
In version 0.5.9:

[code]

In version 0.6:

[code]

My configuration (first node):

[code]

[2018-06-08 16:50] AlvaroBro commented on #563
In all cases compiled in debug mode.

[2018-06-10 21:24] KowalczykBartek commented on #550
Hi Dynomite team,

As I mentioned on gitter chanell (sorry for delay) I was going thorough Dynomite source code trying to find root of problem reported here, I am pretty sure (of course, I am not C dev, I can be wrong) that problem is not parsing of Memcache protocol itself, but problem is in post_coalesce logic, e.g here
[code]

When I reach Redis post_coalesce, also, similar problem occurs :

[c

[2018-06-11 09:37] AlvaroBro commented on #563
After a lot of testing, including build without assertions, I can conclude that the problem is in the secure_server_option. If I set it to none then it doesn't crash.

[2018-06-11 11:36] AlvaroBro commented on #563
It stops crashing when I use the dynomite.pem file included in the repo, so it must be something about my pem file. Some info about how to generate a propper pem file for dynomite in the wiki??

Anyways I think I shall close this issue, I hope this helps someone somehow sometime :)

[2018-06-11 11:36] #563 closed, assigned to nobody

[2018-06-12 17:58] shailesh33 commented on #550
@KowalczykBartek  I think this has to do with the way request is fragmented in dyn_memcache.c
Let me see if I can dig deeper here today or tomorrow., is it straight forward to reproduce

[2018-06-12 18:01] shailesh33 commented on #550
Can you try commenting the assert and see if it helps? ( i doubt but might be worth?)

[2018-06-13 13:27] tolikr opened #565 "Merge values"
Does dynomite support merge values after network issue occurs?

I have 2 dynomite instaces connected to 2 redis servers. After connection breaks, i add on one dynomite instance "test" -> "test1", on another i add "test" -> "test2". After connection re-established, values swaps between instances. I expected that one should be dropped, and use last updated. Do i mistake?

[2018-06-14 01:15] marimcmurtrie commented on #503
I have the same exact question! Will someone please answer this? What are those:
[code]
Thank you!!

[2018-06-14 11:27] thegreathir commented on #69
Hi,
As I recognized there is a tool called **Florida** that will rebalance  the data after add/remove a node.
I am planning to use dynomite and I can not use dyno client because my clients are developed in C,
I want to know will you opensource Florida and if yes when will you do this?

[2018-06-14 15:17] shailesh33 commented on #69
Florida was a previous name, it is now called dynomite-manager and it is already open source. https://github.com/Netflix/dynomite-manager/

[2018-06-15 14:50] AlvaroBro opened #566 "Dynomite SIGSEGV crash (both v0.5.9 and v0.6 branches)"
[code]

My config, first node:

[code]

[2018-06-15 14:59] AlvaroBro commented on #566
Same problem in v0.6:

[code]

[2018-06-15 15:27] AlvaroBro commented on #566
Changing consistency configuration seems to prevent the crash:

[code]

Might be a clue.

[2018-06-15 15:28] AlvaroBro commented on #566
I have quite a situation in the office right now and this can became a major problem, I would be so grateful for any feedback or tips, please!! thank you.

[2018-06-16 05:46] kranthik2 commented on #566
@AlvaroBro  not sure it is related, but I faced similar problem as signal 11 (SIGSEGV) error. We are primarily using dynomite for replication, not using token aware load balancing and have custom load balancing at cluster level.

We are using same token for all the nodes, below code runs in infinite loop causing SIGSEGV error when dynomite trying to derive tokens  (https://github.com/Netflix/dynom

[2018-06-18 07:57] AlvaroBro commented on #566
Hey @kranthy , thanks for the comment! Are you pointing the fact that I configured all the tokens as 0? I also use Dynomite for replication and I'm not interested in sharding so that's why I set token to 0 as that is something I saw in various examples. Also, did you explicitly see dyn_token.c in the stacktrace in your case?

[2018-06-18 10:18] haron opened #567 "REST /ping doesn't check Redis storage status"
http://localhost:22222/ping returns OK regardless of Redis status (e.g. when all Redis nodes are stopped). This behavior contradicts the [documentation](https://github.com/Netflix/dynomite/wiki/REST):

[2018-06-18 14:36] kranthik2 commented on #566
@AlvaroBro  yes like you, we are using same token for all nodes with florida_provider below is the error that we get

` [2018-06-18 14:32:33.881] dn_stacktrace:326 [0] /lib/x86_64-linux-gnu/libpthread.so.0(+0x11390) [0x7f5f26f8a390]
[2018-06-18 14:32:33.883] dn_stacktrace:326 [1] /apps/dynomite/src/dynomite(parse_dyn_token+0x171) [0x437a01]
[2018-06-18 14:32:33.886] dn_stacktrace:326 [2] /apps/dyn

[2018-06-20 09:53] AlvaroBro commented on #566
Problem is for some reason here in dyn_response_mgr.c:

[code]

Because without assert enabled I see:

And for some reason rspmgr->err_rsp happens to be null because with assert enabled I see:

[2018-06-20 10:19] AlvaroBro commented on #566
I have also tried setting `timeout` to 30000 instead of the low value I was using but still crashing the same way with `dc_one` consistency. I need `dc_quorum` and of course I need it not to crash :(
I am going to try to raw Redis + replication (master/slave) + stunnel + some logic to achieve what dynomite offered out of the box :(

[2018-06-20 16:25] brucewaynev opened #568 "Dynomite doesnt pickup the seeds list dynamically."
Hi,

I have two clusters dc1 and dc2 in us-east and us-west regions. Each dc with three racks and each rack with one node each. the racks are named after the availability zone the node is spun up. so my racks are 1a, 1b,  2a, 2b  We first spun up the east cluster and then the west cluster. The behavior im seeing is that dynomite is not picking up the seeds dynamically. The replications are only be

[2018-06-20 19:02] marimcmurtrie opened #569 "Multi-datacenter, multi-rack, multi-node Dynomite config"
Hello, I just started leaning Dynomite last week. I need help if my Dynomite configs are right.

I am not using Amazon AWS at all, everything is in-house. I want to set up multi-datacenter, multi-rack, multi-node cluster in order to figure out configuration. Also, I am writing client-side code using Dyno client (Dyno-Jedis) so that I can make this work end-to-end. I write API in Dropwizard framewo

[2018-06-20 20:58] brucewaynev commented on #568
After further digging, The issue is that we are not using sharding and had every node contain the whole data set. We had "12345678" for tokens in the yaml for all the nodes.  The logic around update seeds has a issue with this. The replication worked fine if tokens is set to '0' in all the instances.

[2018-06-21 09:01] binbowang1987 opened #570 "dynomite core down"
dynomite version: v0.6.7
configuration:
dyn_o_mite:
  datacenter: dc_cq
  rack: rack1
  dyn_listen: 172.19.3.113:8101
  dyn_seeds:
  - 172.19.3.114:8101:rack1:dc_cq:1073741823
  - 172.19.3.116:8101:rack1:dc_cq:2147483646
  - 172.19.3.117:8101:rack1:dc_cq:3221225469
  - 172.22.128.40:8101:rack1:dc_wx:0
  - 172.22.128.41:8101:rack1:dc_wx:1073741823
  - 172.22.128.42:8101:rack1:dc_wx:2147483646
  - 1

[2018-06-25 03:53] ipapapa commented on #567
You are correct. There is a bug in the response of the REST call. The `PING` in Dynomite works fine some there is a small disconnect there. We are not using that end-point. Let me know if you want to fix it or we can take care of it.

[2018-06-25 06:58] binbowang1987 opened #571 "Dynomite core down when use pipeline"
Dynomite version: 0.5.9-5_MuslCompatiblity

process to reproduce:
redis-benchmark -p 8102 -q -t set,get -c 100 -P 10

here is the gdb back trace:
#0  0x0000003518c32625 in raise () from /lib64/libc.so.6
#1  0x0000003518c33e05 in abort () from /lib64/libc.so.6
#2  0x00000000004381a0 in _log (file=0x478b6a "_msg_get", line=300, panic=1,
    fmt=0x4785c0 "Bad link elm %p next->prev != elm") at ../dyn

[2018-06-25 13:03] ipapapa commented on #571
You are using a fairly old version of Dynomite. The latest one is 0.6.7: https://github.com/Netflix/dynomite/releases

Please update and retry.

However, it works in my instance. Hence we need to see what is causing the issue:
[code]

Moreover, please provide some more info on the environment you are using.

[2018-06-25 13:07] ipapapa commented on #570
How did you get this issue?

[2018-06-25 13:11] ipapapa commented on #569
Since everything is working I would say you are good to go. One thing that I am curious is why are you multiple Dynomite processes in each node. You could just run one.

[2018-06-25 13:15] ipapapa commented on #568
In a cluster that I have where each node contains the whole token range in every AZ everything works fine with `  tokens: '1383429731'`. You might be looking something wrong... You can also use the `cluster_describe` REST call in each node to figure out what the node is seeing as a cluster: https://github.com/Netflix/dynomite/wiki/REST

[2018-06-25 13:18] ipapapa commented on #565
The last write should win. During the network disconnectivity, the data will be lost. After the connection is re-established there should be no problem. If the data have the same key it is up to Redis to merge them not Dynomite.

[2018-06-25 13:19] ipapapa commented on #540
Can you give it a try with the latest version v0.6.7? This most probably has been resolved by https://github.com/Netflix/dynomite/pull/562

[2018-06-25 18:08] marimcmurtrie commented on #569
Hi @ipapapa
Thank you for your response. I am not running multiple processes in each node (or I am not getting what you said). What made you think that? Is it because some nodes have the same token? I thought token has to be unique per rack, isn't it? Let me know so I can understand.

I think config is fine. I figured out a lot since I asked this question. Now the most confusing part is actually D

[2018-06-25 18:27] #568 closed, assigned to ipapapa

[2018-06-25 19:54] venendroid opened #572 "Unable to sync data between data centers"
Hi All,

  I have two datacenters with Redis and Dynomite on each:

DC1:[Sample IP : 30.30.30.30] Has below configuration:
[code]

  Dc2: [Sample IP: 50.50.50.50] has below configuration:
[code]

  Internally Dynomite and Redis are able to communicate properly on each DC. When we set a key on dynomite, we are able to data sync to local Redis (confirmed by using redis monitor). But, I don't see dat